<a href="https://colab.research.google.com/github/ProfessorPatrickSlatraigh/CST2312/blob/main/CST2312_D222_Fall2022_Class_03_07_Sep_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **CST2312 - Class 03**

**Examples** from: 
# Lesson 6 (Loops and Iteration)

```
# This is formatted as code
```


*was old lesson5*    
of Python For Everybody (p4e.com/lessons)

### 6(5).1 Updating variables

In [ ]:
x = 0
x = x + 1

In [ ]:
print(x)

### 6(5).2 The while statement

In [ ]:
n = 5
while n > 0:
    print(n)
    n = n - 1
print('Blastoff!')

### 6(5).4 “Infinite loops” and break

In [ ]:
n = 10
while True:
    print(n, end=' ')
    n = n - 1
print('Done!')

In [ ]:
while True:
    line = input('> ')
    if line == 'done':
        break
    print(line)
print('Done!')

### 6(5).5 Finishing iterations with continue

In [ ]:
while True:
    line = input('> ')
    if line[0] == '#':
        continue
    if line == 'done':
        break
    print(line)
print('Done!')

### 6(5).6 Definite loops using for

In [ ]:
friends = ['Joseph', 'Glenn', 'Sally']
for friend in friends:
    print('Happy New Year:', friend)
print('Done!')

### 6(5).7 Loop patterns
#### 6(5).7.1 Counting and summing loops

In [ ]:
count = 0
for itervar in [3, 41, 12, 9, 74, 15]:
    count = count + 1
print('Count: ', count)

In [ ]:
total = 0
for itervar in [3, 41, 12, 9, 74, 15]:
    total = total + itervar
print('Total: ', total)

#### 6(5).7.2 Maximum and minimum loops

In [ ]:
largest = None
print('Before:', largest)
for itervar in [3, 41, 12, 9, 74, 15]:
    if largest is None or itervar > largest :
        largest = itervar
    print('Loop:', itervar, largest)
print('Largest:', largest)

In [ ]:
smallest = None
print('Before:', smallest)
for itervar in [3, 41, 12, 9, 74, 15]:
    if smallest is None or itervar < smallest:
        smallest = itervar
    print('Loop:', itervar, smallest)
print('Smallest:', smallest)

**See the class notes on Blackboard and the Charles Severance lectures on py4e.com for more information.**



---

**Examples** from: 
# Lesson 9 (Lists)    
*was old lesson 8*    
of Python For Everybody (p4e.com/lessons)

### 9(8).1 A list is a sequence

In [ ]:
# There are several ways to create a new list; the simplest is to enclose the elements in square brackets ([ and ]):
[10, 20, 30, 40]

In [ ]:
['crunchy frog', 'ram bladder', 'lark vomit']

In [ ]:
# list contains a string, a float, an integer, and (lo!) another list:
['spam', 2.0, 5, [10, 20]]

In [ ]:
cheeses = ['Cheddar', 'Edam', 'Gouda']
numbers = [17, 123]
empty = []
print(cheeses, numbers, empty)

### 9(8).2 Lists are mutable

In [ ]:
# the indices start at 0:
print(cheeses[0])

In [ ]:
numbers = [17, 123]
numbers[1] = 5
print(numbers)

In [ ]:
cheeses = ['Cheddar', 'Edam', 'Gouda']
'Edam' in cheeses

In [ ]:
'Brie' in cheeses

### 9(8).3 Traversing a list

In [ ]:
for cheese in cheeses:
    print(cheese)

In [ ]:
for i in range(len(numbers)):
    numbers[i] = numbers[i] * 2
    print(numbers[i])

In [ ]:
# A for loop over an empty list never executes the body
for x in empty:
    print('This never happens.')

In [ ]:
# Although a list can contain another list, the nested list still counts as a single element. The length of this list is
t = ['spam', 1, ['Brie', 'Roquefort', 'Pol le Veq'], [1, 2, 3]]
len(t)

### 9(8).4 List operations

In [ ]:
# The + operator concatenates lists:
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b
print(c)

In [ ]:
# the * operator repeats a list a given number of times:
[0] * 4

In [ ]:
[1, 2, 3] * 3

### 9(8).5 List slices

In [ ]:
t = ['a', 'b', 'c', 'd', 'e', 'f']
t[1:3]

In [ ]:
t[:4]

In [ ]:
t[3:]

In [ ]:
t[:]

In [ ]:
# A slice operator on the left side of an assignment can update multiple elements:
t = ['a', 'b', 'c', 'd', 'e', 'f']
t[1:3] = ['x', 'y']
print(t)

### 9(8).6 List methods

In [ ]:
t = ['a', 'b', 'c']
t.append('d')
print(t)

In [ ]:
t1 = ['a', 'b', 'c']
t2 = ['d', 'e']
t1.extend(t2)
print(t1)

In [ ]:
t = ['d', 'c', 'e', 'b', 'a']
t.sort()
print(t)

### 9(8).7 Deleting elements

In [ ]:
t = ['a', 'b', 'c']
x = t.pop(1)
print(t)
print(x)

In [ ]:
# If you don’t need the removed value, you can use the del operator:
t = ['a', 'b', 'c']
del t[1]
print(t)

In [ ]:
# If you know the element you want to remove (but not the index), you can use remove:
t = ['a', 'b', 'c']
t.remove('b')
print(t)

In [ ]:
# To remove more than one element, you can use del with a slice index:
t = ['a', 'b', 'c', 'd', 'e', 'f']
del t[1:5]
print(t)

### 9(8).8 Lists and functions

In [ ]:
nums = [3, 41, 12, 9, 74, 15]

In [ ]:
len(nums)

In [ ]:
max(nums)

In [ ]:
min(nums)

In [ ]:
sum(nums)

In [ ]:
sum(nums)/len(nums)

In [ ]:
# To compute an average without a list:
total = 0
count = 0
while (True):
    inp = input('Enter a number: ')
    if inp == 'done': break
    value = float(inp)
    total = total + value
    count = count + 1

average = total / count
print('Average:', average)

In [ ]:
# Use built-in functions to compute the sum and count at the end
numlist = list()
while (True):
    inp = input('Enter a number: ')
    if inp == 'done': break
    value = float(inp)
    numlist.append(value)

average = sum(numlist) / len(numlist)
print('Average:', average)

### 9(8).9 Lists and strings

In [ ]:
# convert dtring to list using built in function
s = 'spam'
t = list(s)
print(t)

In [ ]:
# To break a string into words, use the split method
s = 'pining for the fjords'
t = s.split()
print(t)

In [ ]:
print(t[2])

In [ ]:
# split with an optional argument called a delimiter
s = 'spam-spam-spam'
delimiter = '-'
s.split(delimiter)

In [ ]:
# join is the inverse of split
t = ['pining', 'for', 'the', 'fjords']
delimiter = ' '
delimiter.join(t)

### 9(8).10 Parsing lines

Upload the exercise file `mbox-short.txt` to the current working directory before executing the next code.  For Google Colab sessions the initial current working directory is `\content\`

Here is a shareable link to `mbox-short.txt` on Professor Patrick's Google Drive:      

https://bit.ly/mboxshorttxt

In [ ]:
fhand = open('mbox-short.txt')
for line in fhand:
    line = line.rstrip()
    if not line.startswith('From '): continue
    words = line.split()
    print(words[2])

### 9(8).11 Objects and values

In [ ]:
a = 'banana'
b = 'banana'
# To check whether two variables refer to the same object, use the 'is' operator.
a is b

In [ ]:
a = [1, 2, 3]
b = [1, 2, 3]
# two lists are equivalent, because they have the same elements, but not identical, because they are not the same object
a is b

### 9(8).12 Aliasing

In [ ]:
a = [1, 2, 3]
b = a
b is a

# The association of a variable with an object is called a reference. In this example,
# there are two references to the same object.
# An object with more than one reference has more than one name, so we say that
# the object is aliased.

In [ ]:
b[0] = 17
print(a)

# If the aliased object is mutable, changes made with one alias affect the other

### 9(8).13 List arguments

In [ ]:
def delete_head(t):
    del t[0]

In [ ]:
letters = ['a', 'b', 'c']
delete_head(letters)
print(letters)

In [ ]:
# The append method modifies a list, but the + operator creates a new list:
t1 = [1, 2]
t2 = t1.append(3)
print(t1)

In [ ]:
print(t2)

In [ ]:
t3 = t1 + [3]
print(t3)

In [ ]:
t2 is t3

In [ ]:
# this function does not delete the head of a list:
def bad_delete_head(t):
    t = t[1:]

In [ ]:
# tail returns all but the first element of a list:
def tail(t):
    return t[1:]

In [ ]:
letters = ['a', 'b', 'c']
rest = tail(letters)
print(rest)



---

**See the class notes on Blackboard and the Charles Severance lectures on py4e.com for more information.**



---