<a href="https://colab.research.google.com/github/ProfessorPatrickSlatraigh/CST2312/blob/main/CST2312_HD32_Spr2023_Class_09_27_Feb_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **CST2312 - Class #09**    
    
Covering Python for Everybody, Lesson 9 on **dictionaries**  and Lesson 10 on **tuples** using Google Colab by Professor Patrick, 27-Sep-2021 | updated: 24-Feb-2023.     

This notebook begins with a section on:     
    
  - **Tuples Exercises**      

Followed by a section on:    
    
  - **More About Dictionaries**

## Housekeeping    

Imports and other initiatlization statements

In [ ]:
import numpy as np   
import math



---

## Tuples Exercises

Try each of the following quick exercises using **tuples**.    

*Do not look yet, but the last section of this notebook has some example solutions to these exercises.*

### Class #09 - Exercise 1: Tuple Assignment from First    

Using the tuple created on line 1 of the following code, create a statement which assigns the **first** value of `x1_tuple` to the variable `x1_answer`.

In [ ]:
x1_tuple = ('getting', 'way', 'too', 'big', 'for', 'your', 'boots', '...', 'never', 'too', 'big')
# complete the following assignment according to the instruction above: 
x1_answer = 
print(x1_answer)



---

### Class #09 - Exercise 2: Tuple Assignment from Third    

Using the tuple created on line 1 of the following code, create a statement which assigns the **third** value of `x2_tuple` to the variable `x2_answer`.

In [ ]:
x2_tuple = ('getting', 'way', 'too', 'big', 'for', 'your', 'boots', '...', 'never', 'too', 'big')
# complete the following assignment according to the instruction above: 
x2_answer = 
print(x2_answer)



---

### Class #09 - Exercise 3: Tuple Assignment from Last    

Using the tuple created on line 1 of the following code, create a statement which assigns the **fourth from last** value of `x3_tuple` to the variable `x3_answer`.

In [ ]:
x3_tuple = ('getting', 'way', 'too', 'big', 'for', 'your', 'boots', '...', 'never', 'too', 'big')
# complete the following assignment according to the instruction above: 
x3_answer = 
print(x3_answer)



---

### Class #09 - Exercise 4: Tuple Element Index Position    

Using the tuple created on line 1 of the following code, create a statement which determines the value of the index position (an integer) of **'big'** in the variable `x4_tuple` and assign that value to the variable `x4_answer`.

In [ ]:
x4_tuple = ('getting', 'way', 'too', 'big', 'for', 'your', 'boots', '...', 'never', 'too', 'big')
# complete the following assignment according to the instruction above: 
x4_answer = 
print(x4_answer)

*[*Hint*](https://www.w3schools.com/python/python_tuples_methods.asp)



---

### Class #09 - Exercise 5: Tuple Element Value Count   

Using the tuple created on line 1 of the following code, create a statement which determines the value of the number of times (count) that **'too'** exists in the variable `x5_tuple` and assign that value to the variable `x5_answer`.

In [ ]:
x5_tuple = ('getting', 'way', 'too', 'big', 'for', 'your', 'boots', '...', 'never', 'too', 'big')
# complete the following assignment according to the instruction above: 
x5_answer = 
print(x5_answer)

*[*Hint*](https://www.w3schools.com/python/python_tuples_methods.asp)



---

### Class #09 - Exercise 6: Tuple Elements Sums    

Using the tuple created on line 1 of the following code, calculate the **sum** of the values in the variable `x6_tuple` and assign that **sum** to the variable `x6_answer`.

In [ ]:
x6_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11)
# complete the following assignment according to the instruction above: 
x6_answer = 
print(x6_answer)

*[*Hint*](https://datascienceparichay.com/article/python-tuple-sum/)



---

### Class #09 - Exercise 7: Tuple Element Value Count   

Using the tuple created on line 1 of the following code, create a statement which determines the **sum** of the **length** of each element that exists in the variable `x7_tuple` and assign that value to the variable `x7_answer`.

In [ ]:
x7_tuple = ('getting', 'way', 'too', 'big', 'for', 'your', 'boots', '...', 'never', 'too', 'big')
# complete the following assignment according to the instruction above: 
# one-liner  
x7_answer = 
print(x7_answer)

*[*Hint*](https://www.tutorialgateway.org/python-program-to-find-sum-of-tuple-items/)



---

### Class #09 - Exercise 8: Tuple Selected Elements Sums    

Using the tuple created on line 1 of the following code, calculate the **sum** of the integer values in the variable `x8_tuple` and assign that **sum** to the variable `x8_answer`.

In [ ]:
x8_tuple = ('getting', 2, 'too', 4, 'for', 6, 'boots', 8, 'never', 10, 'big')
# complete the following assignment according to the instruction above: 
x8_answer = 
print(x8_answer)



---

### Class #09 - Exercise 9: Tuple Elements Sums    

Using the tuple created on line 1 of the following code, calculate the ratio of the **minimum** of the values in the variable `x9_tuple`  divided by the **maximum** of the values in the variable `x9_tuple` and assign that **ratio's value** to the variable `x9_answer`.

In [ ]:
x9_tuple = (101, 222, 3, 420, 555, 629, 711, 88, 9, 1000, 11)
# complete the following assignment according to the instruction above: 
x9_answer =  
print(x9_answer)

*[*Hint*](https://www.geeksforgeeks.org/python-min-and-max-value-in-list-of-tuples/)



---

## More About Dictionaries

 
**[Introducton to Dictionaries](https://medium.com/analytics-vidhya/an-introduction-to-python-dictionary-520302924ef8) (from Indhumathy Chelliah on Medium.com)**   
    

by Professor Patrick, 12-Oct-2022 | Updated: 24-Feb-2023



---

### Different ways of creating a dictionary using dict() constructor    



```
dict(**kwarg)
dict(mapping, **kwarg)
dict(iterable, **kwarg)
```    

**kwarg-arbitary number of keyword arguments

#### Creating a dictionary from keyword arguments:    


```
dict(**kwarg)
```

In [ ]:
d=dict(red=1,blue=2,green=3)
print (d) 
#Output:{'red': 1, 'blue': 2, 'green': 3}

#### Creating a dictionary using mapping:

~~~
dict(mapping,**kwarg)
~~~

In [ ]:
#creating dictionary by using dict()constructor - mapping
d=dict({'red':1,'blue':2,'green':3})
print (d) #Output:{'red': 1, 'blue': 2, 'green': 3}


#creating dictionary by using dict()constructor - mapping. keyword arguments can also be passed.
d=dict({'red':1,'blue':2},green=3)
print (d) #Output:{'red': 1, 'blue': 2, 'green': 3}


#without dict() constructor
d={'red':1,'blue':2,'green':3}
print (d)#Output:{'red': 1, 'blue': 2, 'green': 3}

#### Creating dictionary using an iterable.

~~~
dict(iterable,**kwarg)
~~~

In [ ]:
#creating dictionary by using iterables
d=dict([('red',1),('blue',2),('green',3)])
print (d)#Output:{'red': 1, 'blue': 2, 'green': 3}

In [ ]:
#creating dictionary using iterables and keyword arguments
d=dict([('red',1),('blue',2)],green=3)
print (d)#Output:{'red': 1, 'blue': 2, 'green': 3}

In [ ]:
pair_zip = zip(['red','green','blue'],[1,2,3])

In [ ]:
for pair in pair_zip: 
    print(pair)

In [ ]:
#creating dictionary by using zip().zip() also creates iterables
d=dict(zip(['red','green','blue'],[1,2,3]))
print (d)#Output:{'red': 1, 'green': 2, 'blue': 3}


---

### Zip two lists as `key : value` pairs for `dict()`

In [ ]:
st_abbr_lst = ["AL",
"AK",
"AZ",
"AR",
"CA",
"CO",
"CT",
"DE",
"FL",
"GA",
"HI",
"ID",
"IL",
"IN",
"IA",
"KS",
"KY",
"LA",
"ME",
"MD",
"MA",
"MI",
"MN",
"MS",
"MO",
"MT",
"NE",
"NV",
"NH",
"NJ",
"NM",
"NY",
"NC",
"ND",
"OH",
"OK",
"OR",
"PA",
"RI",
"SC",
"SD",
"TN",
"TX",
"UT",
"VT",
"VA",
"WA",
"WV",
"WI",
"WY"]

In [ ]:
print(len(st_abbr_lst))

In [ ]:
st_name_lst = ["Alabama",
"Alaska",
"Arizona",
"Arkansas",
"California",
"Colorado",
"Connecticut",
"Delaware",
"Florida",
"Georgia",
"Hawaii",
"Idaho",
"Illinois",
"Indiana",
"Iowa",
"Kansas",
"Kentucky",
"Louisiana",
"Maine",
"Maryland",
"Massachusetts",
"Michigan",
"Minnesota",
"Mississippi",
"Missouri",
"Montana",
"Nebraska",
"Nevada",
"New Hampshire",
"New Jersey",
"New Mexico",
"New York",
"North Carolina",
"North Dakota",
"Ohio",
"Oklahoma",
"Oregon",
"Pennsylvania",
"Rhode Island",
"South Carolina",
"South Dakota",
"Tennessee",
"Texas",
"Utah",
"Vermont",
"Virginia",
"Washington",
"West Virginia",
"Wisconsin",
"Wyoming"]

In [ ]:
print(len(st_name_lst))

In [ ]:
# using `zip()` to pass tuple pairs to `dict()` and create a dictionary 
st_ab2name_dict = dict(zip(st_abbr_lst, st_name_lst))

How would you use that new `st_ab2name_dict` to print the name of the state with the two-letter abbreviation **'CT'**?

In [ ]:
st_ab2name_dict['CT']

In [ ]:
# using that lookup based on user input
find_st_str = input("Enter a two-letter state abbreviation: ") 
try:
    find_st_str = find_st_str.upper()
    print(f'The state name for "{find_st_str}" is', st_ab2name_dict[find_st_str])
except:
    print('Unable to find a two-letter state abbreviation for: ', find_st_str)



---

### Dictionary methods.

~~~    
keys()
Return a new view of dictionary’s keys.
values()
Return a new view of a dictionary’s values.
items()
Return a new view of dictionary’s items (key,value)pairs.
~~~

In [ ]:
#creating dictionary:

d={'name':'karthi',
   'age':7,
   'city':'chennai',
    }

#print only keys
print (d.keys())  #Output: dict_keys(['name', 'age', 'city'])

#print (key,value) pair.
print (d.items()) #Output: dict_items([('name', 'karthi'), ('age', 7), ('city', 'chennai')])

#print only values
print (d.values()) #Output: dict_values(['karthi', 7, 'chennai'])

#### Accessing the values from a dictionary
We can access the values by using the get method and also by indexing. If the key doesn’t exist in a dictionary means, get method returns None.
But when we use indexing, it will raise `KeyError`.

~~~
get()
get(key,default)
~~~    

Returns the value of that specified key. If the key doesn’t exist in a dictionary means returns None. If the default is specified, it will return the default value if the key doesn’t exist.

In [ ]:
d={'name':'karthi',
   'age':7,
   'city':'chennai',
    }

#get(accessing using get method)
print(d.get("name")) # Output: karthi


#If key doesn't exists in a dictionary means ,returns None
print (d.get('rollno')) # Output: None


#default is mentioned.
print (d.get('rollno',"Not Available"))#Output:Not Available

#### Using indexing

~~~
d[key]
~~~

Returns the value of the key. If the key doesn’t exist in a dictionary means it will raise `KeyError`.

In [ ]:
d={'name':'karthi',
   'age':7,
   'city':'chennai',
    }

#accessing using index
print (d['name']) #Output: karthi

In [ ]:
# If key doesn't exists in a dictionary means and if we use index, then it will raise KeyError
print (d['rollno']) # Output: KeyError: 'rollno'


---

#### Assigning /Updating values
~~~
d[key]=value
~~~

Set `d[key]` to value. If the key already exists in a dictionary means, it will update the value. If the key doesn’t exist in a dictionary means, it will add that key, value pair.

In [ ]:
d={'name':'karthi',
   'age':7,
   'city':'chennai',
    }
print (d)#Output:{'name': 'karthi', 'age': 7, 'city': 'chennai'}


#Assigning values. If key already exists in a dictionary means,it will update value.
d['age']=8
print (d)#Output:{'name': 'karthi', 'age': 8, 'city': 'chennai'}

In [ ]:
#Assigning values.If key doesn't exists in a dictionary means,it will add that key.
d['rollno']=12
print (d)#Output:{'name': 'karthi', 'age': 8, 'city': 'chennai', 'rollno': 12}


---

#### iter()

~~~
iter(d)
~~~

Return an iterator over the keys in a dictionary.

In [ ]:
d={'name':'karthi',
   'age':7,
   'city':'chennai',
  }

#Return an iterator containing  keys
i=iter(d)
print (i)#Output:<dict_keyiterator object at 0x00D13BE0>

In [ ]:
#converting iterator to list object
print (list(i))#Output:['name', 'age', 'city']


---

#### fromkeys()
Create a new dictionary with keys from iterable and values set to value.
`fromkeys()` is a class method that returns a new dictionary. value defaults to `None`.
~~~
fromkeys(iterable,value)
~~~

In [ ]:
#fromkeys()
#fromkeys() method returns a dictionary with the specified keys and the specified value.
a={'a','e','i','o','u'}
b='vowels'
d1=dict.fromkeys(a,b)
print(d1)
#Output: {'o': 'vowels', 'u': 'vowels', 'e': 'vowels', 'i': 'vowels', 'a': 'vowels'}
#dictionary is unordered.

#if value is not mentioned,it defaults to None.
d2=dict.fromkeys(a)
print (d2)#Output:{'e': None, 'a': None, 'u': None, 'i': None, 'o': None}

#### setdefault()
`setdefault()` method returns the value of a key (if the key is in a dictionary).
If not, it inserts a key with a value to a dictionary. If the key is only mentioned, it will insert key with value as `None`.    
~~~
setdefault(key,default)
~~~

In [ ]:
#setdefault - if key is not there , will add the key with value none
person = {'name': 'karthi', 'age': 7}
city = person.setdefault('city')
print(person)
#Output:{'name': 'karthi', 'age': 7, 'city': None}


#setdefault- if key  is not  there , will add key and value specified
person = {'name': 'karthi', 'age': 7}
city = person.setdefault('city','chennai')
print(person)
#Output:{'name': 'karthi', 'age': 7, 'city': 'chennai'}

#setdefault-> if key exists, returns the value of that specified key
person = {'name': 'karthi', 'age': 7}
age=person.setdefault('age',10)
print(person.setdefault('age',10)) #Output:7
print (person)
#Output:{'name': 'karthi', 'age': 7}

### Updating the items in a dictionary

**`update()`**    

`update()` method is used to merge the second dictionary into the first dictionary. It will update the value of the first dictionary.
It won’t create a new dictionary. It is used for merging two dictionaries.    

`update()` method adds elements to a dictionary if the key is not in that dictionary. If the key is in a dictionary means, it will update the new `value.Update()` function won’t return any value.    

`update(other)`

`other` argument can be another dictionary object or an iterable of key/value pairs (as tuples or other iterables of length two). If keyword arguments are specified, a dictionary is then updated with those key/value pairs.

In [ ]:
#update() - combining - merging both dictionaries and updating first - dictionary
first={'name':'karthi',
   'age':7,
   'city':'chennai',
    }

second={'name':'sarvesh',
'age':3}  

#update () function won't return any value.
print(first.update(second))
#Output: None

print(first)
#Output:{'name': 'sarvesh', 'age': 3, 'city': 'chennai'}

### Removing items from a dictionary

**`popitem()`**    

Remove and return a (key, value) pair from a dictionary. Pairs are returned in LIFO order. If a dictionary is empty, calling popitem() raises a KeyError. — python docs

**`pop()`**    

If the key is in a dictionary, remove it and return its value, else return default. If the default is not given and the key is not in a dictionary, a `KeyError` is raised.    


**`pop(key,default)`**

In [ ]:
d1 = {'name': 'karthi',
      'age': 7,
      'city': 'chennai',
      }

# popitem
# The popitem() method removes and returns the last element (key, value) pair inserted into a dictionary.
print(d1.popitem())  # Output:('city', 'chennai')
print (type(d1.popitem()))#Output:<class 'tuple'>
print(d1)  # Output:{'name': 'karthi', 'age': 7}


# pop
# pop() method removes and returns a value from a dictionary for  the given key.
print(d1.pop('name'))  # Output:Karthi
print(d1)  # Output: {'age': 7}


# If key is not in dictionary and value is given as default argument means,it will return the default value.
print(d1.pop("city", "Not found"))  # Output: Not found


# if key is not in dictionary  and default value not given means it will raise KeyError
# print (d1.pop('rollno')) #Output: KeyError: 'rollno'

**`clear()`**    

`clear()` will empty a dictionary.   Its return value is `None`.    

**`del`** keyword is used to delete a dictionary itself.    

We can also delete the key from a dictionary by using del keyword. If the key is not in a dictionary means, then it will raise `KeyError`.

In [ ]:
d = {'name': 'karthi',
      'age': 7,
      'city': 'chennai',
      }


# If key is in dictionary means, it is removed from a dictionary.
del d['name']
print(d)  # Output: {'age': 7, 'city': 'chennai'}


# If key is not in dictionary means KeyError is thrown.
del d['state']# Output:KeyError: 'state'


# clear - it will empty a dictionary.
d.clear()
# clear() method will return None.It will clear the original dictionary
print(d.clear())  # Output: None.
print(d)  # Output: {}

# del - del keyword is used to delete a dictionary itself.
del d
# d1 is deleted and is not available.
print (d) #Output: NameError: name 'd' is not defined

### **copy() vs deepcopy()**

**`copy()`** method returns the shallow copy of the existing dictionary. A shallow copy means a new dictionary value is updated with references to objects in the existing dictionary.  Akin to an alias.    

If we change the value of immutable data types in the original dictionary, it is not reflected in the copied dictionary. But if we change the value of mutable datatypes like list means changes are reflected in the copied dictionary also.    

To avoid this, we can use a `deep copy()`. In `deepcopy()`, if we change either mutable or immutable data types of the original dictionary, changes are not reflected in a deep copied dictionary.

In [ ]:
import copy   
d={'Name':'karthi',
   'Rollno':12,
   'Marks':[100,90]
    }

d1=d.copy()
print (d1) #Output: {'Name': 'karthi', 'Rollno': 12, 'Marks': [100, 90]}

#modifying immutable data types
d['Rollno']=5
print (d) #Output: {'Name': 'karthi', 'Rollno': 5, 'Marks': [100, 90]}
#changes are not reflected in copied dictionary.
print (d1) #Output: {'Name': 'karthi', 'Rollno': 12, 'Marks': [100, 90]}

# modifying mutable datatypes
d['Marks'].append(99)
print (d) #Output: {'Name': 'karthi', 'Rollno': 5, 'Marks': [100, 90, 99]}
#changes are reflected in copied dictionary also.
print (d1)#Output: {'Name': 'karthi', 'Rollno': 12, 'Marks': [100, 90, 99]}

d2=copy.deepcopy(d1)
print (d2) #Output: {'Name': 'karthi', 'Rollno': 12, 'Marks': [100, 90, 99]}

#modifying immutabe data types
d1['Rollno']=15
print (d1) #Output:{'Name': 'karthi', 'Rollno': 15, 'Marks': [100, 90, 99]}
#changes are not reflected in copied dictionary.
print (d2) #Output: {'Name': 'karthi', 'Rollno': 12, 'Marks': [100, 90, 99]}

# modifying mutable datatypes
d1['Marks'].append(101)
print (d1) #Output: {'Name': 'karthi', 'Rollno': 15, 'Marks': [100, 90, 99, 101]}
#changes are not reflected in deep copied dictionary.
print (d2)#Output:{'Name': 'karthi', 'Rollno': 12, 'Marks': [100, 90, 99]}

### Dictionary view objects

The objects returned by:
 - `dict.keys()`
 - `dict.values()`
 - `dict.items()`     
 are view objects. They provide a dynamic view of a dictionary’s entries, which means that when a dictionary changes, the view reflects these changes.-python docs

Dictionary views can be iterated over to yield their respective data and support membership tests.    


**`iter(dictview)`**    

Return an iterator over the keys, values, or items in a dictionary

In [ ]:
# creating dictionary

d = {'name': 'karthi',
     'age': 7,
     'city': 'chennai',
     }

#Returns key iterator object
k=d.keys()
print (iter(k))#Output:<dict_keyiterator object at 0x00A1E028>
#converting iterator to list object
print (list(iter(k)))#Output:['name', 'age', 'city']


#Returns items iterator object
i=d.items()
print (iter(i))#Output:<dict_itemiterator object at 0x00A1E028>
#looping through the iterator
for i in iter(i):
    print (i)
'''
('name', 'karthi')
('age', 7)
('city', 'chennai')
'''


#Return values iterator object
v=d.values()
print (iter(v))#Output:<dict_valueiterator object at 0x00A1E028>
#converting iterator to list object
print (list(iter(v)))#Output:['karthi', 7, 'chennai']

**`reversed(dictview)`**

Return a reverse iterator over the keys, values, or items of a dictionary. The view will be iterated in reverse order of the insertion.-python docs

In [ ]:
i = 7
print (i)

In [ ]:
# creating dictionary

d = {'name': 'karthi',
     'age': 7,
     'city': 'chennai',
     }

#Returns reversed key iterator object
k=d.keys()
print (reversed(k))#Output:<dict_reversekeyiterator object at 0x010C3BB8>
#converting iterator to list object
print (list(reversed(k)))#Output:['city', 'age', 'name']


#Returns reversed items iterator object
i=d.items()
print (reversed(i))#Output:<dict_itemiterator object at 0x00A1E028>

#looping through the iterator
for i in  reversed(i):
    print (i)
'''
('city', 'chennai')
('age', 7)
('name', 'karthi')
'''


#Return reversed values iterator object
v=d.values()
print (reversed(v))#Output:<dict_reversevalueiterator object at 0x01143BE0>
#converting iterator to list object
print (list(reversed(v)))#Output:['chennai', 7, 'karthi']

### Looping through a dictionary

In [ ]:
#creating dictionary

d={'name':'karthi',
   'age':7,
   'city':'chennai',
    }
    
#Print only the keys

for i in d:
    print (i)
'''    
Output:  
name
age
city
'''

#will print the (key,value) as a tuple   
for i in d.items():
    print (i)
    
'''
Output:
('name', 'karthi')
('age', 7)
('city', 'chennai')
'''

#will print the key,value in the format specified
for i,j in d.items():
    print(i,j)
'''
Output:
name karthi
age 7
city chennai
'''

#will print only the keys    
for i in d.keys():
    print(i)
'''
Output:
name
age
city
'''
    
#will print only the values    
for i in d.values():
    print(i)
    
'''
Output:
karthi
7
chennai
'''

### Dictionary Operations

#### Membership Test
**in, not in**

`in` — Returns True if the key is present in a dictionary. Checks only key and not values.

In [ ]:
d=dict([('red',1),('blue',2),('green',3)])
print (d)#Output:{'red': 1, 'blue': 2, 'green': 3}


#Checking whether the particular key is in dictionary or not.
if 'red' in d:
    print ("True")#Output:True


if 'yellow' in d:
    print ("True")
else:
    print ("False") #Output:False


if "yellow" not in d:
    print ("True")#Output:True

### Dictionary built-in functions

1. `len()` — Returns the length (no of items) of a dictionary.    
2. `list()`-Returns the list of all keys in a dictionary    
3. `sorted()`-Returns the sorted list of keys in a dictionary.    
4. `reversed()`-Return a reversed iterator over the keys of a dictionary.

In [ ]:
#creating dictionary by using iterables
d=dict([('red',1),('blue',2),('green',3)])
print (d)#Output:{'red': 1, 'blue': 2, 'green': 3}


#Returns the length(number of keys)of dictionary
print (len(d))#Output:3


#Returns the list of keys in a dictionary
print(list(d))#Output:['red', 'blue', 'green']


#Returns the sorted list of keys in a dictionary(by default ascending order)
print (sorted(d))#Output:['blue', 'green', 'red']


#Returns the sorted list of keys in a dictionary in descending order.
print (sorted(d,reverse=True))#Output:['red', 'green', 'blue']


#Returns the reversed list of keys in a dictionary.Returns an iterator object.
print (reversed(d))#Output:<dict_reversekeyiterator object at 0x005DEB90>
#Iterator object is converted to list object
print (list(reversed(d)))#Output:['green', 'blue', 'red']

4. `all()`: Returns True if all keys(not values) in a dictionary is `True` or if a dictionary is empty.

5. `any()`:Returns `True` if any `key`(not values) in a dictionary is `True`. If dictionary is empty returns `False`.

In [ ]:
#Creating dictionary in which all keys are True.
d={1:'apple',2:'orange',3:'banana'}
print (all(d)) #Output:True
print (any(d))#Output: True

#Empty dictionary
d1={}
print (all(d1))#Output: True
print (any(d1))#Output:False

#Creating dictionary in which one key is False
d2={0:'grapes',1:'apple',2:'orange',3:'banana'}
print (all(d2))#Output:False
print (any(d2))#Output:True

#Creating dictionary in which all keys are False
d3={0:'hello'}
print (all(d3))#Output:False
print (any(d3))#Output:False

**Conclusion**     

- Return type is view object    
`keys()`    
`values()`    
`items()`    

- Return type is List    
`list(d)`,`sorted(d)`    

- Return type is iterator    
`iter(d)`, `reversed(d)`, `iter(dictview)`    

- Return type is dictionary    
`copy()`, `deepcopy()`, `fromkeys()`    

- Return type is tuple    
`popitem()`     

- Return type is None    
`clear()`- Doesn’t return anything. It will clear the original dictionary.    
`update()`-Doesn’t return anything.It will update the original dictionary.   
 

- Return type is integer    
len()    

- Return type is Boolean
any(),all()    
reversed(d)- supported from Python version 3.8



---

## Solutions: Class 09 Tuple Exercises    

<font color="red"> Un-hide the following cells to see some solutions to the exercises presented earlier in this notebook. </font>

### <font color="blue"> <b> <--- Unhide the cells here </b> </font>

#### Class #09 - Exercise 1 (solution example): Tuple Assignment from First    

Using the tuple created on line 1 of the following code, create a statement which assigns the **first** value of `x1_tuple` to the variable `x1_answer`.

In [ ]:
x1_tuple = ('getting', 'way', 'too', 'big', 'for', 'your', 'boots', '...', 'never', 'too', 'big')
# complete the following assignment according to the instruction above: 
x1_answer = x1_tuple[0]
print(x1_answer)



---

#### Class #09 - Exercise 2 (solution example): Tuple Assignment from Third    

Using the tuple created on line 1 of the following code, create a statement which assigns the **third** value of `x2_tuple` to the variable `x2_answer`.

In [ ]:
x2_tuple = ('getting', 'way', 'too', 'big', 'for', 'your', 'boots', '...', 'never', 'too', 'big')
# complete the following assignment according to the instruction above: 
x2_answer = x2_tuple[2]
print(x2_answer)



---

#### Class #09 - Exercise 3 (solution example): Tuple Assignment from Last    

Using the tuple created on line 1 of the following code, create a statement which assigns the **fourth from last** value of `x3_tuple` to the variable `x3_answer`.

In [ ]:
x3_tuple = ('getting', 'way', 'too', 'big', 'for', 'your', 'boots', '...', 'never', 'too', 'big')
# complete the following assignment according to the instruction above: 
x3_answer = x3_tuple[-4]
print(x3_answer)



---

#### Class #09 - Exercise 4 (solution example): Tuple Element Index Position    

Using the tuple created on line 1 of the following code, create a statement which determines the value of the index position (an integer) of **'big'** in the variable `x4_tuple` and assign that value to the variable `x4_answer`.

In [ ]:
x4_tuple = ('getting', 'way', 'too', 'big', 'for', 'your', 'boots', '...', 'never', 'too', 'big')
# complete the following assignment according to the instruction above: 
x4_answer = x4_tuple.index('big')
print(x4_answer)

*[*Hint*](https://www.w3schools.com/python/python_tuples_methods.asp)



---

#### Class #09 - Exercise 5 (solution example): Tuple Element Value Count   

Using the tuple created on line 1 of the following code, create a statement which determines the value of the number of times (count) that **'too'** exists in the variable `x5_tuple` and assign that value to the variable `x5_answer`.

In [ ]:
x5_tuple = ('getting', 'way', 'too', 'big', 'for', 'your', 'boots', '...', 'never', 'too', 'big')
# complete the following assignment according to the instruction above: 
x5_answer = x5_tuple.count('too')
print(x5_answer)

*[*Hint*](https://www.w3schools.com/python/python_tuples_methods.asp)



---

#### Class #09 - Exercise 6 (solution example): Tuple Elements Sums    

Using the tuple created on line 1 of the following code, calculate the **sum** of the values in the variable `x6_tuple` and assign that **sum** to the variable `x6_answer`.

In [ ]:
x6_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11)
# complete the following assignment according to the instruction above: 
x6_answer = sum(x6_tuple)
print(x6_answer)

*[*Hint*](https://datascienceparichay.com/article/python-tuple-sum/)



---

#### Class #09 - Exercise 7 (solution example): Tuple Element Value Count   

Using the tuple created on line 1 of the following code, create a statement which determines the **sum** of the **length** of each element that exists in the variable `x7_tuple` and assign that value to the variable `x7_answer`.

In [ ]:
x7_tuple = ('getting', 'way', 'too', 'big', 'for', 'your', 'boots', '...', 'never', 'too', 'big')
# complete the following assignment according to the instruction above: 
# one-liner  
x7_answer  = sum([len(i) for i in x7_tuple])
print(x7_answer)

*[*Hint*](https://www.tutorialgateway.org/python-program-to-find-sum-of-tuple-items/)



---

#### Class #09 - Exercise 8 (solution example): Tuple Selected Elements Sums    

Using the tuple created on line 1 of the following code, calculate the **sum** of the integer values in the variable `x8_tuple` and assign that **sum** to the variable `x8_answer`.

In [ ]:
x8_tuple = ('getting', 2, 'too', 4, 'for', 6, 'boots', 8, 'never', 10, 'big')
# complete the following assignment according to the instruction above: 
x8_answer = 0
for element in x8_tuple:
    try:
        x8_answer += element
    except TypeError:
        pass
print(x8_answer)



---

#### Class #09 - Exercise 9 (solution example): Tuple Elements Sums    

Using the tuple created on line 1 of the following code, calculate the ratio of the **minimum** of the values in the variable `x9_tuple`  divided by the **maximum** of the values in the variable `x9_tuple` and assign that **ratio's value** to the variable `x9_answer`.

In [ ]:
x9_tuple = (101, 222, 3, 420, 555, 629, 711, 88, 9, 1000, 11)
# complete the following assignment according to the instruction above: 
x9_answer = min(x9_tuple) / max(x9_tuple)
print(x9_answer)

*[*Hint*](https://www.geeksforgeeks.org/python-min-and-max-value-in-list-of-tuples/)

In [ ]:
x9_tuple = (101, 222, 3, 420, 555, 629, 711, 88, 9, 1000, 11)
min_value = min(x9_tuple)
max_value = max(x9_tuple)
print(min_value, max_value)



---