<a href="https://colab.research.google.com/github/ProfessorPatrickSlatraigh/CST2312/blob/main/CST2312_D222_Fall2022_Class_11_12_Oct_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CST2312 - Class #11,     
**[Introducton to Dictionaries](https://medium.com/analytics-vidhya/an-introduction-to-python-dictionary-520302924ef8) (from Indhumathy Chelliah on Medium.com)**   
    

by Professor Patrick, 12-Oct-2022    


This notebook on Colab at `https://bit.ly/cst2312cl11`

This notebook works with shared links to the following files on Google Drive:



---

# **Introduction to (More on) Dictionaries**
**(from Indhumathy Chelliah on Medium.com)**

## Different ways of creating a dictionary using dict() constructor    



```
dict(**kwarg)
dict(mapping, **kwarg)
dict(iterable, **kwarg)
```    

**kwarg-arbitary number of keyword arguments

### Creating a dictionary from keyword arguments:    


```
dict(**kwarg)
```

In [ ]:
d=dict(red=1,blue=2,green=3)
print (d) 
#Output:{'red': 1, 'blue': 2, 'green': 3}

### Creating a dictionary using mapping:

~~~
dict(mapping,**kwarg)
~~~

In [ ]:
#creating dictionary by using dict()constructor - mapping
d=dict({'red':1,'blue':2,'green':3})
print (d) #Output:{'red': 1, 'blue': 2, 'green': 3}


#creating dictionary by using dict()constructor - mapping. keyword arguments can also be passed.
d=dict({'red':1,'blue':2},green=3)
print (d) #Output:{'red': 1, 'blue': 2, 'green': 3}


#without dict() constructor
d={'red':1,'blue':2,'green':3}
print (d)#Output:{'red': 1, 'blue': 2, 'green': 3}

### Creating dictionary using an iterable.

~~~
dict(iterable,**kwarg)
~~~

In [ ]:
#creating dictionary by using iterables
d=dict([('red',1),('blue',2),('green',3)])
print (d)#Output:{'red': 1, 'blue': 2, 'green': 3}


#creating dictionary using iterables and keyword arguments
d=dict([('red',1),('blue',2)],green=3)
print (d)#Output:{'red': 1, 'blue': 2, 'green': 3}


#creating dictionary by using zip().zip() also creates iterbales
d=dict(zip(['red','green','blue'],[1,2,3]))
print (d)#Output:{'red': 1, 'green': 2, 'blue': 3}

## Dictionary methods.

~~~    
keys()
Return a new view of dictionary’s keys.
values()
Return a new view of a dictionary’s values.
items()
Return a new view of dictionary’s items (key,value)pairs.
~~~

In [ ]:
#creating dictionary:

d={'name':'karthi',
   'age':7,
   'city':'chennai',
    }

#print only keys
print (d.keys())  #Output: dict_keys(['name', 'age', 'city'])

#print (key,value) pair.
print (d.items()) #Output: dict_items([('name', 'karthi'), ('age', 7), ('city', 'chennai')])

#print only values
print (d.values()) #Output: dict_values(['karthi', 7, 'chennai'])

### Accessing the values from a dictionary
We can access the values by using the get method and also by indexing. If the key doesn’t exist in a dictionary means, get method returns None.
But when we use indexing, it will raise `KeyError`.

~~~
get()
get(key,default)
~~~    

Returns the value of that specified key. If the key doesn’t exist in a dictionary means returns None. If the default is specified, it will return the default value if the key doesn’t exist.

In [ ]:
d={'name':'karthi',
   'age':7,
   'city':'chennai',
    }

#get(accessing using get method)
print(d.get("name")) # Output: karthi


#If key doesn't exists in a dictionary means ,returns None
print (d.get('rollno')) # Output: None


#default is mentioned.
print (d.get('rollno',"Not Available"))#Output:Not Available

### Using indexing

~~~
d[key]
~~~

Returns the value of the key. If the key doesn’t exist in a dictionary means it will raise `KeyError`.

In [ ]:
d={'name':'karthi',
   'age':7,
   'city':'chennai',
    }

#accessing using index
print (d['name']) #Output: karthi


# If key doesn't exists in a dictionary means and if we use index, then it will raise KeyError
print (d['rollno']) # Output: KeyError: 'rollno'

### Assigning /Updating values
~~~
d[key]=value
~~~

Set `d[key]` to value. If the key already exists in a dictionary means, it will update the value. If the key doesn’t exist in a dictionary means, it will add that key, value pair.

In [ ]:
d={'name':'karthi',
   'age':7,
   'city':'chennai',
    }
print (d)#Output:{'name': 'karthi', 'age': 7, 'city': 'chennai'}


#Assigning values. If key already exists in a dictionary means,it will update value.
d['age']=8
print (d)#Output:{'name': 'karthi', 'age': 8, 'city': 'chennai'}


#Assigning values.If key doesn't exists in a dictionary means,it will add that key.
d['rollno']=12
print (d)#Output:{'name': 'karthi', 'age': 8, 'city': 'chennai', 'rollno': 12}

### iter()

~~~
iter(d)
~~~

Return an iterator over the keys in a dictionary.

In [ ]:
d={'name':'karthi',
   'age':7,
   'city':'chennai',
  }

#Return an iterator containing  keys
i=iter(d)
print (i)#Output:<dict_keyiterator object at 0x00D13BE0>


#converting iterator to list object
print (list(i))#Output:['name', 'age', 'city']

### fromkeys()
Create a new dictionary with keys from iterable and values set to value.
`fromkeys()` is a class method that returns a new dictionary. value defaults to `None`.
~~~
fromkeys(iterable,value)
~~~

In [ ]:
#fromkeys()
#fromkeys() method returns a dictionary with the specified keys and the specified value.
a={'a','e','i','o','u'}
b='vowels'
d1=dict.fromkeys(a,b)
print(d1)
#Output: {'o': 'vowels', 'u': 'vowels', 'e': 'vowels', 'i': 'vowels', 'a': 'vowels'}
#dictionary is unordered.


#if value is not mentioned,it defaults to None.
d2=dict.fromkeys(a)
print (d2)#Output:{'e': None, 'a': None, 'u': None, 'i': None, 'o': None}

### setdefault()
`setdefault()` method returns the value of a key (if the key is in a dictionary).
If not, it inserts a key with a value to a dictionary. If the key is only mentioned, it will insert key with value as `None`.    
~~~
setdefault(key,default)
~~~

In [ ]:
#setdefault - if key is not there , will add the key with value none
person = {'name': 'karthi', 'age': 7}
city = person.setdefault('city')
print(person)
#Output:{'name': 'karthi', 'age': 7, 'city': None}


#setdefault- if key  is not  there , will add key and value specified
person = {'name': 'karthi', 'age': 7}
city = person.setdefault('city','chennai')
print(person)
#Output:{'name': 'karthi', 'age': 7, 'city': 'chennai'}


#setdefault-> if key exists, returns the value of that specified key
person = {'name': 'karthi', 'age': 7}
age=person.setdefault('age',10)
print(person.setdefault('age',10)) #Output:7
print (person)
#Output:{'name': 'karthi', 'age': 7}

## Updating the items in a dictionary

**`update()`**    

`update()` method is used to merge the second dictionary into the first dictionary. It will update the value of the first dictionary.
It won’t create a new dictionary. It is used for merging two dictionaries.    

`update()` method adds elements to a dictionary if the key is not in that dictionary. If the key is in a dictionary means, it will update the new `value.Update()` function won’t return any value.    

`update(other)`

`other` argument can be another dictionary object or an iterable of key/value pairs (as tuples or other iterables of length two). If keyword arguments are specified, a dictionary is then updated with those key/value pairs.

In [ ]:
#update() - combining - merging both dictionaries and updating first - dictionary
first={'name':'karthi',
   'age':7,
   'city':'chennai',
    }

second={'name':'sarvesh',
'age':3}  

#update () function won't return any value.
print(first.update(second))
#Output: None

print(first)
#Output:{'name': 'sarvesh', 'age': 3, 'city': 'chennai'}

## Removing items from a dictionary

**`popitem()`**    

Remove and return a (key, value) pair from a dictionary. Pairs are returned in LIFO order. If a dictionary is empty, calling popitem() raises a KeyError. — python docs

**`pop()`**    

If the key is in a dictionary, remove it and return its value, else return default. If the default is not given and the key is not in a dictionary, a `KeyError` is raised.    


**`pop(key,default)`**

In [ ]:
d1 = {'name': 'karthi',
      'age': 7,
      'city': 'chennai',
      }

# popitem
# The popitem() method removes and returns the last element (key, value) pair inserted into a dictionary.
print(d1.popitem())  # Output:('city', 'chennai')
print (type(d1.popitem()))#Output:<class 'tuple'>
print(d1)  # Output:{'name': 'karthi', 'age': 7}


# pop
# pop() method removes and returns a value from a dictionary for  the given key.
print(d1.pop('name'))  # Output:Karthi
print(d1)  # Output: {'age': 7}


# If key is not in dictionary and value is given as default argument means,it will return the default value.
print(d1.pop("city", "Not found"))  # Output: Not found


# if key is not in dictionary  and default value not given means it will raise KeyError
# print (d1.pop('rollno')) #Output: KeyError: 'rollno'

**`clear()`**    

`clear()` will empty a dictionary.   Its return value is `None`.    

**`del`** keyword is used to delete a dictionary itself.    

We can also delete the key from a dictionary by using del keyword. If the key is not in a dictionary means, then it will raise `KeyError`.

In [ ]:
d = {'name': 'karthi',
      'age': 7,
      'city': 'chennai',
      }


# If key is in dictionary means, it is removed from a dictionary.
del d['name']
print(d)  # Output: {'age': 7, 'city': 'chennai'}


# If key is not in dictionary means KeyError is thrown.
del d['state']# Output:KeyError: 'state'


# clear - it will empty a dictionary.
d.clear()
# clear() method will return None.It will clear the original dictionary
print(d.clear())  # Output: None.
print(d)  # Output: {}

# del - del keyword is used to delete a dictionary itself.
del d
# d1 is deleted and is not available.
print (d) #Output: NameError: name 'd' is not defined

## **copy() vs deepcopy()**

**`copy()`** method returns the shallow copy of the existing dictionary. A shallow copy means a new dictionary value is updated with references to objects in the existing dictionary.  Akin to an alias.    

If we change the value of immutable data types in the original dictionary, it is not reflected in the copied dictionary. But if we change the value of mutable datatypes like list means changes are reflected in the copied dictionary also.    

To avoid this, we can use a `deep copy()`. In `deepcopy()`, if we change either mutable or immutable data types of the original dictionary, changes are not reflected in a deep copied dictionary.

In [ ]:
import copy   
d={'Name':'karthi',
   'Rollno':12,
   'Marks':[100,90]
    }

d1=d.copy()
print (d1) #Output: {'Name': 'karthi', 'Rollno': 12, 'Marks': [100, 90]}

#modifying immutable data types
d['Rollno']=5
print (d) #Output: {'Name': 'karthi', 'Rollno': 5, 'Marks': [100, 90]}
#changes are not reflected in copied dictionary.
print (d1) #Output: {'Name': 'karthi', 'Rollno': 12, 'Marks': [100, 90]}

# modifying mutable datatypes
d['Marks'].append(99)
print (d) #Output: {'Name': 'karthi', 'Rollno': 5, 'Marks': [100, 90, 99]}
#changes are reflected in copied dictionary also.
print (d1)#Output: {'Name': 'karthi', 'Rollno': 12, 'Marks': [100, 90, 99]}

d2=copy.deepcopy(d1)
print (d2) #Output: {'Name': 'karthi', 'Rollno': 12, 'Marks': [100, 90, 99]}

#modifying immutabe data types
d1['Rollno']=15
print (d1) #Output:{'Name': 'karthi', 'Rollno': 15, 'Marks': [100, 90, 99]}
#changes are not reflected in copied dictionary.
print (d2) #Output: {'Name': 'karthi', 'Rollno': 12, 'Marks': [100, 90, 99]}

# modifying mutable datatypes
d1['Marks'].append(101)
print (d1) #Output: {'Name': 'karthi', 'Rollno': 15, 'Marks': [100, 90, 99, 101]}
#changes are not reflected in deep copied dictionary.
print (d2)#Output:{'Name': 'karthi', 'Rollno': 12, 'Marks': [100, 90, 99]}

## Dictionary view objects

The objects returned by:
 - `dict.keys()`
 - `dict.values()`
 - `dict.items()`     
 are view objects. They provide a dynamic view of a dictionary’s entries, which means that when a dictionary changes, the view reflects these changes.-python docs

Dictionary views can be iterated over to yield their respective data and support membership tests.    


**`iter(dictview)`**    

Return an iterator over the keys, values, or items in a dictionary

In [ ]:
# creating dictionary

d = {'name': 'karthi',
     'age': 7,
     'city': 'chennai',
     }

#Returns key iterator object
k=d.keys()
print (iter(k))#Output:<dict_keyiterator object at 0x00A1E028>
#converting iterator to list object
print (list(iter(k)))#Output:['name', 'age', 'city']


#Returns items iterator object
i=d.items()
print (iter(i))#Output:<dict_itemiterator object at 0x00A1E028>
#looping through the iterator
for i in iter(i):
    print (i)
'''
('name', 'karthi')
('age', 7)
('city', 'chennai')
'''


#Return values iterator object
v=d.values()
print (iter(v))#Output:<dict_valueiterator object at 0x00A1E028>
#converting iterator to list object
print (list(iter(v)))#Output:['karthi', 7, 'chennai']

**`reversed(dictview)`**

Return a reverse iterator over the keys, values, or items of a dictionary. The view will be iterated in reverse order of the insertion.-python docs

In [ ]:
# creating dictionary

d = {'name': 'karthi',
     'age': 7,
     'city': 'chennai',
     }

#Returns reversed key iterator object
k=d.keys()
print (reversed(k))#Output:<dict_reversekeyiterator object at 0x010C3BB8>
#converting iterator to list object
print (list(reversed(k)))#Output:['city', 'age', 'name']


#Returns reversed items iterator object
i=d.items()
print (reversed(i))#Output:<dict_itemiterator object at 0x00A1E028>

#looping through the iterator
for i in  reversed(i):
    print (i)
'''
('city', 'chennai')
('age', 7)
('name', 'karthi')
'''


#Return reversed values iterator object
v=d.values()
print (reversed(v))#Output:<dict_reversevalueiterator object at 0x01143BE0>
#converting iterator to list object
print (list(reversed(v)))#Output:['chennai', 7, 'karthi']

## Looping through a dictionary

In [ ]:
#creating dictionary

d={'name':'karthi',
   'age':7,
   'city':'chennai',
    }
    
#Print only the keys

for i in d:
    print (i)
'''    
Output:  
name
age
city
'''

#will print the (key,value) as a tuple   
for i in d.items():
    print (i)
    
'''
Output:
('name', 'karthi')
('age', 7)
('city', 'chennai')
'''

#will print the key,value in the format specified
for i,j in d.items():
    print(i,j)
'''
Output:
name karthi
age 7
city chennai
'''

#will print only the keys    
for i in d.keys():
    print(i)
'''
Output:
name
age
city
'''
    
#will print only the values    
for i in d.values():
    print(i)
    
'''
Output:
karthi
7
chennai
'''

## Dictionary Operations

### Membership Test
**in, not in**

`in` — Returns True if the key is present in a dictionary. Checks only key and not values.

In [ ]:
d=dict([('red',1),('blue',2),('green',3)])
print (d)#Output:{'red': 1, 'blue': 2, 'green': 3}


#Checking whether the particular key is in dictionary or not.
if 'red' in d:
    print ("True")#Output:True


if 'yellow' in d:
    print ("True")
else:
    print ("False") #Output:False


if "yellow" not in d:
    print ("True")#Output:True

## Dictionary built-in functions

1. `len()` — Returns the length (no of items) of a dictionary.    
2. `list()`-Returns the list of all keys in a dictionary    
3. `sorted()`-Returns the sorted list of keys in a dictionary.    
4. `reversed()`-Return a reversed iterator over the keys of a dictionary.

In [ ]:
#creating dictionary by using iterables
d=dict([('red',1),('blue',2),('green',3)])
print (d)#Output:{'red': 1, 'blue': 2, 'green': 3}


#Returns the length(number of keys)of dictionary
print (len(d))#Output:3


#Returns the list of keys in a dictionary
print(list(d))#Output:['red', 'blue', 'green']


#Returns the sorted list of keys in a dictionary(by default ascending order)
print (sorted(d))#Output:['blue', 'green', 'red']


#Returns the sorted list of keys in a dictionary in descending order.
print (sorted(d,reverse=True))#Output:['red', 'green', 'blue']


#Returns the reversed list of keys in a dictionary.Returns an iterator object.
print (reversed(d))#Output:<dict_reversekeyiterator object at 0x005DEB90>
#Iterator object is converted to list object
print (list(reversed(d)))#Output:['green', 'blue', 'red']

4. `all()`: Returns True if all keys(not values) in a dictionary is `True` or if a dictionary is empty.

5. `any()`:Returns `True` if any `key`(not values) in a dictionary is `True`. If dictionary is empty returns `False`.

In [ ]:
#Creating dictionary in which all keys are True.
d={1:'apple',2:'orange',3:'banana'}
print (all(d)) #Output:True
print (any(d))#Output: True


#Empty dictionary
d1={}
print (all(d1))#Output: True
print (any(d1))#Output:False


#Creating dictionary in which one key is False
d2={0:'grapes',1:'apple',2:'orange',3:'banana'}
print (all(d2))#Output:False
print (any(d2))#Output:True


#Creating dictionary in which all keys are False
d3={0:'hello'}
print (all(d3))#Output:False
print (any(d3))#Output:False

**Conclusion**     

- Return type is view object    
`keys()`    
`values()`    
`items()`    

- Return type is List    
`list(d)`,`sorted(d)`    

- Return type is iterator    
`iter(d)`, `reversed(d)`, `iter(dictview)`    

- Return type is dictionary    
`copy()`, `deepcopy()`, `fromkeys()`    

- Return type is tuple    
`popitem()`     

- Return type is None    
`clear()`- Doesn’t return anything. It will clear the original dictionary.    
`update()`-Doesn’t return anything.It will update the original dictionary.   
 

- Return type is integer    
len()    

- Return type is Boolean
any(),all()    
reversed(d)- supported from Python version 3.8



---

# **Tuples**     
**(from All you need to know about Tuples in Python. 13-Sep-2021.  By Andreas Soularidis on Medium.com)**

##Introduction     

First of all, let’s talk about Python Tuples in general. Tuples are used to store data of multiple types like str, int, float, boolean, etc in a single variable. Lists and tuples have a lot in common and lots of differences as well. First of all, in both data types, the elements are ordered, so the items have a defined order, that will not change. Also, both are dynamic in size data types. So we don’t need to define the size of the tuple in advance, as Python takes care of that. Moreover, in both data types duplicate values are allowed. On the other hand, the big difference between lists and tuples is that a tuple is immutable data type, so we cannot add, update or delete the elements of a tuple after its declaration

## When to use tuples    

The question is when to use a list and when to use a tuple in my code. A general guide is to use tuples only if you are absolutely sure that the data will not change during the execution of the program. For example, if you want to store the days of the week you can store them in a tuple.

## Create a tuple    

To create a tuple we use round brackets (parentheses), or we can use the constructor tuple() like below:

In [ ]:
first_tuple = ('dog', 4.5, True, 7, 'apple')
print(first_tuple)
print(type(first_tuple))

('dog', 4.5, True, 7, 'apple')
<class 'tuple'>

In [ ]:
second_tuple = tuple(['dog', 4.5, True, 7, 'apple'])
print(second_tuple)
print(type(second_tuple))

('dog', 4.5, True, 7, 'apple')
<class 'tuple'>

Let's try a new function `id()` to see what it tells us about `first_tuple` and `second_tuple`:

In [ ]:
print('The ID of the first_tuple is: ', id(first_tuple))
print('The ID of the second_tuple is: ', id(second_tuple))

The ID of the first_tuple is:  139691746585968
The ID of the second_tuple is:  139691746756752


Notice that, in the second example the constructor `tuple()` takes as a parameter a list and turns it into a tuple. This syntax would be extremely useful later.    

To create a single element tuple we use a comma after the element, so that Python recognizes that as a tuple and not as a simple expression with parenthesis. Look at the example below:

In [ ]:
solo_tuple = (1,)
print(solo_tuple)
print(type(solo_tuple))

(1,)
<class 'tuple'>

In [ ]:
not_tuple = (1)
print(not_tuple)
print(type(not_tuple))

1
<class 'int'>

In [ ]:
uno_tuple = tuple([1])
print(uno_tuple)
print(type(uno_tuple))

(1,)
<class 'tuple'>

In [ ]:
# remember that the argument to tuple() needs to be an interable
uno_tuple = tuple(1)
print(uno_tuple)
print(type(uno_tuple))

## Access in tuple items    

Tuples, like lists, are zero-index data types, so the first element of a tuple has `index[0]`, the second has `index[1]`, and so on. Also, we have the reversed index that starts from `-1` and represents the last element of a tuple. So, using the reversed index the last element has `index[-1]` the second to last element has `index[-2]`, etc. So, using the index we can have access to specific tuple values as following:

In [ ]:
print(first_tuple)

('dog', 4.5, True, 7, 'apple')

In [ ]:
print(first_tuple[1])

4.5

In [ ]:
print(first_tuple[0])

dog

In [ ]:
print(first_tuple[-5])

dog

In [ ]:
print(first_tuple[2+2])

apple

In [ ]:
this_one_int = +10 +17 -30
print(first_tuple[this_one_int])

True

In [ ]:
wrong_one_int = +20 +17 -30
print(first_tuple[wrong_one_int])

## Slicing    

Like lists, we can have access to a specific range of a tuple using the following syntax

```
tuple[start_index : end_index : pace]
```
also described as: 
```
tuple[start_index : end_index : step]
```

This expression returns a new tuple from start_index to end_index-1 according to pace. By default, the pace has a value of 1. If we omit the start_index the default value is 0. Similarly, if we omit the end_index the default value is the last index of the tuple. Last, if we omit both indexes we get a copy of the tuple.     

Let’s see some examples below:

In [ ]:
print(first_tuple)

('dog', 4.5, True, 7, 'apple')

In [ ]:
print(first_tuple[1:3])

(4.5, True)

In [ ]:
print(first_tuple[:4])

('dog', 4.5, True, 7)

In [ ]:
print(first_tuple[:2])

('dog', 4.5)

In [ ]:
print(first_tuple[::2])

('dog', True, 'apple')

In [ ]:
print(first_tuple[:])

('dog', 4.5, True, 7, 'apple')

## Modifying tuple content

### Add elements to tuples    

As we mentioned earlier, tuples are immutable data types, so we can not add, update or delete elements after the tuple has been created. In lists, we have the method `append()` to add new elements in an existing list, but in tuples, we don’t have this method. So how can we add elements to an existing tuple?     

To do this, we make a three-step trick.     

1. First, we convert our tuple to a list. We can do this using the constructor `list()`. At this point, we have a list with the same elements as our tuple, so now we can use the `append()` method.     

2. The second step is to use the `append()` method to add the element to our list. At this point, we have all the elements we want on a list.     

3. The third and last step is to convert our list into a tuple, using the constructor `tuple()`. Now, we have all elements we want in a tuple.    

*We can use the `id()` function to determine whether the tuple we begin with and the final tuple are unique objects.*   

Let’s see an example below:

In [ ]:
# check the tuple contents and object id
print(first_tuple)
print(id(first_tuple))

('dog', 4.5, True, 7, 'apple')
139691746585968

In [ ]:
# step 1 - create a list from the tuple
first_list = list(first_tuple)
print(first_list)

['dog', 4.5, True, 7, 'apple']

In [ ]:
# step 2 - append to the new list
first_list.append('banana')
print(first_list)

['dog', 4.5, True, 7, 'apple', 'banana']

In [ ]:
# step 3 - replace the tuple with a tuple of the new list
first_tuple = tuple(first_list)

In [ ]:
# check the tuple contents and object id
print(first_tuple)
print(type(first_tuple))
print(id(first_tuple))

('dog', 4.5, True, 7, 'apple', 'banana')
<class 'tuple'>
139691752315824

Be careful, that our initial tuple is not the same as the final tuple despite the fact that both have the same name `my_tuple`. We can easily check this by noticing the difference in `id` values.

### Change tuple elements    

If we try to update the value of an element in tuples we will get an error, because tuples are immutable data types, like below:

In [ ]:
print(second_tuple)

('dog', 4.5, True, 7, 'apple')

In [ ]:
second_tuple[0] = 'cat'

*Before we go further, let's create a `third_tuple` with the same element values.*      

*We will use this later:*

In [ ]:
third_tuple = second_tuple[:]

In [ ]:
print(third_tuple)
print(type(third_tuple))

('dog', 4.5, True, 7, 'apple')
<class 'tuple'>

*Why don't we just use the following statement to create the third tuple?*     

```
third_tuple = second_tuple 
```

To update the value of an element in a tuple we will use the same trick as above.     

1. First, convert our tuple into a list.     

2. Then, we update the elements we want using the index.     

3. Then, we convert our list into a tuple. Now our tuple has the updated values.     

Let’s see the code below:

In [ ]:
# check the tuple contents and object id
print(second_tuple)
print(id(second_tuple))

('dog', 4.5, True, 7, 'apple')
139691746756752

In [ ]:
# step 1 - create a list from the tuple
second_list = list(second_tuple)
print(second_list)
print(type(second_list))

['dog', 4.5, True, 7, 'apple']
<class 'list'>

In [ ]:
# step 2 - replace a list member using index
second_list[0] = 'cat'
print(second_list)

['cat', 4.5, True, 7, 'apple']

In [ ]:
# step 3 - replace the tuple with a tuple of the new list
second_tuple = tuple(second_list)

In [ ]:
# check the tuple contents and object id
print(second_tuple)
print(type(second_tuple))
print(id(second_tuple))

('cat', 4.5, True, 7, 'apple')
<class 'tuple'>
139691746585968

### Delete tuple elements    

As you can guess, we cannot remove elements in a tuple. So we use the same trick as above and take advantage of the `.remove()` method of the list data type to remove element(s).     

Let’s see the code below:

In [ ]:
# check the tuple contents and object id
print(third_tuple)
print(id(third_tuple))

('dog', 4.5, True, 7, 'apple')
139691746756752

In [ ]:
# step 1 - create a list from the tuple
third_list = list(third_tuple)
print(type(third_list))
print(third_list)

<class 'list'>
['dog', 4.5, True, 7, 'apple']

In [ ]:
# step 2 - remove from the new list
third_list.remove(True)
print(third_list)

['dog', 4.5, 7, 'apple']

In [ ]:
# step 3 - replace the tuple with a tuple of the new list
third_tuple = tuple(third_list)

In [ ]:
# check the tuple contents and object id
print(third_tuple)
print(type(third_tuple))
print(id(third_tuple))

('dog', 4.5, 7, 'apple')
<class 'tuple'>
139691673546576

## Loops in tuples    

One of the most common actions in iterables like lists and tuples is the iteration. We have a couple of ways to look at the elements of a tuple. The most common is using a `for` loop.     

The syntax of the loop is the following:
```
for element in my_tuple:
   do something with the element
```

In [ ]:
for element in first_tuple:
    print(element)

dog
4.5
True
7
apple
banana

In [ ]:
for value in second_tuple:
    print(value)

cat
4.5
True
7
apple

In [ ]:
for any_name_you_like in third_tuple:
    print(any_name_you_like)

dog
4.5
7
apple

As in lists, we can use the index number to iterate the elements of a tuple. To do this, we use the for loop with `len()` and `range()` functions.
```
for index in range(len(my_tuple)):
   do something with my_tuple[index]
```

In [ ]:
for index in range(len(first_tuple)):
    print('Index position: ', index, ' has value: ', first_tuple[index])

Index position:  0  has value:  dog
Index position:  1  has value:  4.5
Index position:  2  has value:  True
Index position:  3  has value:  7
Index position:  4  has value:  apple
Index position:  5  has value:  banana

##Tuple into a tuple    

As mentioned earlier, in tuple we can store data of different types.   We can store a tuple into a tuple.      

We can have access to inner tuple elements using the index of the inner tuple and the index of the specific element.      

Let’s see the code below:

In [ ]:
fourth_tuple = ('dog', 4.5, True, 7, 'apple', (10, 20, 30))
print(fourth_tuple)
print(type(fourth_tuple))

('dog', 4.5, True, 7, 'apple', (10, 20, 30))
<class 'tuple'>

In [ ]:
print(type(fourth_tuple[5]))

<class 'tuple'>

In [ ]:
print(fourth_tuple[5])
print(fourth_tuple[-1])

(10, 20, 30)
(10, 20, 30)

In [ ]:
print(fourth_tuple[-1][0])

10

*We should consider the position of nested iterables when using more than one index.*

In [ ]:
print(fourth_tuple[1][0])

## Unpacking Tuples    
Whenever we create a tuple we “pack” elements into it. Python allows us to extract elements of a tuple and stores these elements into variables.     

Let’s see an example below:

In [ ]:
fifth_tuple = (12, 34, 2, 6, 24)   
print(fifth_tuple)
print(type(fifth_tuple))

(12, 34, 2, 6, 24)
<class 'tuple'>

In [ ]:
first, second, third, fourth, fifth = fifth_tuple   

print('Value of `first` is ', (first))
print('Value of `second` is ', (second))
print('Value of `third` is ', (third))
print('Value of `fourth` is ', (fourth))
print('Value of `fifth` is ', (fifth))
print()
print('Type of `first` is ', type(first))
print('Type of `second` is ', type(second))
print('Type of `third` is ', type(third))
print('Type of `fourth` is ', type(fourth))
print('Type of `fifth` is ', type(fifth))

Value of `first` is  12
Value of `second` is  34
Value of `third` is  2
Value of `fourth` is  6
Value of `fifth` is  24

Type of `first` is  <class 'int'>
Type of `second` is  <class 'int'>
Type of `third` is  <class 'int'>
Type of `fourth` is  <class 'int'>
Type of `fifth` is  <class 'int'>

In the example above, we have a tuple of numbers and we extract those numbers in variables. Be careful that the number of elements in the tuple must be exactly the same as the number of variables, otherwise, we will get an error. In case we are interested in only some of the elements of the tuple, we can use the asterisk * syntax as above

In [ ]:
primary, secondary, *something = fifth_tuple  

print(primary, secondary, rest)

print('Type of `primary` is', type(primary))
print('Type of `secondary` is', type(secondary))
print('Type of `something` is', type(something))

12 34 [2, 6, 24]
Type of `primary` is <class 'int'>
Type of `secondary` is <class 'int'>
Type of `something` is <class 'list'>

*Bear in mind that a variable which uses an asterisk to take values from a tuple will itself be a list.*    

As we can notice, in the case above, Python returns a list that includes the rest of the elements of the tuple.     

The following is another interesting, valid syntax:

In [ ]:
alpha, *medio, omega = fifth_tuple

print(alpha, medio, omega)

print('Type of `alpha` is', type(alpha))
print('Type of `medio` is', type(medio))
print('Type of `omega` is', type(omega))

12 [34, 2, 6] 24
Type of `alpha` is <class 'int'>
Type of `medio` is <class 'list'>
Type of `omega` is <class 'int'>

##Tuple Methods

Let's create one more example tuple to demonstrate the two tuple methods:    
1. `.count()`    
2. `.index()`

In [ ]:
sixth_tuple = (12, 34,2, 6, 24, 34)

## `tuple.count()`     

Returns the number of times the given value appears in a tuple.

In [ ]:
print(sixth_tuple.count(34))

2

## `tuple.index()`     

Returns the index of the first appearance of the given element. Be careful that if the given number doesn’t exist, it raises a *ValueError* exception.

In [ ]:
print(sixth_tuple.index(34))

1

In [ ]:
print(sixth_tuple.index(7))



---

# **Tuples**
**(from Py4E.com, lesson 11 - former lesson 10)**

## 11(10).1 Tuples are immutable

In [ ]:
# Syntactically, a tuple is a comma-separated list of values:
t = 'a', 'b', 'c', 'd', 'e'

In [ ]:
print(type(t))

<class 'tuple'>

In [ ]:
# enclose tuples in parentheses to identify easily
t = ('a', 'b', 'c', 'd', 'e')

In [ ]:
# create a tuple with a single element
t1 = ('a',)  # End a element by ','
type(t1)

tuple

In [ ]:
t2 = ('a')
type(t2)

str

In [ ]:
t_not_3 = (1) * (2*3)
type(t_not_3)

int

In [ ]:
# built-in function tuple
t = tuple()
print(t)

In [ ]:
# built-in function tuple with string as argument
t = tuple('lupins')
# t_lst = list('lupins')
print(t)
# print(t_lst)

('l', 'u', 'p', 'i', 'n', 's')

In [ ]:
t = ('a', 'b', 'c', 'd', 'e')
print(t[0]) # bracket operator indexes an element

In [ ]:
print(t[1:3]) # slice operator selects a range of elements

In [ ]:
t[0] = 'A'

In [ ]:
# can’t modify the elements of a tuple, but can replace one tuple with another
t = ('A',) + t[1:]
print(t)

## 11(10).2 Comparing tuples

In [ ]:
(0, 1, 2) == (0, 1, 2) # comparing with respective sequence elements

True

In [ ]:
(0, 1, 2) >= (0, 1, 2) # comparing with respective sequence elements

True

In [ ]:
(0, 1, 2) < (0, 3, 4) # comparing with respective sequence elements

True

In [ ]:
(0, 1, 2000000) < (0, 3, 4)

True

In [ ]:
# you have a list of words and you want to sort them from longest to shortest:
txt = 'but soft what light in yonder window breaks'
words = txt.split()
t = list()
for word in words:
    t.append((len(word), word))

t.sort(reverse=True)

res = list()
for length, word in t:
    res.append(word)

print(res)

['yonder', 'window', 'breaks', 'light', 'what', 'soft', 'but', 'in']

## 11(10).3 Tuple assignment

In [ ]:
# 1st Way

# unique syntactic features of the Python language is the ability to have a tuple on the left side of an assignment statement.
m = [ 'have', 'fun' ] # create an iterable list of strings 
x, y = m              # assiging iterable elements to individual variables

In [ ]:
x

'have'

In [ ]:
y

'fun'

In [ ]:
# 2nd Way

m = [ 'have', 'fun' ]
x = m[0]
y = m[1]

In [ ]:
x

'have'

In [ ]:
y

'fun'

In [ ]:
# 3rd Way

m = [ 'have', 'fun' ]   # create an iterable list of strings
(x, y) = m              # assiging iterable elements to tuple elements

In [ ]:
x

'have'

In [ ]:
y

'fun'

In [ ]:
# application of tuple assignment allows us to swap the values of two variables in a single statement
print(x, y)
x, y = y, x

fun have

In [ ]:
print(x, y)

have fun

In [ ]:
a, b = 1, 2, 3
# *a, b = 1, 2, 3   # remember that wildcards can help in this situation
# a, *b = 1, 2, 3   # remember that wildcards can help in this situation

In [ ]:
print('`a` is ', a)
print('`b` is ', b)

print('type of `a` is ', type(a))
print('type of `b` is ', type(b))

`a` is  [1, 2]
`b` is  3
type of `a` is  <class 'list'>
type of `b` is  <class 'int'>

In [ ]:
addr = 'monty@python.org'
uname, domain = addr.split('@')

In [ ]:
print(uname)
print(type(uname))

monty
<class 'str'>

In [ ]:
print(domain)
print(type(domain))

python.org
<class 'str'>

## 11(10).4 Dictionaries and tuples

In [ ]:
# d = {'a':10, 'b':1, 'c':22}       # original Charles Severance code
d = {'z':12, 'c':22, 'b':1, 'a':10} # original Charles Severance code
t = list(d.items())                 # items() method returns a tuple 
print(t)
print(type(t))
# Here each tuple is a key-value pair:

[('z', 12), ('c', 22), ('b', 1), ('a', 10)]
<class 'list'>

In [ ]:
t

In [ ]:
t.sort()

In [ ]:
t

[('a', 10), ('b', 1), ('c', 22), ('z', 12)]

## 11(10).5 Multiple assignment with dictionaries

In [ ]:
for key, val in list(d.items()):
    print(val, key)

In [ ]:
# d = {'a':10, 'b':1, 'c':22}       # original Charles Severance code
d = {'z':12, 'c':22, 'b':1, 'a':10} # original Charles Severance code
l = list()
for key, val in d.items() :
    l.append( (val, key) )

In [ ]:
l

[(12, 'z'), (22, 'c'), (1, 'b'), (10, 'a')]

In [ ]:
l.sort(reverse=True)
l

[(22, 'c'), (12, 'z'), (10, 'a'), (1, 'b')]

## 11(10).6 The most common words

**Upload the Py4E exercise file "romeo-full.txt" to your Colab content area.**     

**You can find the file here: [romeo-full.txt](https://bit.ly/romeo-full)**

In [ ]:
import string
fhand = open('romeo-full.txt')
counts = dict()
for line in fhand:
    line = line.translate(str.maketrans('', '', string.punctuation))
    line = line.lower()
    words = line.split()
    for word in words:
        if word not in counts:
            counts[word] = 1
        else:
            counts[word] += 1

# Sort a dictionary by value
lst = list()
for key, val in list(counts.items()):
    lst.append((val, key))

lst.sort(reverse=True)

print('Word', 'Frequency')
print('----', '---------')
for key, val in lst[:20]:
    print(key, val)

Word Frequency
---- ---------
61 i
42 and
40 romeo
34 to
34 the
32 thou
32 juliet
30 that
29 my
24 thee
24 love
24 a
22 it
21 is
20 thy
20 of
18 not
18 me
18 but
16 would



---

# **Advanced text parsing**

In the above example using the file **romeo.txt**, we made the file as simple as possible by removing all punctuation by hand. The actual text has lots of punctuation, as shown below.

```
But, soft! what light through yonder window breaks?

It is the east, and Juliet is the sun.

Arise, fair sun, and kill the envious moon,

Who is already sick and pale with grief,
```

Since the Python `.split()` function looks for spaces and treats words as tokens separated by spaces, we would treat the words “soft!” and “soft” as different words and create a separate dictionary entry for each word.

Also since the file has capitalization, we would treat “who” and “Who” as different words with different counts.

We can solve both these problems by using the string methods `.lower()`, `.punctuation()`, and `.translate()`. The `.translate()` is the most subtle of the methods.

In [ ]:
# line.translate(str.maketrans(from_str, to_str, delete_str))

Replace the characters in `from_str` with the character in the same position in `to_str` and delete all characters that are in `delete_str`. The `from_str` and `to_str` can be empty strings and the `delete_str` parameter can be omitted.

We will not specify the `to_str` but we will use the `delete_str` parameter to delete all of the punctuation. We will even let Python tell us the list of characters that it considers “punctuation”:

In [ ]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

The parameters used by translate were different in Python 2.0.

We make the following modifications to our program:

In [ ]:
import string

fname = input('Enter the file name: ')
try:
    fhand = open(fname)
except:
    print('File cannot be opened:', fname)
    exit()

counts = dict()
for line in fhand:
    line = line.rstrip()
    line = line.translate(line.maketrans('', '', string.punctuation))
    line = line.lower()
    words = line.split()
    for word in words:
        if word not in counts:
            counts[word] = 1
        else:
            counts[word] += 1

print(counts)

# Code: http://www.py4e.com/code3/count2.py

Part of learning the “Art of Python” or “Thinking Pythonically” is realizing that Python often has built-in capabilities for many common data analysis problems. Over time, you will see enough example code and read enough of the documentation to know where to look to see if someone has already written something that makes your job much easier.



---

# **Debugging**

As you work with bigger datasets it can become unwieldy to debug by printing and checking data by hand. Here are some suggestions for debugging large datasets:

**Scale down the input**
If possible, reduce the size of the dataset. For example if the program reads a text file, start with just the first 10 lines, or with the smallest example you can find. You can either edit the files themselves, or (better) modify the program so it reads only the first n lines.

If there is an error, you can reduce n to the smallest value that manifests the error, and then increase it gradually as you find and correct errors.

**Check summaries and types**
Instead of printing and checking the entire dataset, consider printing summaries of the data: for example, the number of items in a dictionary or the total of a list of numbers.

A common cause of runtime errors is a value that is not the right type. For debugging this kind of error, it is often enough to print the type of a value.

**Write self-checks**
Sometimes you can write code to check for errors automatically. For example, if you are computing the average of a list of numbers, you could check that the result is not greater than the largest element in the list or less than the smallest. This is called a “sanity check” because it detects results that are “completely illogical”.

Another kind of check compares the results of two different computations to see if they are consistent. This is called a “consistency check”.

**Pretty print the output**
Formatting debugging output can make it easier to spot an error.
Again, time you spend building scaffolding can reduce the time you spend debugging.


---