<a href="https://colab.research.google.com/github/ProfessorPatrickSlatraigh/CST2312/blob/main/CST2312_D222_Fall2022_Class_05_14_Sep_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **CST2312 - Class 05**

**Examples** from: 
# Review Lesson 9 (Lists)    
*was old lesson 8*    
of Python For Everybody (p4e.com/lessons)

## 9(8).1 A list is a sequence

In [ ]:
# There are several ways to create a new list; the simplest is to enclose the elements in square brackets ([ and ]):
[10, 20, 30, 40]

In [ ]:
['crunchy frog', 'ram bladder', 'lark vomit']

In [ ]:
# list contains a string, a float, an integer, and (lo!) another list:
['spam', 2.0, 5, [10, 20]]

In [ ]:
cheeses = ['Cheddar', 'Edam', 'Gouda']
numbers = [17, 123]
empty = []
print(cheeses, numbers, empty)

## 9(8).2 Lists are mutable

In [ ]:
# the indices start at 0:
print(cheeses[0])

In [ ]:
numbers = [17, 123]
numbers[1] = 5
print(numbers)

In [ ]:
cheeses = ['Cheddar', 'Edam', 'Gouda']
'Edam' in cheeses

In [ ]:
'Brie' in cheeses

## 9(8).3 Traversing a list

In [ ]:
for cheese in cheeses:
    print(cheese)

In [ ]:
for i in range(len(numbers)):
    numbers[i] = numbers[i] * 2
    print(numbers[i])

In [ ]:
# A for loop over an empty list never executes the body
for x in empty:
    print('This never happens.')

In [ ]:
# Although a list can contain another list, the nested list still counts as a single element. The length of this list is
t = ['spam', 1, ['Brie', 'Roquefort', 'Pol le Veq'], [1, 2, 3]]
len(t)

## 9(8).4 List operations

In [ ]:
# The + operator concatenates lists:
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b
print(c)

In [ ]:
# the * operator repeats a list a given number of times:
[0] * 4

In [ ]:
[1, 2, 3] * 3

## 9(8).5 List slices

In [ ]:
t = ['a', 'b', 'c', 'd', 'e', 'f']
t[1:3]

In [ ]:
t[:4]

In [ ]:
t[3:]

In [ ]:
t[:]

In [ ]:
# A slice operator on the left side of an assignment can update multiple elements:
t = ['a', 'b', 'c', 'd', 'e', 'f']
t[1:3] = ['x', 'y']
print(t)

## 9(8).6 List methods

In [ ]:
t = ['a', 'b', 'c']
t.append('d')
print(t)

In [ ]:
t1 = ['a', 'b', 'c']
t2 = ['d', 'e']
t1.extend(t2)
print(t1)

In [ ]:
t = ['d', 'c', 'e', 'b', 'a']
t.sort()
print(t)

## 9(8).7 Deleting elements

In [ ]:
t = ['a', 'b', 'c']
x = t.pop(1)
print(t)
print(x)

In [ ]:
# If you donâ€™t need the removed value, you can use the del operator:
t = ['a', 'b', 'c']
del t[1]
print(t)

In [ ]:
# If you know the element you want to remove (but not the index), you can use remove:
t = ['a', 'b', 'c']
t.remove('b')
print(t)

In [ ]:
# To remove more than one element, you can use del with a slice index:
t = ['a', 'b', 'c', 'd', 'e', 'f']
del t[1:5]
print(t)

## 9(8).8 Lists and functions

In [ ]:
nums = [3, 41, 12, 9, 74, 15]

In [ ]:
len(nums)

In [ ]:
max(nums)

In [ ]:
min(nums)

In [ ]:
sum(nums)

In [ ]:
sum(nums)/len(nums)

In [ ]:
# To compute an average without a list:
total = 0
count = 0
while (True):
    inp = input('Enter a number: ')
    if inp == 'done': break
    value = float(inp)
    total = total + value
    count = count + 1

average = total / count
print('Average:', average)

In [ ]:
# Use built-in functions to compute the sum and count at the end
numlist = list()
while (True):
    inp = input('Enter a number: ')
    if inp == 'done': break
    value = float(inp)
    numlist.append(value)

average = sum(numlist) / len(numlist)
print('Average:', average)

## 9(8).9 Lists and strings

In [ ]:
# convert dtring to list using built in function
s = 'spam'
t = list(s)
print(t)

In [ ]:
# To break a string into words, use the split method
s = 'pining for the fjords'
t = s.split()
print(t)

In [ ]:
print(t[2])

In [ ]:
# split with an optional argument called a delimiter
s = 'spam-spam-spam'
delimiter = '-'
s.split(delimiter)

In [ ]:
# join is the inverse of split
t = ['pining', 'for', 'the', 'fjords']
delimiter = ' '
delimiter.join(t)

## 9(8).10 Parsing lines

Upload the exercise file `mbox-short.txt` to the current working directory before executing the next code.  For Google Colab sessions the initial current working directory is `\content\`

Here is a shareable link to `mbox-short.txt` on Professor Patrick's Google Drive:      

https://bit.ly/mboxshorttxt

In [ ]:
fhand = open('mbox-short.txt')
for line in fhand:
    line = line.rstrip()
    if not line.startswith('From '): continue
    words = line.split()
    print(words[2])

## 9(8).11 Objects and values

In [ ]:
a = 'banana'
b = 'banana'
# To check whether two variables refer to the same object, use the 'is' operator.
a is b

In [ ]:
a = [1, 2, 3]
b = [1, 2, 3]
# two lists are equivalent, because they have the same elements, but not identical, because they are not the same object
a is b

## 9(8).12 Aliasing

In [ ]:
a = [1, 2, 3]
b = a
b is a

# The association of a variable with an object is called a reference. In this example,
# there are two references to the same object.
# An object with more than one reference has more than one name, so we say that
# the object is aliased.

In [ ]:
b[0] = 17
print(a)

# If the aliased object is mutable, changes made with one alias affect the other

## 9(8).13 List arguments

In [ ]:
def delete_head(t):
    del t[0]

In [ ]:
letters = ['a', 'b', 'c']
delete_head(letters)
print(letters)

In [ ]:
# The append method modifies a list, but the + operator creates a new list:
t1 = [1, 2]
t2 = t1.append(3)
print(t1)

In [ ]:
print(t2)

In [ ]:
t3 = t1 + [3]
print(t3)

In [ ]:
t2 is t3

In [ ]:
# this function does not delete the head of a list:
def bad_delete_head(t):
    t = t[1:]

In [ ]:
# tail returns all but the first element of a list:
def tail(t):
    return t[1:]

In [ ]:
letters = ['a', 'b', 'c']
rest = tail(letters)
print(rest)



---

**See the class notes on Blackboard and the Charles Severance lectures on py4e.com for more information.**



---



---

# Strings as Lists

    What about strings?

Assign a string value to the variable **s**:

`s = 'Hello'`

Try it.  What type is the variable **s**?

What does Python return when you print **s**[0]?

What does Python return when you print **s**[2:]?

What does Python return when you print **s**[:2]?

In [ ]:
# Quick examples of docstrings
doc_string = """Hello 
Hello again"""
doc_string = '''Hello 
Hello again'''

In [ ]:
type(doc_string)

In [ ]:
print(doc_string)

In [ ]:
# docstrings are what give us the `help()` content of functions
print(help(type))

In [ ]:
s = 'Hello'
s = "Hello"

In [ ]:
type(s)

In [ ]:
print(s[0])
print(s[2:])
print(s[:2])

The string **s** is a form of a list where each character is an element in the list.

![PPT-single-slide_for-colab.png]()

What if we assigned a single character to the second element of the string **s**?

In [ ]:
s[1] = 'o' # trying to replace the letter 'e' with the letter 'o'

What about using the **:** wildcard character to refer to slices of a string?

In [ ]:
print(s[::])
print(s[:])
print(s[0:])

We learn that strings are a special form of lists.

*   Strings are sequences of elements
*   Elements in a string are each individual character
*   String elements are referred to by their index in square brackets []
*   The colon : is a special index value used to identify the start or end
*   Strings are objects which can be assigned to other objects
*   Individual elements in a string cannot be assigned with new values â€“ that is, lists are immutable (they cannot be changed)

Here are some terms to remember:

*   **Sequences** are ordered arrangements of elements
*   **Lists** are a form of **Sequence** with individual elements which may be of different types or classes
*   **Strings** are **Sequences** of elements called **Characters**
*   **Elements** are separate members of a **Sequence**
*   **Indices** (index numbers) are values which indicate the position of an **element** in a **sequence** (**List** or **String**)
*   **Elements** are referred to by their index in Square Brackets **[]**
*   The **Colon :** is a special index value used to identify the start or end
*   Lists are **mutable**
*   Strings are **immutable**



---

**Examples** from: 
# REVIEW: Lesson 7 (Strings)
*was old lesson6*    
of Python For Everybody (p4e.com/lessons)

### 7(6).1 A string is a sequence

In [ ]:
fruit = 'banana'

In [ ]:
letter = fruit[0]
print(letter)

In [ ]:
letter = fruit[1]
print(letter)

In [ ]:
letter = fruit[1.5]

#### String Indexes

b  -  a  -  n  -  a  -  n  -  a

[0] - [1] - [2] - [3] - [4] - [5]

### 7(6).2 Getting the length of a string using len

In [ ]:
fruit = 'banana'
len(fruit)

In [ ]:
length = len(fruit)
last = fruit[length]
# To get the last character, you have to subtract 1 from length

In [ ]:
last = fruit[length-1]
print(last)

### 7(6).3 Traversal through a string with a loop

In [ ]:
# using while loop

index = 0
while index < len(fruit):
    letter = fruit[index]
    print(letter)
    index = index + 1

In [ ]:
# using for loop

for char in fruit:
    print(char)

### 7(6).4 String slices

In [ ]:
s = 'Monty Python'

In [ ]:
print(s[0:5])

In [ ]:
print(s[6:12])

In [ ]:
fruit = 'banana'

In [ ]:
fruit[:3]

In [ ]:
fruit[3:]

In [ ]:
fruit[3:3]

In [ ]:
fruit[:]

### 7(6).5 Strings are immutable

In [ ]:
greeting = 'Hello, world!'

In [ ]:
greeting[0] = 'J'

In [ ]:
new_greeting = 'J' + greeting[1:]
print(new_greeting)

# This concatenates a new first letter onto a slice of greeting. It has no effect on the original string

### 7(6).6 Looping and counting

In [ ]:
# The following counts the number of times the letter " a " appears in a string

word = 'banana'
count = 0
for letter in word:
    if letter == 'a':
        count = count + 1
print(count)

### 7(6).7 The in operator

In [ ]:
'a' in 'banana'

True

In [ ]:
'seed' in 'banana'

### 7(6).8 String comparison

In [ ]:
word = 'banana'
if word == 'banana':
    print('All right, bananas.')

In [ ]:
word = 'Banana'    # Comparision done letter by letter, considering the ASCII values
if word < 'banana':
    print('Your word, ' + word + ', comes before banana.')
elif word > 'banana':
    print('Your word, ' + word + ', comes after banana.')
else:
    print('All right, bananas.')

In [ ]:
word = 'pineapple'    # Comparision done letter by letter, considering the ASCII values
if word < 'banana':
    print('Your word, ' + word + ', comes before banana.')
elif word > 'banana':
    print('Your word, ' + word + ', comes after banana.')
else:
    print('All right, bananas.')

In [ ]:
word = 'Pineapple'    # Comparision done letter by letter, considering the ASCII values
if word < 'banana':
    print('Your word, ' + word + ', comes before banana.')
elif word > 'banana':
    print('Your word, ' + word + ', comes after banana.')
else:
    print('All right, bananas.')

### 7(6).9 string methods

In [ ]:
stuff = 'Hello world'

In [ ]:
type(stuff)

In [ ]:
dir(stuff)     # built in functions for a string

In [ ]:
help(str.capitalize)

In [ ]:
word = 'banana'
new_word = word.upper()
print(new_word)

In [ ]:
word = 'banana'
index = word.find('a')
print(index)

In [ ]:
word.find('na')  # find method can find substrings as well as characters

In [ ]:
word.find('na', 3)  # can take as a second argument the index where it should start

In [ ]:
# remove white space (spaces, tabs, or newlines) from the beginning and end of a string using the strip method
line = ' Here we go '
line.strip()

In [ ]:
line = 'Have a nice day'
line.startswith('Have')

In [ ]:
line.startswith('h')

In [ ]:
line.lower()

In [ ]:
line.lower().startswith('h')

### 7(6).10 Parsing strings

In [ ]:
data = 'From stephen.marquard@uct.ac.za Sat Jan 5 09:14:16 2008'
atpos = data.find('@')
print(atpos)

In [ ]:
sppos = data.find(' ',atpos)
print(sppos)

In [ ]:
host = data[atpos+1:sppos]
print(host)

### 7(6).11 Format operator

In [ ]:
camels = 42
'%d' % camels

In [ ]:
camels = 42
'I have spotted %d camels.' % camels

In [ ]:
'In %d years I have spotted %g %s.' % (3, 0.1, 'camels')

In [ ]:
'%d %d %d' % (1, 2)

In [ ]:
'%d' % 'dollars'

### 7(6).12 Debugging

In [ ]:
while True:
    line = input('> ')
    if line[0] == '#':
        continue
    if line == 'done':
        break
    print(line)
print('Done!')



---

**See the class notes on Blackboard and the Charles Severance lectures on py4e.com for more information.**



---

**Examples** from: 
# Lesson 5 (Functions)    
*was old lesson 4*    
of Python For Everybody (p4e.com/lessons)

## 5(4).2 Built-in functions

The max and min functions give us the largest and smallest values in a list, respectively:

In [ ]:
max('Hello world')

In [ ]:
min('Hello world')

In [ ]:
len('Hello world')

In [ ]:
dir(str)   # Built-in functions for a string

## 5(4).3 Type conversion functions

In [ ]:
int('32')

In [ ]:
int('Hello')

int can convert floating-point values to integers, but it doesnâ€™t round off; it chops
off the fraction part:

In [ ]:
int(3.99999)

In [ ]:
int(-2.3)

float converts integers and strings to floating-point numbers:

In [ ]:
float(32)

In [ ]:
float('3.14159')

Finally, str converts its argument to a string:

In [ ]:
str(32)

In [ ]:
str(3.14159)

## 5(4).4 Random numbers

In [ ]:
import random

for i in range(10):
    x = random.random()
    print(x)

The function randint takes the parameters low and high, and returns an integer
between low and high (including both).

In [ ]:
random.randint(5, 10)

In [ ]:
random.randint(5, 10)

To choose an element from a sequence at random, you can use choice:

In [ ]:
t = [1, 2, 3]
random.choice(t)

In [ ]:
random.choice(t)

## 5(4).5 Math functions

In [ ]:
import math

In [ ]:
print(math)

In [ ]:
degrees = 45
radians = degrees / 360.0 * 2 * math.pi
math.sin(radians)

In [ ]:
math.sqrt(2) / 2.0

## 5(4).6 Adding new functions

In [ ]:
def print_lyrics():
    print("I'm a lumberjack, and I'm okay.")
    print('I sleep all night and I work all day.')

In [ ]:
print(print_lyrics)

In [ ]:
print(type(print_lyrics))

In [ ]:
print_lyrics()

In [ ]:
def repeat_lyrics():
    print_lyrics()
    print_lyrics()

In [ ]:
repeat_lyrics()

## 5(4).9 Parameters and arguments

In [ ]:
def print_twice(bruce):
    print(bruce)
    print(bruce)

In [ ]:
print_twice('Spam')

In [ ]:
print_twice(17)

In [ ]:
import math
print_twice(math.pi)

In [ ]:
print_twice('Spam '*4)

## 5(4).10 Fruitful functions and void functions

In [ ]:
result = print_twice('Bing')

In [ ]:
print(result)

In [ ]:
print(type(None))

In [ ]:
def addtwo(a, b):
    added = a + b
    return added

x = addtwo(3, 5)
print(x)



---

#APPENDIX

## **Working With Lists**    

o List Values    
o Acessing List Elements    
o List Membership    
o List Operations     
o Slice Operations on Lists    
o Range Function    
o Lists Are Mutable     
o Lists and FOR Loops    
o Traversing Lists    
o Enumerating Lists     
o Join Function    
o Split Function

### List Values

There are several ways to create a new list; the simplest is to enclose the elements in square brackets ( [ and ]):

`[10, 20, 30, 40]`

`["spam", "bungee", "swallow"]`

The first example is a list of four integers. The second is a list of three strings. The elements of a list donâ€™t have to be the same type. The following list contains a string, a float, an integer, and (a list within a list!) another list:

`["hello", 2.0, 5, [10, 20]]`

A list within another list is said to be nested.

Finally, there is a special list that contains no elements. It is called the empty list and is denoted **[]**.

Like numeric 0 values and the empty string, the empty list is false in a Boolean expression:

In [ ]:
if []:
    print('This is true.')
else:
    print('This is false.')

With all these ways to create lists, it would be disappointing if we could not assign list values to variables or pass lists as parameters to functions.

We can:

In [ ]:
 vocabulary = ["ameliorate", "castigate", "defenestrate"]

In [ ]:
 numbers = [17, 123]

In [ ]:
empty = []

In [ ]:
print(vocabulary, numbers, empty)

In [ ]:
all = [vocabulary, numbers, empty]

In [ ]:
type(all)

In [ ]:
print(all)



---

### Accessing List Elements

The syntax for accessing the elements of a list is the same as the syntax for accessing the characters of a stringâ€”the bracket operator ( [] â€“ not to be confused with an empty list). The expression inside the brackets specifies the index. 

Remember that the indices start at 0

In [ ]:
print(numbers[0])

print(numbers[9-8])

We can use negative index values to count backwards from the end of a list

In [ ]:
print(numbers[-1])
print(numbers[-2])

We must use integers or expressions which evaluate to integers as the index number value for an element in a list.

In [ ]:
numbers[1.0]

If you use an index number for a non-existent element, you will get a syntax error

In [ ]:
numbers[2]

It is common to use a loop variable as a list index

In [ ]:
horsemen = ["war", "famine", "pestilence", "death"]
print(horsemen)

In [ ]:
i = 0
while i < 4 :
    print(horsemen[i])
    i += 1

The len() function could be used to avoid having to hard-code the length of a list in a script

In [ ]:
len(horsemen)

In [ ]:
i = 0
num = len(horsemen)
while i < num :
    print(horsemen[i])
    i += 1

Although a list can contain another list, the nested list still counts as a single element. 

The length of this list is 4:

`['spam!', 1, ['Brie', 'Roquefort', 'Pol le Veq'], [1, 2, 3]]`

In [ ]:
len(['spam!', 1, ['Brie', 'Roquefort', 'Pol le Veq'], [1, 2, 3]])



---

### List Membership

There are a number of statements and functions which work with the elements/members of a list.  The **in** statement tests to see if a value is an element of a list and evaluates to **True** if the value is in the list, otherwise **in** evaluates to **False**.

horsemen = ["war", "famine", "pestilence", "death"]

In [ ]:
horsemen = ["war", "famine", "pestilence", "death"]

In [ ]:
 'pestilence' in horsemen

In [ ]:
 'debauchery' in horsemen

In [ ]:
'debauchery' not in horsemen



---

### List Operations

The + operator concatenates lists:

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b

print(c)

Similarly, the * operator repeats a list a given number of times:

In [ ]:
print([0] * 4)

print([1, 2, 3] * 3)

The first example repeats [0] four times. 

The second example repeats the list [1, 2, 3] three times.



---

### Slice Operations on Lists

The slice operations we saw with strings also work on lists:

In [ ]:
 a_list = ['a', 'b', 'c', 'd', 'e', 'f']

In [ ]:
print(a_list[1:3])

In [ ]:
 a_list[:4]

In [ ]:
a_list[3:]

In [ ]:
 a_list[:]



---

### Range Function

Lists that contain consecutive integers are common, so Python provides a simple way to create them: 

*   The range function takes two arguments and returns a list that contains all the integers from the first to before the second.  
*   The range includes the first argument, but the range does not include the second argument.
*   Indexing for the range begins with index #0 and continues until the range is complete.

`r = range(1,5)`

![PPT-single-slide_for-colab.png]()



---

In [ ]:
 r = range(1,5)

In [ ]:
print(r)

In [ ]:
print(r[2])

In [ ]:
print(r[:])

If the **range()** function is given only one argument (parameter) then it assumes that value is the 'up to but not including' end of a series of integers beginning with the value 1 (one).

In [ ]:
r = range(10)

In [ ]:
print(r)

![PPT-single-slide_for-colab.png]()

In [ ]:
print(r[0])
print(r[1])
print(r[4])
print(r[9])

When the range() function is given three arguments (parameters) then each of those are interpreted in the order presented as 

*   the starting value of the series
*   the 'up to, but not including' end of the series
*   the step, or amount to increase for each new element in the series


*note: all three arguments must be integers and must describe a possible series of values -*

*- we will discuss examples which break this rule soon*

If there is a third argument, it specifies the space between successive values, which is called the step size. 

This example counts from 1 to 10 by steps of 2:

In [ ]:
r = range(1, 10, 2)

In [ ]:
print(r)

![PPT-single-slide_for-colab.png]()

In [ ]:
print(r[0])
print(r[1])
print(r[2])
print(r[3])
print(r[4])

If the step size is negative, then start value must be greater than stop value.

In [ ]:
 r = range(20, 4, -5)

In [ ]:
print(r)

![PPT-single-slide_for-colab.png]()

In [ ]:
print(r[0])
print(r[1])
print(r[2])
print(r[3])

In [ ]:
print(len(r))

If the step size is negative, then start must be greater than stop or the result will be an empty list.

`r = range(10, 20, -5)`

In [ ]:
 r = range(10, 20, -5)

In [ ]:
print(r)

![PPT-single-slide_for-colab.png]()

In [ ]:
print(r[0])

In [ ]:
len(r)



---

### Lists Are Mutable

Unlike strings, lists are mutable, which means we can change their elements. 
Using the bracket operator on the left side of an assignment, we can update one of the elements:

In [ ]:
 fruit = ["banana", "apple", "quince"]

In [ ]:
 fruit[0] = "pear"

In [ ]:
 fruit[-1] = "orange"

In [ ]:
print(fruit)

The bracket operator applied to a list can appear anywhere in an expression. When it appears on the left side of an assignment, it changes one of the elements in the list, so the first element of fruit has been changed from 'banana' to 'pear', and the last from 'quince' to 'orange'. 

An assignment to an element of a list is called item assignment.

Item assignment does not work for strings:

In [ ]:
my_string = 'TEST'

In [ ]:
my_string[2] = 'X'  # trying to assign a new value to an element of a string

 ... but it does for lists:

In [ ]:
my_list = ['T', 'E', 'S', 'T']

In [ ]:
my_list[2] = 'X'

In [ ]:
print(my_list)



---

#### Slice Operator for Lists

With the slice operator we can update several elements at once:

In [ ]:
 a_list = ['a', 'b', 'c', 'd', 'e', 'f']

In [ ]:
 a_list[1:3] = ['x', 'y']

In [ ]:
print(a_list)

We can also remove elements from a list by assigning the empty list **[]** to them:

In [ ]:
 a_list[1:3] = []

In [ ]:
print(a_list)



---

And we can add elements to a list by squeezing them into an empty slice at the desired location:

In [ ]:
 a_list = ['a', 'd', 'f']

In [ ]:
 a_list[1:1] = ['b', 'c']

In [ ]:
print(a_list)

In [ ]:
 a_list[4:4] = ['e']

In [ ]:
print(a_list)



---

#### List Deletion

Using slices to delete list elements can be awkward, and therefore error-prone. 

Python provides an alternative that is more readable.

**del** removes an element from a list:

In [ ]:
 a = ['one', 'two', 'three']

In [ ]:
 del a[1]

In [ ]:
print(a)

You can use a slice as an index for **del**:

As usual, slices select all the elements up to, but not including, the second index.

In [ ]:
a_list = ['a', 'b', 'c', 'd', 'e', 'f']
del a_list[1:5]
print(a_list)

#### Cloning/Copying Lists

To modify a list and also keep a copy of the original, we need to be able to make a copy or clone of the list.

The easiest way to clone a list is to use the slice operator:

In [ ]:
a = [1, 2, 3]
b = a[:]
print(b)

Taking any slice of a list creates a new list. In this case the slice happens to consist of the whole list.

Now we are free to make changes to b without worrying about a:

In [ ]:
b[0] = 5
print(a)



---



---

The for loop also works with lists. The generalized syntax of a for loop is:


```
### for VARIABLE in LIST:
> ### BODY

```




This statement is equivalent to:

`i = 0`

`while i < len(LIST):`

`    VARIABLE = LIST[i]`

`    <BODY>`

`    i += 1`



The for loop is more concise because we can eliminate the loop variable, **i**.

### Lists and For Loops

The for loop also works with lists. The generalized syntax of a for loop is:


```
### for VARIABLE in LIST:
> ### BODY
```



This statement is equivalent to:

`i = 0`

`while i < len(LIST):`

`    VARIABLE = LIST[i]`

`    <BODY>`

`    i += 1`



The for loop is more concise because we can eliminate the loop variable, **i**.

Here is an equivalent to the while loop from the [Accessing List Elements](https://colab.research.google.com/drive/1hTI12zztVylqkR-zcwjesi17uGyrI6LO#scrollTo=qzJ3pI_o_Ik_&line=1&uniqifier=1) section written with a for loop.

`for horseman in horsemen:`

> `    print(horseman)`



It almost reads like English: 

For (every) horseman in (the list of) horsemen, print (the name of the) horseman.

In [ ]:
for horseman in horsemen:
    print(horseman)

#### *Examples of For Loops with Lists*

Any list expression can be used in a for loop:

In [ ]:
for number in range(20):
    if number % 3 == 0:
        print (number)

The example above prints all the multiples of 3 between 0 and 19. 

The next example expresses enthusiasm for various fruits.

In [ ]:
for fruit in ["banana", "apple", "quince"]:
    print("I like to eat " + fruit + "s!")



---

### Traversing Lists

Since lists are mutable, it is often desirable to traverse a list, modifying each of its elements. 

The following squares all the numbers from 1 to 5:

In [ ]:
numbers = [1, 2, 3, 4, 5]
print("The list numbers: ", numbers) # print the list before processing the for loop
for index in range(len(numbers)):
    numbers[index] = numbers[index]**2
print("The list numbers:", numbers) # print the list after processing the for loop

Take a moment to think about **range(len(numbers))** until you understand how it works. 

We are interested here in both the **value** and its **index** within the list, so that we can assign a new value to it.



---

### Enumerating Lists

Thinking about **range(len(numbers))** and understanding how it works and can be applied to many uses cases in processing lists, we can learn another way to solve the same problem. 

We are interested here in both the **value** and its **index** within the list, so that we can assign a new value to it.

This pattern is common enough that Python provides a nicer way to implement it:

`numbers = [1, 2, 3, 4, 5]`

`for index, value in enumerate(numbers):`

> `numbers[index] = value**2`

In [ ]:
numbers = [1, 2, 3, 4, 5]
print("The list numbers: ", numbers) # print the list before processing the for loop
for index, value in enumerate(numbers):
    numbers[index] = value**2
print("The list numbers:", numbers) # print the list after processing the for loop

**enumerate** generates both the index and the value associated with it during the list traversal. 

Try this next example to see more clearly how enumerate works:

In [ ]:
for index, value in enumerate(['banana', 'apple', 'pear', 'quince']):
    print(index, value)



---

### Join() Function

*note: In the Elkner text, which is written based on Python 2.0, the join() function is referenced as a method imported from the string module -- that is no longer the case in Python 3.0 and beyond.*

As we can see from the last example, str canâ€™t be used to join a list of characters together. To do this we could use the **join()** method which works on string objects:


`char_list = list("Frog")`

`char_list`

['F', 'r', 'o', 'g']

`s = ""`

`joined_characters = s.join(char_list, '')`

'Frog'

In [ ]:
char_list = list("Frog")

char_list

print("Character list: ", char_list)

We create an empty string **s** to apply the join() method to, and we give the **join()** method a list of characters to be joined using the string **s** as a separator.  In this example we want no separator so we create **s** as an empty string.

In [ ]:
s = ""
joined_characters = s.join(char_list)
print("Character list: ", char_list)
print("Joined characters: ", joined_characters)

If we had wanted the list of characters to be separated by a hyphen, we would create the string **s** with the assignment of a hyphen as 

`s = '-'`

Then apply the join method to the string **s** (the separator), with the list of characters to join as the argument.

In [ ]:
s = "-"
joined_characters = s.join(char_list)
print("Character list: ", char_list)
print("Joined characters: ", joined_characters)

Suppose we wanted to join together the strings in a list of three digit numbers and have each element from the list separated by a hyphen "-". 

 If our list of three digit numbers was:

`three_digit_numbers =  ["718", "212", "917", "201", "914", "516"]`

In [ ]:
three_digit_numbers = ["718", "212", "917", "201", "914", "516"]
s = "-"
joined_number_string = s.join(three_digit_numbers)
print("Three digit number list: ", three_digit_numbers)
print("Joined number string: ", joined_number_string)

The variable name of the separator does not have to be **s**. 

In a more tangible example, we may have the four components of an IP address in a list variable **ip_elements** and want to combine them with a dot "**.**" as a separator to have a fully-qualified IPv4 address in a string variable **ip_address**. 

`ip_elements = ["192", "168", "0", "1"]`

In [ ]:
ip_elements = ["192", "168", "0", "1"]
s = "."
ip_address = s.join(ip_elements)
print("IPv4 address elements: ", ip_elements)
print("IPv4 address: ", ip_address)



---

### Split() Function

*note: In the Elkner text, which is written based on Python 2.0, the split() function is referenced as a method imported from the string module -- that is no longer the case in Python 3.0 and beyond.*

The split function breaks a string into a list of words. 

This string method is used extensively in data science, especially when reading data to be scrubbed from raw input files.

By default, any number of whitespace characters is considered a word boundary:

In [ ]:
song = "The rain in Spain..."
s = song.split()
print(s)

An optional argument called a delimiter can be used to specify which characters to use as word boundaries. The following example uses the string ai as the delimiter:

In [ ]:
song = "The rain in Spain..."
s = song.split('ai')
print(s)

['The r', 'n in Sp', 'n...']

What happened in that last bit of code?

Why did **s** have that list of strings assigned?

Let's break apart that IPv4 address from earlier.  To make sure that we do not cheat or stumble on some lucky value from before, we will start by assigning the value **None** to each variable.

In [ ]:
ip_elements = None  # just so that there is no sleight of hand 
ip_address = None   # just so that there is no sleight of hand 
ip_address = "192.168.0.1"
ip_elements = ip_address.split(".")
print("IPv4 address: ", ip_address)
print("IPv4 address elements: ", ip_elements)



---

The join() method is the inverse of the string() method. 

It takes a list of strings as an argument and applies it to a separator string variable which will be placed between each element in the list in the resultant string.

In [ ]:
words = ['crunchy', 'raw', 'unboned', 'real', 'dead', 'frog']
s = " "
joined_string = s.join(words)
print("Original list of words: ", words)
print("Joined string: ", joined_string)

In [ ]:
words = ['crunchy', 'raw', 'unboned', 'real', 'dead', 'frog']
s = "*!*"
joined_string = s.join(words)
print("Original list of  words: ", words)
print("Joined string: ", joined_string)

In [ ]:
words_retrieved = joined_string.split("*!*")
print("Original list of words: ", words)
print("Joined string s: ", joined_string)
print("Words retrieved: ", words_retrieved)



---

*As was mentioned earlier, please make note of books or other references which were written prior to Python version 3.0 because there will be differences in some of the operations mentioned.*



---