<a href="https://colab.research.google.com/github/ProfessorPatrickSlatraigh/CST2312/blob/main/CST2312_HD32_Spr2023_Class_08_22_Feb_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CST2312 - Class #08,     
**Dictionaries (from Py4E.com, lesson 10 - former lesson 9)**   
**Tuples (from Py4E.com, lesson 11 - former lesson 10)**   

**EXERCISE: Using Tuples and Dictionaries**    


by Professor Patrick, 28-Sep-2022, updated: 21-Feb-2023 
    

This notebook on Colab at `https://bit.ly/cst2312cl08`

This notebook works with shared links to the following files on Google Drive:    

 o [words.txt](https://bit.ly/py4e-words)     
 o [romeo.txt](https://bit.ly/romeo-short)    
 o [romeo-full.txt](https://bit.ly/romeo-full)   
 o [ST_GDP_UnemploymentRate_US-2020.csv]()



---

# **10: Dictionaries**        
**Examples** from: 
# Lesson 10 (Dictionaries)    
*was old lesson 9*    
of Python For Everybody (p4e.com/lessons)

A dictionary is like a list, but more general. In a list, the index positions have to be integers; in a dictionary, the indices can be (almost) any type.

You can think of a dictionary as a mapping between a set of indices (which are called keys) and a set of values. Each key maps to a value. The association of a key and a value is called a *key-value pair* or sometimes an item.

As an example, we’ll build a dictionary that maps from English to Spanish words, so the keys and the values are all strings.

The function dict creates a new dictionary with no items. Because dict is the name of a built-in function, you should avoid using it as a variable name.

## **Introduction to Dictionaries**

In [ ]:
# Built-in dict() creates a new dictionary with no items.
eng2sp = dict()
print(eng2sp)         # curly brackets, {}, represent an empty dictionary

In [ ]:
# add items to the dictionary,you can use square brackets
eng2sp['one'] = 'uno'

# key-value pair

In [ ]:
print(eng2sp)

In [ ]:
eng2sp = {'one': 'uno', 'two': 'dos', 'three': 'tres'}
print(eng2sp)

In [ ]:
eng2int =        # add the required dictionary assignment for integer values
print(eng2int)

In [ ]:
# complete the print statement to display the integer of 'one'
print()

### (hidden) Here is the answer

In [ ]:
eng2int = {
    'one': 1,
    "two":2,
    '''three''':3
}

print(eng2int)

In [ ]:
print(eng2int["one"])

##Looking up values with keys

In [ ]:
# use the keys to look up the corresponding values
print(eng2sp['two'])

In [ ]:
print(eng2sp['four'])
# key isn’t in the dictionary, you get an exception

In [ ]:
len(eng2sp)
# returns the number of key-value pairs

In [ ]:
# tells you whether something appears as a key in the dictionary
'one' in eng2sp

In [ ]:
'uno' in eng2sp

In [ ]:
# use the method values(), which returns the values as a list, and then use the in operator
values_lst = list(eng2sp.values())
'uno' in values_lst

In [ ]:
print(values_lst)

In [ ]:
'one' in values_lst

In [ ]:
dir(eng2sp)

In [ ]:
# use the method keys(), which returns the keys as a list, and then use the in operator
keys_lst = list(eng2sp.keys())
'one' in keys_lst

In [ ]:
'uno' in keys_lst

You can get a list of keys, values, or items (both) from a dictionary.  When we have multiple values together as an object, we refer to that object as a tuple.

In [ ]:
jjj = { 'chuck' : 1 , 'fred' : 42, 'jan': 100}
print(list(jjj))

print(list(jjj.keys()))

print(list(jjj.values()))

print(list(jjj.items()))

##Assigning values to keys

Just as we can lookup a value in a key:value pair, we can also assign a value to a key:value pairs using the key as an index.

In [ ]:
print(eng2sp)

In [ ]:
eng2sp['four'] = 'cuatro'   # adding a 4th key:value pair

In [ ]:
print(eng2sp)

## Dictionaries as Reference Tools

Lists index their entries based on the position in the list
Dictionaries are like bags - no order
So we index the things we put in the dictionary with a “lookup tag” called the "key".  Each key is unique.  Each key is associated with a value, which can be any data type, including lists, or other dictionaries.  Values in a dictionary need not be unique.

In [ ]:
# create and print an empty dictionary
choco = dict()
print(choco)

{}

In [ ]:
choco['Hershey'] = 2
choco['Godiva'] = 3
choco['Kinder'] = 1

print(choco)

{'Hershey': 2, 'Godiva': 3, 'Kinder': 1}

In [ ]:
# How many Godiva do we have?
print(choco['Godiva'])

3

In [ ]:
# give one Godiva choco away
choco['Godiva'] = choco['Godiva'] - 1

# How many Godiva do we have?
print(choco['Godiva'])

In [ ]:
# first create an empty dictionary
purse = dict()

# then add key:value pairs - akin to SQL INSERTs
purse['money'] = 12   # add a k:v pair of 12 moneys (coins)
purse['candy'] = 3    # add a k:v pair of 3 candy
purse['tissues'] = 75 # add a k:v pair of 75 tissues

In [ ]:
# what type is the variable purse we just created?
type(purse)

After creating an empty dictionary we can add key|value pairs to that dictionary.  Then we can process the dictionary with Python statements and expressions.

In [ ]:
print(purse)

{'money': 12, 'candy': 3, 'tissues': 75}

In [ ]:
# print the value for the key 'candy'
print(purse['candy'])

In [ ]:
# print the full dictionary
print("Here are the purse dictionary key|value pairs: ", purse)

In [ ]:
# print(purse['candy'])
print("Here is the value of 'candy' in purse: ", purse['candy'])

One common use of dictionaries is counting how often we “see” something.  We use the category item as a key and keep an integer counter as the value.

In [ ]:
# make a dictionary counting shirts by size
shirts = dict()

# add k:v pairs with an inventory of shirts on hand
shirts['XS'] = 4
shirts['S'] = 2
shirts['M'] = 8
shirts['L'] = 12
shirts['XL'] = 6
shirts['XXL'] = 3

# how many shirts do we have by size?
print(shirts)

{'XS': 4, 'S': 2, 'M': 8, 'L': 12, 'XL': 6, 'XXL': 3}

In [ ]:
# Dictionary values can be used in expressions
# sell a medium shirt
shirts['M'] = shirts['M'] - 1

# how many shirts do we have by size?
print(shirts)

{'XS': 4, 'S': 2, 'M': 7, 'L': 12, 'XL': 6, 'XXL': 3}

## 10(9).1 Dictionary as a set of counters

Suppose you are given a string and you want to count how many times each letter appears. There are several ways you could do it:

1. You could create 26 variables, one for each letter of the alphabet. Then you could traverse the string and, for each character, increment the corresponding counter, probably using a chained conditional.

2. You could create a list with 26 elements. Then you could convert each character to a number (using the built-in function ord), use the number as an index into the list, and increment the appropriate counter.

3. You could create a dictionary with characters as keys and counters as the corresponding values. The first time you see a character, you would add an item to the dictionary. After that you would increment the value of an existing item.


Each of these options performs the same computation, but each of them implements that computation in a different way.

An implementation is a way of performing a computation; some implementations are better than others. For example, an advantage of the dictionary implementation is that we don’t have to know ahead of time which letters appear in the string and we only have to make room for the letters that do appear.

Here is what the code might look like:

In [ ]:
# example code to count characters in a string  
# USING A FOR LOOP AND EMBEDDED IF/ELSE
# word_str   -- a string with a word as its value
# histo_dict -- a histogram dictionary of counts of letters
# char_str   -- an individual character as a string

# store a word in a string variable
word_str = 'brontosaurus'
# try with a different string assignment later
# word_str = 'tyranosaurus'
word_str = 'tyranosaurus are not the content of bronto burgers'

# initialize an empty histogram dictionary
histo_dict = dict()

# loop through each character in the word and
# add a count of 1 to each letter found
for char_str in word_str:
    if char_str not in histo_dict:
        histo_dict[char_str] = 1
    else:
        histo_dict[char_str] = histo_dict[char_str] + 1

# print the histogram dictionary of counts of letters
print(histo_dict)

In [ ]:
# lookup the frequency of a letter used in the string
print(histo_dict['n'])

In [ ]:
# try the code above with a multi-line docstring instead of a string  
# place your code here

In [ ]:
# trying it with 'Big for Your Boots' by Stormzy    

# example code to count characters in a string  
# USING A FOR LOOP AND EMBEDDED IF/ELSE
# word_str   -- a string with a word as its value
# histo_dict -- a histogram dictionary of counts of letters
# char_str   -- an individual character as a string

# store a word in a string variable
word_str = """
You're getting way too big for your boots
You're never too big for the boot
I've got the big size twelves on my feet
Your face ain't big for my boot
Kick up the yout
Man know that I kick up the yout
Dem boy dere tried twist up the truth
How dare you twist up the truth, look
You're getting way too big for your boots
You're never too big for the boot
I got the big size twelves on my feet
Your face ain't big for my boot
Kick up the yout
Man know that I kick up the yout
Dem boy dere tried twist up the truth
How dare you twist up the truth

Wanna come round here like a badboy? Do it
Bun all the talking, go on then, do it
Running through the party, bottle of BACARDÍ
Bro's in my ear saying "Stormz, don't do it"
Devil on my shoulder, I don't lack
Hit 'em with a crowbar, I don't scrap
Even when I'm sober, I'm so gassed
Say you ride but there's no car and no mash (what you talking 'bout?)
Clown, stand down
Never had a MAC-10 or a trey pound
You were never bad then, you ain't bad now
Never had the MAC then, little nigga, back down
Wait, I saw bare kicks, saw bare clothes
Said ffcc that, I can't wear those
I don't like them, they're not my ting
They went silent, they're all weirdos
Like yeah, Stormz gone clear
Never had a Tom Ford or a Moncler
Mandem are calm, but you see my don there?
ffccries, tell 'em don't do it, don't dare
Don't care who you know from my block
You're not Al Capone, you'll get boxed
They can take my car and my creps
I'll still do the road in my socks
Like who's gonna stop me? You? Him?
Weed in a cigarette, blue slims
Don't be an idiot, move smart
I've been killing it, new king
Niggas ain't ready for my new stuff
You're a prick by yourself, go and group up
And when Krept went States for the BETs
I was covering Krept like a bootcut
Ith mad, that's a family ting, straight family ting
Dem man are broke, no salary ting
Had a peng ting called Amy
Telling me to come round hers on a Valerie ting
#Merky, academy ting
Coming like art in a gallery ting
Dem boy dere wanna chat about bars
Wanna chat about crud but, but, but

You're getting way too big for your boots
You're never too big for the boot
I got the big size twelves on my feet
Your face ain't big for my boot
Kick up the yout
Man know that I kick up the yout
Dem boy dere tried twist up the truth
How dare you twist up the truth, look

I'm too hot
Drug money in my shoebox
I'm the man of the house and my shows sold out
Like the brudda from the Boondocks
Beats 1 in my boombox
Still steal meat from the stew pot
Mandem go sick when my tune drops
Little man, that's a Hublot, not a Hublot
What? Pronounce it right, you prick
I go mad, yeah, I'm down to die for this
I don't care, bro, I'm down to pipe your chick
Mad stressed so I'm bound to light my spliffs
Wait, I'm bound to ride for Flipz
Real Gs gonna ride around to this
Man, I've got no time to write a diss
I never left my 9 to 5 for this
Wasteman ting
I don't care what rave man's in
I came here to relax but if it gets mad
Mek a young boy take man's tings
Try tell me I'm way too big to rebel?
Nah, man, you're never too big to rebel
I was in the O2 singing my lungs out
Rudeboy, you're never too big for Adele
Leave my yard, blow a kiss to my girl
Salute to my sister as well
Gotta keep trophies down at my mum's bit
Man, I'm getting way too big for my shelf
Man, I see bare MCs wanna sideline
But I still got a couple bangers in the pipeline
Man, I've got grown men @ing me bullsstt
You're getting way too old for the timeline
You're getting way too old for a diss
Should've looked after your kids
Get out the booth, go home to your son
It's never too late to commit
It's like man love put my name in a bar
Random flight, get a plane to Qatar
This year, I learnt how to take care of business
Next year, I'll learn how to play the guitar

You're getting way too big for your boots
You're never too big for the boot
I got the big size twelves on my feet
Your face ain't big for my boot
Kick up the yout
Man know that I kick up the yout
Dem boy dere tried twist up the truth
How dare you twist up the truth, look
You're getting way too big for your boots
You're never too big for the boot
I got the big size twelves on my feet
Your face ain't big for my boot
Kick up the yout
Man know that I kick up the yout
Dem boy dere tried twist up the truth
How dare you twist up the truth
"""

# initialize an empty histogram dictionary
histo_dict = dict()

# loop through each character in the word and
# add a count of 1 to each letter found
for char_str in word_str:
    if char_str not in histo_dict:
        histo_dict[char_str] = 1
    else:
        histo_dict[char_str] = histo_dict[char_str] + 1

# print the histogram dictionary of counts of letters
print(histo_dict)

We are effectively computing a histogram, which is a statistical term for a set of counters (or frequencies).

The for loop traverses the string. Each time through the loop, if the character `char_str` is not in the dictionary, we create a new item with key of `char_str` and the initial value `1` (since we have seen this letter once). If `char_str` is already in the dictionary we increment `histo_dict[char_str]`.  The histogram indicates that the letters “a” and “b” appear once; “o” appears twice, and so on.

Dictionaries have a method called `get` that takes a `key` and a default value. If the `key` appears in the dictionary, then `get` returns the corresponding value; otherwise it returns the default value.     

For example:

In [ ]:
# get method that takes a key and a default value. If the key appears in the dictionary, get returns the corresponding value; otherwise it returns the default value
counts_dict = { 'chuck' : 1 , 'annie' : 42, 'jan': 100}
print(counts_dict.get('jan', 0))

100

What if the `get` methods does not find the `key` given as an argument?

In [ ]:
print(counts_dict['tim'])

In [ ]:
print(counts_dict.get('tim', 0))

0

The pattern of checking to see if a key is already in a dictionary and assuming a default value if the key is not there is so common that there is a method called `get()` that does this for us.  Let's setup a dictionary first, then check for a key with get.

In [ ]:
# create an empty dictionary to use in counting a categorical
inventory = dict()

# create a list of categorical string values to process
shirt_list = ['XS', 'S', 'XXL', 'M', 'M', 'XS', 'M', 'L', 'S', 'XL', 'XL', 'L', 'M', 'M', 'XXL']

# iterate through the list and add new keys with a value of 1 or
# increase the value of an existing key by 1
for shirt in shirt_list :
    if shirt not in inventory : 
        inventory[shirt] = 1
    else :
        inventory[shirt] = inventory[shirt] + 1

print(inventory)

We can use `get` to write our histogram loop more concisely. Because the `get` method automatically handles the case where a `key` is not in a dictionary, we can reduce four lines down to one and eliminate the if statement.

In [ ]:
# example code to count characters in a string 
# USING THE .GET METHOD  
# word_str   -- a string with a word as its value
# histo_dict -- a histogram dictionary of counts of letters
# char_str   -- an individual character as a string

# store a word in a string variable
word_str = 'brontosaurus'

# initialize an empty histogram dictionary
histo_dict = dict()
# or, initialize a dictionary with some k-v pairs
# histo_dict = {'x' : 1, 'y' : 1,'z' : 1, 'b' : 90, 'u' : 80}

# use a for loop
for char_str in word_str:
    histo_dict[char_str] = histo_dict.get(char_str, 0) + 1
# try using a different value for the second argument to .get() 
#    histo_dict[char_str] = histo_dict.get(char_str, 100) + 1
# the following attempt would return a key error on 'b'
#    histo_dict[char_str] = histo_dict[char_str] + 1

# print the histogram dictionary of counts of letters
print(histo_dict)

The use of the `get` method to simplify this counting loop ends up being a very commonly used *idiom* in Python and we will use it many times in the rest of the class. So you should take a moment and compare the loop using the `if` statement and `in` operator with the loop using the `get` method. They do exactly the same thing, but one is more succinct.

Taking it to the next level, we can count words instead of characters.  To do a good job of counting words we will want to eliminate the confusion caused by differences in upper and lower case, and we will want to remove the noise created by punctuation and `\n` characters.

Let's import the `string` module to access its string of punctuation characters, `string.punctuation`.

In [ ]:
# import string library to access a list of punctuation
import string
print('Using the following list of punctuation ', string.punctuation, '\n')

In [ ]:
# how we can count words in a string, instead of characters:    

# example code to count words in a string 
# USING THE .GET METHOD  
# text_str   -- a string with words 
# word_lst   -- a list of words from text_str
# word_str   -- an individual word as a string
# histo_dict -- a histogram dictionary of counts of letters

# import string library to access a list of punctuation
import string
print('Using the following list of punctuation ', string.punctuation, '\n')

# store text in a string variable
text_str = """
Brontosaurus are not good burgers.
Perhaps I will just have the fries.
Are they as good as you say they are?
"""

# clean up (wrangle) text_str to: 
# transform to lower case    
# remove \n and punctuation
# text_str.lower().replace("\n", " ").split(" ")

# create a list of words in the text string
word_lst = text_str.lower().replace("\n", " ").split(" ") 

# initialize an empty histogram dictionary
histo_dict = dict()

# use a for loop
for word_str in word_lst:
    # word_str = word_str.replace('.', '')
    for character in string.punctuation:
        word_str = word_str.replace(character, '')
    histo_dict[word_str] = histo_dict.get(word_str, 0) + 1

# print the histogram dictionary of counts of words
print(histo_dict)

The `string` library gives us access to `string.punctuation` which is a list of punctuation characters.

In [ ]:
import string 
print(string.punctuation)
print(type(string.punctuation))

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~
<class 'str'>

Now, try counting the words in the Stormy song Too Big for Your Boots.

In [ ]:
# how we can count words in a string, instead of characters:    

# example code to count words in a string 
# USING THE .GET METHOD  
# text_str   -- a string with words 
# word_lst   -- a list of words from text_str
# word_str   -- an individual word as a string
# histo_dict -- a histogram dictionary of counts of letters

# import string library to access a list of punctuation
import string
print('Using the following list of punctuation ', string.punctuation, '\n')

# store text in a string variable
text_str = """
You're getting way too big for your boots
You're never too big for the boot
I've got the big size twelves on my feet
Your face ain't big for my boot
Kick up the yout
Man know that I kick up the yout
Dem boy dere tried twist up the truth
How dare you twist up the truth, look
You're getting way too big for your boots
You're never too big for the boot
I got the big size twelves on my feet
Your face ain't big for my boot
Kick up the yout
Man know that I kick up the yout
Dem boy dere tried twist up the truth
How dare you twist up the truth

Wanna come round here like a badboy? Do it
Bun all the talking, go on then, do it
Running through the party, bottle of BACARDÍ
Bro's in my ear saying "Stormz, don't do it"
Devil on my shoulder, I don't lack
Hit 'em with a crowbar, I don't scrap
Even when I'm sober, I'm so gassed
Say you ride but there's no car and no mash (what you talking 'bout?)
Clown, stand down
Never had a MAC-10 or a trey pound
You were never bad then, you ain't bad now
Never had the MAC then, little nigga, back down
Wait, I saw bare kicks, saw bare clothes
Said ffcc that, I can't wear those
I don't like them, they're not my ting
They went silent, they're all weirdos
Like yeah, Stormz gone clear
Never had a Tom Ford or a Moncler
Mandem are calm, but you see my don there?
ffccries, tell 'em don't do it, don't dare
Don't care who you know from my block
You're not Al Capone, you'll get boxed
They can take my car and my creps
I'll still do the road in my socks
Like who's gonna stop me? You? Him?
Weed in a cigarette, blue slims
Don't be an idiot, move smart
I've been killing it, new king
Niggas ain't ready for my new stuff
You're a prick by yourself, go and group up
And when Krept went States for the BETs
I was covering Krept like a bootcut
Ith mad, that's a family ting, straight family ting
Dem man are broke, no salary ting
Had a peng ting called Amy
Telling me to come round hers on a Valerie ting
#Merky, academy ting
Coming like art in a gallery ting
Dem boy dere wanna chat about bars
Wanna chat about crud but, but, but

You're getting way too big for your boots
You're never too big for the boot
I got the big size twelves on my feet
Your face ain't big for my boot
Kick up the yout
Man know that I kick up the yout
Dem boy dere tried twist up the truth
How dare you twist up the truth, look

I'm too hot
Drug money in my shoebox
I'm the man of the house and my shows sold out
Like the brudda from the Boondocks
Beats 1 in my boombox
Still steal meat from the stew pot
Mandem go sick when my tune drops
Little man, that's a Hublot, not a Hublot
What? Pronounce it right, you prick
I go mad, yeah, I'm down to die for this
I don't care, bro, I'm down to pipe your chick
Mad stressed so I'm bound to light my spliffs
Wait, I'm bound to ride for Flipz
Real Gs gonna ride around to this
Man, I've got no time to write a diss
I never left my 9 to 5 for this
Wasteman ting
I don't care what rave man's in
I came here to relax but if it gets mad
Mek a young boy take man's tings
Try tell me I'm way too big to rebel?
Nah, man, you're never too big to rebel
I was in the O2 singing my lungs out
Rudeboy, you're never too big for Adele
Leave my yard, blow a kiss to my girl
Salute to my sister as well
Gotta keep trophies down at my mum's bit
Man, I'm getting way too big for my shelf
Man, I see bare MCs wanna sideline
But I still got a couple bangers in the pipeline
Man, I've got grown men @ing me bullsstt
You're getting way too old for the timeline
You're getting way too old for a diss
Should've looked after your kids
Get out the booth, go home to your son
It's never too late to commit
It's like man love put my name in a bar
Random flight, get a plane to Qatar
This year, I learnt how to take care of business
Next year, I'll learn how to play the guitar

You're getting way too big for your boots
You're never too big for the boot
I got the big size twelves on my feet
Your face ain't big for my boot
Kick up the yout
Man know that I kick up the yout
Dem boy dere tried twist up the truth
How dare you twist up the truth, look
You're getting way too big for your boots
You're never too big for the boot
I got the big size twelves on my feet
Your face ain't big for my boot
Kick up the yout
Man know that I kick up the yout
Dem boy dere tried twist up the truth
How dare you twist up the truth
"""

# clean up (wrangle) text_str to: 
# transform to lower case    
# remove \n and punctuation
# text_str.lower().replace("\n", " ").split(" ")

# create a list of words in the text string
word_lst = text_str.lower().replace("\n", " ").split(" ") 

# initialize an empty histogram dictionary
histo_dict = dict()

# use a for loop
for word_str in word_lst:
    # word_str = word_str.replace('.', '')
    for character in string.punctuation:
        word_str = word_str.replace(character, '')
    histo_dict[word_str] = histo_dict.get(word_str, 0) + 1

# print the histogram dictionary of counts of words
print(histo_dict)

Using the following list of punctuation  !"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

{'': 6, 'youre': 16, 'getting': 8, 'way': 9, 'too': 18, 'big': 24, 'for': 24, 'your': 13, 'boots': 5, 'never': 13, 'the': 45, 'boot': 10, 'ive': 4, 'got': 8, 'size': 5, 'twelves': 5, 'on': 8, 'my': 32, 'feet': 5, 'face': 5, 'aint': 7, 'kick': 10, 'up': 21, 'yout': 10, 'man': 14, 'know': 6, 'that': 6, 'i': 24, 'dem': 7, 'boy': 7, 'dere': 6, 'tried': 5, 'twist': 10, 'truth': 10, 'how': 7, 'dare': 6, 'you': 13, 'look': 3, 'wanna': 4, 'come': 2, 'round': 2, 'here': 2, 'like': 8, 'a': 22, 'badboy': 1, 'do': 5, 'it': 7, 'bun': 1, 'all': 2, 'talking': 2, 'go': 5, 'then': 3, 'running': 1, 'through': 1, 'party': 1, 'bottle': 1, 'of': 3, 'bacardí': 1, 'bros': 1, 'in': 10, 'ear': 1, 'saying': 1, 'stormz': 2, 'dont': 10, 'devil': 1, 'shoulder': 1, 'lack': 1, 'hit': 1, 'em': 2, 'with': 1, 'crowbar': 1, 'scrap': 1, 'even': 1, 'when': 3, 'im': 10, 'sober': 1, 'so': 2, 'gassed': 1, 'say': 1, 'ride': 3, 'but': 7, 'theres': 1, 'no': 4, 'car': 2, 'and': 5, 'mash': 1, 'what': 3, 'bout': 1, 'clown': 1, 'stand': 1, 'down': 5, 'had': 4, 'mac10': 1, 'or': 2, 'trey': 1, 'pound': 1, 'were': 1, 'bad': 2, 'now': 1, 'mac': 1, 'little': 2, 'nigga': 1, 'back': 1, 'wait': 2, 'saw': 2, 'bare': 3, 'kicks': 1, 'clothes': 1, 'said': 1, 'ffcc': 1, 'cant': 1, 'wear': 1, 'those': 1, 'them': 1, 'theyre': 2, 'not': 3, 'ting': 9, 'they': 2, 'went': 2, 'silent': 1, 'weirdos': 1, 'yeah': 2, 'gone': 1, 'clear': 1, 'tom': 1, 'ford': 1, 'moncler': 1, 'mandem': 2, 'are': 2, 'calm': 1, 'see': 2, 'don': 1, 'there': 1, 'ffccries': 1, 'tell': 2, 'care': 4, 'who': 1, 'from': 3, 'block': 1, 'al': 1, 'capone': 1, 'youll': 1, 'get': 3, 'boxed': 1, 'can': 1, 'take': 3, 'creps': 1, 'ill': 2, 'still': 3, 'road': 1, 'socks': 1, 'whos': 1, 'gonna': 2, 'stop': 1, 'me': 4, 'him': 1, 'weed': 1, 'cigarette': 1, 'blue': 1, 'slims': 1, 'be': 1, 'an': 1, 'idiot': 1, 'move': 1, 'smart': 1, 'been': 1, 'killing': 1, 'new': 2, 'king': 1, 'niggas': 1, 'ready': 1, 'stuff': 1, 'prick': 2, 'by': 1, 'yourself': 1, 'group': 1, 'krept': 2, 'states': 1, 'bets': 1, 'was': 2, 'covering': 1, 'bootcut': 1, 'ith': 1, 'mad': 4, 'thats': 2, 'family': 2, 'straight': 1, 'broke': 1, 'salary': 1, 'peng': 1, 'called': 1, 'amy': 1, 'telling': 1, 'to': 18, 'hers': 1, 'valerie': 1, 'merky': 1, 'academy': 1, 'coming': 1, 'art': 1, 'gallery': 1, 'chat': 2, 'about': 2, 'bars': 1, 'crud': 1, 'hot': 1, 'drug': 1, 'money': 1, 'shoebox': 1, 'house': 1, 'shows': 1, 'sold': 1, 'out': 3, 'brudda': 1, 'boondocks': 1, 'beats': 1, '1': 1, 'boombox': 1, 'steal': 1, 'meat': 1, 'stew': 1, 'pot': 1, 'sick': 1, 'tune': 1, 'drops': 1, 'hublot': 2, 'pronounce': 1, 'right': 1, 'die': 1, 'this': 4, 'bro': 1, 'pipe': 1, 'chick': 1, 'stressed': 1, 'bound': 2, 'light': 1, 'spliffs': 1, 'flipz': 1, 'real': 1, 'gs': 1, 'around': 1, 'time': 1, 'write': 1, 'diss': 2, 'left': 1, '9': 1, '5': 1, 'wasteman': 1, 'rave': 1, 'mans': 2, 'came': 1, 'relax': 1, 'if': 1, 'gets': 1, 'mek': 1, 'young': 1, 'tings': 1, 'try': 1, 'rebel': 2, 'nah': 1, 'o2': 1, 'singing': 1, 'lungs': 1, 'rudeboy': 1, 'adele': 1, 'leave': 1, 'yard': 1, 'blow': 1, 'kiss': 1, 'girl': 1, 'salute': 1, 'sister': 1, 'as': 1, 'well': 1, 'gotta': 1, 'keep': 1, 'trophies': 1, 'at': 1, 'mums': 1, 'bit': 1, 'shelf': 1, 'mcs': 1, 'sideline': 1, 'couple': 1, 'bangers': 1, 'pipeline': 1, 'grown': 1, 'men': 1, 'ing': 1, 'bullsstt': 1, 'old': 2, 'timeline': 1, 'shouldve': 1, 'looked': 1, 'after': 1, 'kids': 1, 'booth': 1, 'home': 1, 'son': 1, 'its': 2, 'late': 1, 'commit': 1, 'love': 1, 'put': 1, 'name': 1, 'bar': 1, 'random': 1, 'flight': 1, 'plane': 1, 'qatar': 1, 'year': 2, 'learnt': 1, 'business': 1, 'next': 1, 'learn': 1, 'play': 1, 'guitar': 1}

## 10(9).2 Dictionaries and files      

For a copy of the Py4E.com file **romeo.txt** on Google Drive:    
 `https://bit.ly/romeo-short`

For a copy of the Py4E.com file **romeo-full.txt** on Google Drive:    
 `https://bit.ly/romeo-full`

One of the common uses of a dictionary is to count the occurrence of words in a file with some written text.     

Let’s start with a very simple file of words taken from the text of **Romeo and Juliet**.

For the first set of examples, we will use a shortened and simplified version of the text with no punctuation. Later we will work with the text of the scene with punctuation included.

~~~
But soft what light through yonder window breaks
It is the east and Juliet is the sun
Arise fair sun and kill the envious moon
Who is already sick and pale with grief
~~~

We will write a Python program to read through the lines of the file, break each line into a list of words, and then loop through each of the words in the line and count each word using a dictionary.

You will see that we have two `for` loops. The outer loop is reading the lines of the file and the inner loop is iterating through each of the words on that particular line. This is an example of a pattern called nested loops because one of the loops is the outer loop and the other loop is the inner loop.

Because the inner loop executes all of its iterations each time the outer loop makes a single iteration, we think of the inner loop as iterating “more quickly” and the outer loop as iterating more slowly.

The combination of the two nested loops ensures that we will count every word on every line of the input file.

**Upload the Py4E exercise file "words.txt" to your Colab content area then enter the file name "words.txt" when prompted by the following code.  You may download the file here [words.txt](https://bit.ly/py4e-words), then upload it to your current working directory.**   


**Or, download [romeo.txt](https://bit.ly/romeo-short), upload it to your current working directory, and enter the file name "romeo.txt" when prompted by the following code.**

In [ ]:
fname = input('Enter the file name: ')
try:
    fhand = open(fname)
except:
    print('File cannot be opened:', fname)
    exit()

counts = dict()
for line in fhand:
    words = line.split()
    for word in words:
        if word not in counts:
            counts[word] = 1
        else:
            counts[word] += 1

print(counts)

# Code: http://www.py4e.com/code3/count1.py

Enter the file name: romeo.txt
{'But': 1, 'soft': 1, 'what': 1, 'light': 1, 'through': 1, 'yonder': 1, 'window': 1, 'breaks': 1, 'It': 1, 'is': 3, 'the': 3, 'east': 1, 'and': 3, 'Juliet': 1, 'sun': 2, 'Arise': 1, 'fair': 1, 'kill': 1, 'envious': 1, 'moon': 1, 'Who': 1, 'already': 1, 'sick': 1, 'pale': 1, 'with': 1, 'grief': 1}

The following is a slightly more elegant version of that last script.    
Can you see what is different?

In [ ]:
fname = input('Enter the file name: ')
try:
    fhand = open(fname)
except:
    print('File cannot be opened:', fname)
    exit()

counts = dict()
for line in fhand:
    words = line.lower().split()
    for word in words:
        counts[word] = counts.get(word, 0) + 1
#        if word not in counts:
#            counts[word] = 1
#        else:
#            counts[word] += 1

print(counts)

Enter the file name: romeo.txt
{'but': 1, 'soft': 1, 'what': 1, 'light': 1, 'through': 1, 'yonder': 1, 'window': 1, 'breaks': 1, 'it': 1, 'is': 3, 'the': 3, 'east': 1, 'and': 3, 'juliet': 1, 'sun': 2, 'arise': 1, 'fair': 1, 'kill': 1, 'envious': 1, 'moon': 1, 'who': 1, 'already': 1, 'sick': 1, 'pale': 1, 'with': 1, 'grief': 1}

In our else statement, we use the more compact alternative for incrementing a variable.     

`counts[word] += 1` *is equivalent to*         
`counts[word] = counts[word] + 1`.      

Either method can be used to change the value of a variable by any desired amount. Similar alternatives exist for `-=`, `*=`, and `/=`.

When we run the program, we see a raw dump of all of the counts in unsorted hash order. (the **romeo.txt** file is available at **www.py4e.com/code3/romeo.txt** or using the link **[romeo.txt](https://bit.ly/romeo-short)**)

**Upload the Py4E exercise file "romeo-full.txt" to your Colab content area then enter the file name "romeo-full.txt" when prompted by rerunning the code above.**     

**You can find the file here: [romeo-full.txt](https://bit.ly/romeo-full)**

It is a bit inconvenient to look through the dictionary to find the most common words and their counts, so we need to add some more Python code to get us the output that will be more helpful.

## 10(9).3 Looping and dictionaries

If you use a dictionary as the sequence in a for statement, it traverses the keys of the dictionary. This loop prints each key and the corresponding value:

In [ ]:
counts = { 'chuck' : 1 , 'annie' : 42, 'jan': 100}
for key in counts:
    print(key, counts[key])

chuck 1
annie 42
jan 100

Again, the keys are in the order in which `key-value pairs` were entered into the dictionary.

We can use this pattern to implement the various loop idioms that we have described earlier. For example if we wanted to find all the entries in a dictionary with a value above ten, we could write the following code:

In [ ]:
# to find all the entries in a dictionary with a value above ten
counts_dict = { 'chuck' : 1 , 'annie' : 42, 'jan': 100}
for key in counts_dict:
    if counts_dict[key] > 10 :
        print(key, counts_dict[key])

annie 42
jan 100

In [ ]:
# The same logic applied to the counts dict from word counting 
for key in counts:
    if counts[key] > 20 :
        print(key, counts[key])

In [ ]:
for key in histo_dict:
    if histo_dict[key] > 10 :
        print(key, histo_dict[key])

youre 16
too 18
big 24
for 24
your 13
never 13
the 45
my 32
up 21
man 14
i 24
you 13
a 22
to 18

The for loop iterates through the keys of the dictionary, so we must use the index operator to retrieve the corresponding value for each key. We see only the entries with a value above 10.

If you want to print the keys in alphabetical order, you first make a list of the keys in the dictionary using the keys method available in dictionary objects, and then sort that list and loop through the sorted list, looking up each key and printing out key-value pairs in sorted order as follows:

In [ ]:
counts_dict = { 'chuck' : 1 , 'annie' : 42, 'jan': 100}
key_lst = list(counts_dict.keys())
print(key_lst)
key_lst.sort()
for key in key_lst:
    print(key, counts_dict[key])

['chuck', 'annie', 'jan']
annie 42
chuck 1
jan 100

In [ ]:
# using the word count dictionary from earlier
key_lst = list(counts.keys())
# print(key_lst)
key_lst.sort()
for key in key_lst:
    if counts[key] > 2 :
        print(key, counts[key])

First you see the list of `keys` in unsorted order that we get from the `.keys()` method. Then we see the `key-value pairs` in order from the for loop.

## 10(9).4 Advanced text parsing

In the above example using the file **romeo.txt**, we made the file as simple as possible by removing all punctuation by hand. The actual text has lots of punctuation, as shown below.

```
But, soft! what light through yonder window breaks?

It is the east, and Juliet is the sun.

Arise, fair sun, and kill the envious moon,

Who is already sick and pale with grief,
```

Since the Python `.split()` function looks for spaces and treats words as tokens separated by spaces, we would treat the words “soft!” and “soft” as different words and create a separate dictionary entry for each word.

Also since the file has capitalization, we would treat “who” and “Who” as different words with different counts.

We can solve both these problems by using the string methods `.lower()`, `.punctuation()`, and `.translate()`. The `.translate()` is the most subtle of the methods.

In [ ]:
# line.translate(str.maketrans(from_str, to_str, delete_str))

Replace the characters in `from_str` with the character in the same position in `to_str` and delete all characters that are in `delete_str`. The `from_str` and `to_str` can be empty strings and the `delete_str` parameter can be omitted.

We will not specify the `to_str` but we will use the `delete_str` parameter to delete all of the punctuation. We will even let Python tell us the list of characters that it considers “punctuation”:

In [ ]:
import string
string.punctuation

The parameters used by translate were different in Python 2.0.

We make the following modifications to our program:

In [ ]:
import string

fname = input('Enter the file name: ')
try:
    fhand = open(fname)
except:
    print('File cannot be opened:', fname)
    exit()

counts = dict()
for line in fhand:
    line = line.rstrip()
    line = line.translate(line.maketrans('', '', string.punctuation))
    line = line.lower()
    words = line.split()
    for word in words:
        if word not in counts:
            counts[word] = 1
        else:
            counts[word] += 1

print(counts)

# Code: http://www.py4e.com/code3/count2.py

Part of learning the “Art of Python” or “Thinking Pythonically” is realizing that Python often has built-in capabilities for many common data analysis problems. Over time, you will see enough example code and read enough of the documentation to know where to look to see if someone has already written something that makes your job much easier.



---

# **Tuples**     
**(from All you need to know about Tuples in Python. 13-Sep-2021.  By Andreas Soularidis on Medium.com)**

##Introduction     

First of all, let’s talk about Python Tuples in general. Tuples are used to store data of multiple types like str, int, float, boolean, etc in a single variable. Lists and tuples have a lot in common and lots of differences as well. First of all, in both data types, the elements are ordered, so the items have a defined order, that will not change. Also, both are dynamic in size data types. So we don’t need to define the size of the tuple in advance, as Python takes care of that. Moreover, in both data types duplicate values are allowed. On the other hand, the big difference between lists and tuples is that a tuple is immutable data type, so we cannot add, update or delete the elements of a tuple after its declaration

## When to use tuples    

The question is when to use a list and when to use a tuple in my code. A general guide is to use tuples only if you are absolutely sure that the data will not change during the execution of the program. For example, if you want to store the days of the week you can store them in a tuple.

## Create a tuple    

To create a tuple we use round brackets (parentheses), or we can use the constructor tuple() like below:

In [ ]:
first_list = ['dog', 4.5, True, 7, 'apple']
first_tuple = ('dog', 4.5, True, 7, 'apple')
print(first_list, '\n', first_tuple)
print(type(first_list))
print(type(first_tuple))

['dog', 4.5, True, 7, 'apple']
 ('dog', 4.5, True, 7, 'apple')
<class 'list'>
<class 'tuple'>

In [ ]:
second_tuple = tuple(['dog', 4.5, True, 7, 'apple'])
print(second_tuple)
print(type(second_tuple))

('dog', 4.5, True, 7, 'apple')
<class 'tuple'>

Let's try a new function `id()` to see what it tells us about `first_tuple` and `second_tuple`:

In [ ]:
print('The ID of the first_tuple is: ', id(first_tuple))
print('The ID of the second_tuple is: ', id(second_tuple))

The ID of the first_tuple is:  140015355939232
The ID of the second_tuple is:  140014873893760


Notice that, in the second example the constructor `tuple()` takes as a parameter a list and turns it into a tuple. This syntax would be extremely useful later.    

To create a single element tuple we use a comma after the element, so that Python recognizes that as a tuple and not as a simple expression with parenthesis. Look at the example below:

In [ ]:
solo_tuple = (1,)
print(solo_tuple)
print(type(solo_tuple))

(1,)
<class 'tuple'>

In [ ]:
not_tuple = (1)
print(not_tuple)
print(type(not_tuple))

1
<class 'int'>

In [ ]:
uno_tuple = tuple([1])
print(uno_tuple)
print(type(uno_tuple))

In [ ]:
# remember that the argument to tuple() needs to be an interable
uno_tuple = tuple(1)
print(uno_tuple)
print(type(uno_tuple))

## Access in tuple items    

Tuples, like lists, are zero-index data types, so the first element of a tuple has `index[0]`, the second has `index[1]`, and so on. Also, we have the reversed index that starts from `-1` and represents the last element of a tuple. So, using the reversed index the last element has `index[-1]` the second to last element has `index[-2]`, etc. So, using the index we can have access to specific tuple values as following:

In [ ]:
print(first_tuple)

('dog', 4.5, True, 7, 'apple')

In [ ]:
print(first_tuple[1])

4.5

In [ ]:
print(first_tuple[0])

dog

In [ ]:
print(first_tuple[-5])

dog

In [ ]:
print(first_tuple[2+2])

apple

In [ ]:
this_one_int = +10 +17 -30
print(first_tuple[this_one_int])

True

In [ ]:
wrong_one_int = +20 +17 -30
print(first_tuple[wrong_one_int])

## Slicing    

Like lists, we can have access to a specific range of a tuple using the following syntax

```
tuple[start_index : end_index : pace]
```
also described as: 
```
tuple[start_index : end_index : step]
```

This expression returns a new tuple from start_index to end_index-1 according to pace. By default, the pace has a value of 1. If we omit the start_index the default value is 0. Similarly, if we omit the end_index the default value is the last index of the tuple. Last, if we omit both indexes we get a copy of the tuple.     

Let’s see some examples below:

In [ ]:
print(first_tuple)

In [ ]:
print(first_tuple[1:3])

In [ ]:
print(first_tuple[:4])

In [ ]:
print(first_tuple[:2])

In [ ]:
print(first_tuple[::2])

In [ ]:
print(first_tuple[:])

('dog', 4.5, True, 7, 'apple')

## Modifying tuple content

### Add elements to tuples    

As we mentioned earlier, tuples are immutable data types, so we can not add, update or delete elements after the tuple has been created. In lists, we have the method `append()` to add new elements in an existing list, but in tuples, we don’t have this method. So how can we add elements to an existing tuple?     

To do this, we make a three-step trick.     

1. First, we convert our tuple to a list. We can do this using the constructor `list()`. At this point, we have a list with the same elements as our tuple, so now we can use the `append()` method.     

2. The second step is to use the `append()` method to add the element to our list. At this point, we have all the elements we want on a list.     

3. The third and last step is to convert our list into a tuple, using the constructor `tuple()`. Now, we have all elements we want in a tuple.    

*We can use the `id()` function to determine whether the tuple we begin with and the final tuple are unique objects.*   

Let’s see an example below:

In [ ]:
# check the tuple contents and object id
print(first_tuple)
print(id(first_tuple))

In [ ]:
# step 1 - create a list from the tuple
first_list = list(first_tuple)
print(first_list)

In [ ]:
# step 2 - append to the new list
first_list.append('banana')
print(first_list)

In [ ]:
# step 3 - replace the tuple with a tuple of the new list
first_tuple = tuple(first_list)

In [ ]:
# check the tuple contents and object id
print(first_tuple)
print(type(first_tuple))
print(id(first_tuple))

Be careful, that our initial tuple is not the same as the final tuple despite the fact that both have the same name `my_tuple`. We can easily check this by noticing the difference in `id` values.

### Change tuple elements    

If we try to update the value of an element in tuples we will get an error, because tuples are immutable data types, like below:

In [ ]:
print(second_tuple)

In [ ]:
second_tuple[0] = 'cat'

*Before we go further, let's create a `third_tuple` with the same element values.*      

*We will use this later:*

In [ ]:
third_tuple = second_tuple[:]

In [ ]:
print(third_tuple)
print(type(third_tuple))

*Why don't we just use the following statement to create the third tuple?*     

```
third_tuple = second_tuple 
```

To update the value of an element in a tuple we will use the same trick as above.     

1. First, convert our tuple into a list.     

2. Then, we update the elements we want using the index.     

3. Then, we convert our list into a tuple. Now our tuple has the updated values.     

Let’s see the code below:

In [ ]:
# check the tuple contents and object id
print(second_tuple)
print(id(second_tuple))

In [ ]:
# step 1 - create a list from the tuple
second_list = list(second_tuple)
print(second_list)
print(type(second_list))

In [ ]:
# step 2 - replace a list member using index
second_list[0] = 'cat'
print(second_list)

In [ ]:
# step 3 - replace the tuple with a tuple of the new list
second_tuple = tuple(second_list)

In [ ]:
# check the tuple contents and object id
print(second_tuple)
print(type(second_tuple))
print(id(second_tuple))

### Delete tuple elements    

As you can guess, we cannot remove elements in a tuple. So we use the same trick as above and take advantage of the `.remove()` method of the list data type to remove element(s).     

Let’s see the code below:

In [ ]:
# check the tuple contents and object id
print(third_tuple)
print(id(third_tuple))

In [ ]:
# step 1 - create a list from the tuple
third_list = list(third_tuple)
print(type(third_list))
print(third_list)

In [ ]:
# step 2 - remove from the new list
third_list.remove(True)
print(third_list)

In [ ]:
# step 3 - replace the tuple with a tuple of the new list
third_tuple = tuple(third_list)

In [ ]:
# check the tuple contents and object id
print(third_tuple)
print(type(third_tuple))
print(id(third_tuple))

## Loops in tuples    

One of the most common actions in iterables like lists and tuples is the iteration. We have a couple of ways to look at the elements of a tuple. The most common is using a `for` loop.     

The syntax of the loop is the following:
```
for element in my_tuple:
   do something with the element
```

In [ ]:
for element in first_tuple:
    print(element)

In [ ]:
for value in second_tuple:
    print(value)

In [ ]:
for any_name_you_like in third_tuple:
    print(any_name_you_like)

As in lists, we can use the index number to iterate the elements of a tuple. To do this, we use the for loop with `len()` and `range()` functions.
```
for index in range(len(my_tuple)):
   do something with my_tuple[index]
```

In [ ]:
for index in range(len(first_tuple)):
    print('Index position: ', index, ' has value: ', first_tuple[index])

##Tuple into a tuple    

As mentioned earlier, in tuple we can store data of different types.   We can store a tuple into a tuple.      

We can have access to inner tuple elements using the index of the inner tuple and the index of the specific element.      

Let’s see the code below:

In [ ]:
fourth_tuple = ('dog', 4.5, True, 7, 'apple', (10, 20, 30))
print(fourth_tuple)
print(type(fourth_tuple))

In [ ]:
print(type(fourth_tuple[5]))

In [ ]:
print(fourth_tuple[5])
print(fourth_tuple[-1])

In [ ]:
print(fourth_tuple[-1][0])

*We should consider the position of nested iterables when using more than one index.*

In [ ]:
print(fourth_tuple[1][0])

## Unpacking Tuples    
Whenever we create a tuple we “pack” elements into it. Python allows us to extract elements of a tuple and stores these elements into variables.     

Let’s see an example below:

In [ ]:
fifth_tuple = (12, 34, 2.1, 6, 24)   
print(fifth_tuple)
print(type(fifth_tuple))

(12, 34, 2.1, 6, 24)
<class 'tuple'>

In [ ]:
first, second, third, fourth, fifth = fifth_tuple   

print('Value of `first` is ', (first))
print('Value of `second` is ', (second))
print('Value of `third` is ', (third))
print('Value of `fourth` is ', (fourth))
print('Value of `fifth` is ', (fifth))
print()
print('Type of `first` is ', type(first))
print('Type of `second` is ', type(second))
print('Type of `third` is ', type(third))
print('Type of `fourth` is ', type(fourth))
print('Type of `fifth` is ', type(fifth))

Value of `first` is  12
Value of `second` is  34
Value of `third` is  2.1
Value of `fourth` is  6
Value of `fifth` is  24

Type of `first` is  <class 'int'>
Type of `second` is  <class 'int'>
Type of `third` is  <class 'float'>
Type of `fourth` is  <class 'int'>
Type of `fifth` is  <class 'int'>

In the example above, we have a tuple of numbers and we extract those numbers in variables. Be careful that the number of elements in the tuple must be exactly the same as the number of variables, otherwise, we will get an error. In case we are interested in only some of the elements of the tuple, we can use the asterisk * syntax as above

In [ ]:
primary, secondary, *something = fifth_tuple  

print(primary, secondary, something)

print('Type of `primary` is', type(primary))
print('Type of `secondary` is', type(secondary))
print('Type of `something` is', type(something))

12 34 [2.1, 6, 24]
Type of `primary` is <class 'int'>
Type of `secondary` is <class 'int'>
Type of `something` is <class 'list'>

*Bear in mind that a variable which uses an asterisk to take values from a tuple will itself be a list.*    

As we can notice, in the case above, Python returns a list that includes the rest of the elements of the tuple.     

The following is another interesting, valid syntax:

In [ ]:
alpha, *medio, omega = fifth_tuple

print(alpha, medio, omega)

print('Type of `alpha` is', type(alpha))
print('Type of `medio` is', type(medio))
print('Type of `omega` is', type(omega))

12 [34, 2.1, 6] 24
Type of `alpha` is <class 'int'>
Type of `medio` is <class 'list'>
Type of `omega` is <class 'int'>

##Tuple Methods

Let's create one more example tuple to demonstrate the two tuple methods:    
1. `.count()`    
2. `.index()`

In [ ]:
sixth_tuple = (12, 34, 2, 6, 24, 34)

## `tuple.count()`     

Returns the number of times the given value appears in a tuple.

In [ ]:
print(sixth_tuple.count(34))

2

## `tuple.index()`     

Returns the index of the first appearance of the given element. Be careful that if the given number doesn’t exist, it raises a *ValueError* exception.

In [ ]:
print(sixth_tuple.index(34))

1

In [ ]:
print(sixth_tuple.index(7))



---

# **Tuples**
**(from Py4E.com, lesson 11 - former lesson 10)**

## 11(10).1 Tuples are immutable

In [ ]:
# Syntactically, a tuple is a comma-separated list of values:
t = 'a', 'b', 'c', 'd', 'e'

In [ ]:
print(type(t))

In [ ]:
# enclose tuples in parentheses to identify easily
t = ('a', 'b', 'c', 'd', 'e')

In [ ]:
# create a tuple with a single element
t1 = ('a',)  # End a element by ','
type(t1)

In [ ]:
t2 = ('a')
type(t2)

In [ ]:
t_not_3 = (1) * (2*3)
type(t_not_3)

In [ ]:
# built-in function tuple
t = tuple()
print(t)

In [ ]:
# built-in function tuple with string as argument
t = tuple('lupins')
# t_lst = list('lupins')
print(t)
# print(t_lst)

In [ ]:
t = ('a', 'b', 'c', 'd', 'e')
print(t[0]) # bracket operator indexes an element

In [ ]:
print(t[1:3]) # slice operator selects a range of elements

In [ ]:
t[0] = 'A'

In [ ]:
# can’t modify the elements of a tuple, but can replace one tuple with another
t = ('A',) + t[1:]
print(t)

## 11(10).2 Comparing tuples

In [ ]:
(0, 1, 2) == (0, 1, 2) # comparing with respective sequence elements

In [ ]:
(0, 1, 2) >= (0, 1, 2) # comparing with respective sequence elements

In [ ]:
(0, 1, 2) < (0, 3, 4) # comparing with respective sequence elements

In [ ]:
(0, 1, 2000000) < (0, 3, 4)

In [ ]:
# you have a list of words and you want to sort them from longest to shortest:
txt = 'but soft what light in yonder window breaks'
words = txt.split()
t = list()
for word in words:
    t.append((len(word), word))

t.sort(reverse=True)

res = list()
for length, word in t:
    res.append(word)

print(res)

## 11(10).3 Tuple assignment

In [ ]:
# 1st Way

# unique syntactic features of the Python language is the ability to have a tuple on the left side of an assignment statement.
m = [ 'have', 'fun' ] # create an iterable list of strings 
x, y = m              # assiging iterable elements to individual variables

In [ ]:
x

In [ ]:
y

In [ ]:
# 2nd Way

m = [ 'have', 'fun' ]
x = m[0]
y = m[1]

In [ ]:
x

In [ ]:
y

In [ ]:
# 3rd Way

m = [ 'have', 'fun' ]   # create an iterable list of strings
(x, y) = m              # assiging iterable elements to tuple elements

In [ ]:
x

In [ ]:
y

In [ ]:
# application of tuple assignment allows us to swap the values of two variables in a single statement
print(x, y)
x, y = y, x

In [ ]:
print(x, y)

In [ ]:
a, b = 1, 2, 3
# *a, b = 1, 2, 3   # remember that wildcards can help in this situation
# a, *b = 1, 2, 3   # remember that wildcards can help in this situation

In [ ]:
print('`a` is ', a)
print('`b` is ', b)

print('type of `a` is ', type(a))
print('type of `b` is ', type(b))

In [ ]:
addr = 'monty@python.org'
uname, domain = addr.split('@')

In [ ]:
print(uname)
print(type(uname))

In [ ]:
print(domain)
print(type(domain))

## 11(10).4 Dictionaries and tuples

In [ ]:
# d = {'a':10, 'b':1, 'c':22}       # original Charles Severance code
d = {'z':12, 'c':22, 'b':1, 'a':10} # original Charles Severance code
t = list(d.items())                 # items() method returns a tuple 
print(t)
print(type(t))
# Here each tuple is a key-value pair:

In [ ]:
t

In [ ]:
t.sort()

In [ ]:
t

## 11(10).5 Multiple assignment with dictionaries

In [ ]:
for key, val in list(d.items()):
    print(val, key)

In [ ]:
# d = {'a':10, 'b':1, 'c':22}       # original Charles Severance code
d = {'z':12, 'c':22, 'b':1, 'a':10} # original Charles Severance code
l = list()
for key, val in d.items() :
    l.append( (val, key) )

In [ ]:
l

In [ ]:
l.sort(reverse=True)
l

## 11(10).6 The most common words

**Upload the Py4E exercise file "romeo-full.txt" to your Colab content area.**     

**You can find the file here: [romeo-full.txt](https://bit.ly/romeo-full)**

In [ ]:
import string
fhand = open('romeo-full.txt')
counts = dict()
for line in fhand:
    line = line.translate(str.maketrans('', '', string.punctuation))
    line = line.lower()
    words = line.split()
    for word in words:
        if word not in counts:
            counts[word] = 1
        else:
            counts[word] += 1

# Sort the dictionary by value
lst = list()
for key, val in list(counts.items()):
    lst.append((val, key))

lst.sort(reverse=True)

print('Word', 'Frequency')
print('----', '---------')
for key, val in lst[:20]:
    print(key, val)



---

# **Advanced text parsing**

In the above example using the file **romeo.txt**, we made the file as simple as possible by removing all punctuation by hand. The actual text has lots of punctuation, as shown below.

```
But, soft! what light through yonder window breaks?

It is the east, and Juliet is the sun.

Arise, fair sun, and kill the envious moon,

Who is already sick and pale with grief,
```

Since the Python `.split()` function looks for spaces and treats words as tokens separated by spaces, we would treat the words “soft!” and “soft” as different words and create a separate dictionary entry for each word.

Also since the file has capitalization, we would treat “who” and “Who” as different words with different counts.

We can solve both these problems by using the string methods `.lower()`, `.punctuation()`, and `.translate()`. The `.translate()` is the most subtle of the methods.

In [ ]:
# line.translate(str.maketrans(from_str, to_str, delete_str))

Replace the characters in `from_str` with the character in the same position in `to_str` and delete all characters that are in `delete_str`. The `from_str` and `to_str` can be empty strings and the `delete_str` parameter can be omitted.

We will not specify the `to_str` but we will use the `delete_str` parameter to delete all of the punctuation. We will even let Python tell us the list of characters that it considers “punctuation”:

In [ ]:
import string
string.punctuation

The parameters used by translate were different in Python 2.0.

We make the following modifications to our program:

In [ ]:
import string

fname = input('Enter the file name: ')
try:
    fhand = open(fname)
except:
    print('File cannot be opened:', fname)
    exit()

counts = dict()
for line in fhand:
    line = line.rstrip()
    line = line.translate(line.maketrans('', '', string.punctuation))
    line = line.lower()
    words = line.split()
    for word in words:
        if word not in counts:
            counts[word] = 1
        else:
            counts[word] += 1

print(counts)

# Code: http://www.py4e.com/code3/count2.py

Part of learning the “Art of Python” or “Thinking Pythonically” is realizing that Python often has built-in capabilities for many common data analysis problems. Over time, you will see enough example code and read enough of the documentation to know where to look to see if someone has already written something that makes your job much easier.



---

# **EXERCISE: Tuple vs. Dictionary**    

Based on what we have learned about dictionaries and tuples use a comma-separated values listing of the following fields based on 2020 data for U.S.A. states:      
    
  - ST -state abbreviation    
  - State - state name    
  - GDP - Gross Domestic Product ($ millions)     
  - UnemploymentRate - unemployment rate 

Produce the following two objects and code which prompts a user for a state abbreviation then displays the GDP and UnemploymentRate for the state abbreviation provided:
    
    1. Using a list of tuples 
    2. Using a dictionary    
    
When displaying the selected GDP and UnemploymentRate, provide a label for each value to describe it.

If you prefer to work with the source data as a `.CSV` file, execute the following statement to read  `ST_GDP_UnemploymentRate_2020.csv`.

In [ ]:
!curl "https://raw.githubusercontent.com/ProfessorPatrickSlatraigh/data/main/ST-GDP-UnemploymentRate_2020.csv" -o ST_GDP_UnemploymentRate_2020.csv

If you prefer to copy the date as text to use in a docstring in your code then copy the following data:     
    
    
```
ST,State,GDP,UnemploymentRate   
AL,Alabama,201848,5.8
AK,Alaska,45395,7.8
AZ,Arizona,347806,6.7
AR,Arkansas,124302,7.3
CA,California,3200908,9.0
CO,Colorado,324940,6.2
CT,Connecticut,276149,8.3
DE,Delaware,74586,7.9
FL,Florida,1121426,7.6
GA,Georgia,562209,6.1
HI,Hawaii,57113,13.9
ID,Idaho,75331,4.8
IL,Illinois,848227,9.3
IN,Indiana,363713,5.9
IA,Iowa,191257,3.8
KS,Kansas,150676,5.2
KY,Kentucky,196054,6.6
LA,Louisiana,232224,8.1
ME,Maine,60755,6.0
MD,Maryland,417343,7.8
MA,Massachusetts,596741,8.2
MI,Michigan,504820,9.4
MN,Minnesota,358502,4.1
MS,Mississippi,105360,8.5
MO,Missouri,293993,5.1
MT,Montana,56696,5.5
NE,Nebraska,132657,3.2
NV,Nevada,173615,11.6
NH,New Hampshire,83726,5.5
NJ,New Jersey,585005,9.6
NM,New Mexico,80538,8.4
NY,New York,1547168,10.6
NC,North Carolina,567716,7.1
ND,North Dakota,57775,4.0
OH,Ohio,616198,8.1
OK,Oklahoma,177394,5.3
OR,Oregon,242068,7.6
PA,Pennsylvania,735193,8.1
RI,Rhode Island,61176,9.0
SC,South Carolina,221441,6.2
SD,South Dakota,56150,3.0
TN,Tennessee,368217,7.3
TX,Texas,1758694,7.3
UT,Utah,170174,4.0
VT,Vermont,33752,4.1
VA,Virginia,544956,6.0
WA,Washington,624641,7.4
WV,West Virginia,56703,8.1
WI,Wisconsin,309506,5.5
WY,Wyoming,38969,7.4    
```

In [ ]:
# provide your code using a list of tuples here

In [ ]:
# provide your code using a dictionary here



---

# **Debugging**

As you work with bigger datasets it can become unwieldy to debug by printing and checking data by hand. Here are some suggestions for debugging large datasets:

**Scale down the input**
If possible, reduce the size of the dataset. For example if the program reads a text file, start with just the first 10 lines, or with the smallest example you can find. You can either edit the files themselves, or (better) modify the program so it reads only the first n lines.

If there is an error, you can reduce n to the smallest value that manifests the error, and then increase it gradually as you find and correct errors.

**Check summaries and types**
Instead of printing and checking the entire dataset, consider printing summaries of the data: for example, the number of items in a dictionary or the total of a list of numbers.

A common cause of runtime errors is a value that is not the right type. For debugging this kind of error, it is often enough to print the type of a value.

**Write self-checks**
Sometimes you can write code to check for errors automatically. For example, if you are computing the average of a list of numbers, you could check that the result is not greater than the largest element in the list or less than the smallest. This is called a “sanity check” because it detects results that are “completely illogical”.

Another kind of check compares the results of two different computations to see if they are consistent. This is called a “consistency check”.

**Pretty print the output**
Formatting debugging output can make it easier to spot an error.
Again, time you spend building scaffolding can reduce the time you spend debugging.


---