<a href="https://colab.research.google.com/github/ProfessorPatrickSlatraigh/CST2312/blob/main/CST2312_Midterm_Review_WK09CL13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **CST2312 Midterm Review**
**Week 09, Class 13**



*   Literals
*   Strings
*   Lists
*   Tuples
*   Files



---

# **Readings** from the  textbook: ( [https://www.py4e.com/lessons/](https://www.py4e.com/lessons/))



* [Variables](https://)...  (Chapter 3)
* [Strings](https://www.py4e.com/lessons/strings) (Chapter 7)
* [Lists](https://www.py4e.com/lessons/lists) (Chapter 9)
* [Tuples](https://www.py4e.com/lessons/tuples) (Chapter 11)

# **String Variables**

String variables are used to store textual data, characters and sequences of characters. Can be specified by surrounding some text with single ' or double " quotes.

In [ ]:
str_1 = 'Hello World!'
print(str_1)

In [ ]:
str_2 = "Hello World!"
print(str_2)

In [ ]:
str_1 == str_2

*Multiline strings, or docstrings*

If we have a piece of text with multiple lines, then triple quotes (either ' ' ' or " " ") can be used to surround the text.  By encapsulating text in triple quotes we are able to define a string with more than one line -- essentially a string which may include newline (/n) characters.

Later, we will see how the first docstring in a function definition is used by the help() function to provide information on a function's operation.

A docstring may be encapsulated with either triple single-quotes or triple double-quotes so long as the beginning and ending triple quotes are the same type (single or double).

In [ ]:
str_2 = """
Now, as other Europeans mull how to restart their 
economies while still protecting human life, the Spanish 
have become an early bellwether for how a second wave 
might happen, how hard it might hit and how it could be contained.

"Perhaps Spain is the canary in the coal mine," said Prof. Antoni Trilla, 
an epidemiologist at the Barcelona Institute for Global Health, 
a research group. "Many countries may follow us â€” but hopefully 
not at the same speed or with the same number of cases that we are facing."

The median age of sufferers has dropped to around 37 from 60. 
Asymptomatic cases account for more than 50 percent of positive 
results, which is partly because of a fourfold rise in testing. 
And the health institutions feel much better prepared.
"""
print(str_2)

In [ ]:
str_3 = """
If we want to have multiple lines in the string
then we can use triple quotes: This is a multiline
string!
"""
print(str_3)

**Operations on Strings**

In [ ]:
# concatenation

# note that + concatenates strings

str1 = "hello"
str2 = "world"
message = str1 + " " + str2 + "!"
print(message)

In [ ]:
# Notice the difference of the + operation when operating on text vs. numeric variables:

x = 41
x = x + 1
print(x)
print (type(x))

In [ ]:
x = 41.0
x = x + 1
print(x)
print (type(x))

In [ ]:
x = "41"
x = x + "1"
print(x)
print(type(x))

In [ ]:
# string length

word = "Python is the word. And on and on and on...."
print(len(word))

In [ ]:
print(word)
print("The length of the text above is ", len(word), "characters")

**Special characters**

When we use strings, you will notice that we often want to use some "special characters". These special characters consist of the backslash character (\\) followed by another character.

**Tab character** \t: For example, if we want to create an output of multiple columns, with each columns being separated with a tab from each other, we can use the tab character, which is represented as \t.

In [ ]:
# Example: List the first name, last name, and email of a person, in columns
# Separate the columns using a tab character
str_a ="First Name\tLast Name\tEmail"
str_b ="Aaron\tRodgers\taaron@nfl.com"
str_c ="Giannis\tAntetokounmpo\tgiannis@nba.com"
print(str_a)
print(str_b)
print(str_c)

**New line character** \n: This is a special character that we use to represent a new line.

In [ ]:
# Notice that we end the strings below with the \n character, 
# which is the "new line" special character
str_d = "Hello World!\nHello World Twice!"
print(str_d)

**Backslash character** \\: In general, backslash (\\) is used to introduce special characters. If we want to type the backslash character itself, we do it by typing backslash twice in a row: \\.

In [ ]:
print("I want to print backslash: \\")

In [ ]:
str3 = 'This is a string within single quotes that can contain "double quotes" as part of the string'
print(str3)

In [ ]:

str4 = 'If we want to have \'single quotes\' in single quoted string we should escape them'
print(str4)

In [ ]:
str5 = "Similarly, if we want to have \"double quotes\" in double quoted string we should escape them\n"
print(str5)

**Splitting Strings: split and join**

Since we talked about special characters, letâ€™s talk now about splitting strings, using the split() function.

* longstring.split(separator): split the first string (longstring) at every occurrence of the second string (separator) Outputs a list (see below).
* connector.join(list): join is the "reverse" of split, and joins all the elements of the list, using the connector string in front.

In [ ]:
print("practical data science".split(" "))

By default, the split() method will split on spaces (if no split character is specified).

In [ ]:
print("practical data science".split())

The split() method will use another character as a delimiter when the string of that character is passed as an argument.

In [ ]:
print("billgates@microsoft.com".split("@"))

*ProTip: split()*

Their is a second, optional argument to the split() method which is an integer of the maximum items to return from the split.

In [ ]:
print("practical data science is your friend".split(" ", 1))

Notice that after the maximum number of split items is reached, the remainder of the string is included as the final item in the list.

In [ ]:
print("practical data science is your friend".split(" ", 2))

In [ ]:
str_a ="First Name\tLast Name\tEmail"
str_b ="Aaron\tRodgers\taaron@nfl.com"
str_c ="Giannis\tAntetokounmpo\tgiannis@nba.com"
print(str_a.split('\t'))
print(str_b.split('\t'))
print(str_c.split('\t'))

In [6]:
#Notice that when we split a string and the delimeter 
#character does not appear, then we get back the string 
#itself, but converted into a list with a single element.

print("hello".split(" "))

['hello']

**Exercise**

Consider the string billgates@microsoft.com. Write code that finds the username of the email address and the domain of the email address, using the split() command.

In [ ]:
# here is a solution

**Indexing and Slicing: Accessing parts of the string**

*Indexing*

Strings can be indexed (subscripted), with the first character having index 0.

In [ ]:
word = "Python"
print(word)

In [ ]:
word[0]  # character in position 0
print(word[0])

In [ ]:
word[1]
print(word[1])

In [ ]:
word[5]  # character in position 5
print(word[5])

**Negative indexing**

Indices may also be negative numbers, to start counting from the right:

In [ ]:
word[-1]  # last character 
print(word[-1])

In [ ]:
word[-2]  # second-last character
print(word[-2])

In [ ]:
word[-6]
print(word[-6])

**Slicing**

In addition to indexing, slicing is also supported. While indexing is used to obtain individual characters, slicing allows you to obtain a substring:

In [ ]:
word[0:2]  # characters from position 0 (included) to 2 (excluded)
print(word)
print(word[0:2])

In [ ]:
word[2:5]  # characters from position 2 (included) to 5 (excluded)
print(word)
print(word[2:5])

In [ ]:
word[2:]  # characters from position 2 (included) to the end
print(word[2:])

In [ ]:
word[:3]  # characters from beginning (position 0) to position 3 (excluded)
print(word[:3])

In [ ]:
word[-3:]  # last three characters
print(word[-3:])

In [ ]:
word[-3:-1]  # penultimate two characters
print(word[-3:-1])

In [ ]:
word[1:-1]
print(word[1:-1])

**Exercise**

Assign the string 'Information and Data Management' to a Python variable.
Print the word 'Information' by using the indexing/slicing approach.
Print the word 'Data' by using the negative indexing/slicing approach.

In [ ]:
# here is my solution

**Complex Data Structures: Lists (and Tuples)**

Pythonâ€™s primitive data types: numeric types, strings, and booleans. We are now going to examine how these basic types can be composed together, in more complex structures. We will start by reviewing lists.

**Basics of Lists**


*Creating Lists*

A list, sometimes called and array, or a vector, is an ordered collection of values.

In Python, lists are specified by square brackets, [ ], containing zero or more values, separated by commas.

For example:

In [ ]:
number_list = [1, 2, 3, 0, 5, 10, 11]
print(number_list)

In [ ]:
name_list = ["Elena", "Candido", "Ashwin", "Hong"]
print(name_list)

In [ ]:
mixed_list = ["Elena", 44, "Candido", 53]
print(mixed_list)

In [ ]:
empty_list = []
print(empty_list)

In [ ]:
empty_list1 = list()
print(empty_list1)

In [ ]:
empty_list == empty_list1

Iterating over lists: **for** loops.

Given the department names and the numbers of the introdution level courses, create a list of all the introduction courses for all the departments.

In [ ]:
dept = ["CST", "CET", "ENG"]
intro_courses = ["1101", "1201"]

# iterating over the list elements
for i in dept: 
  for j in intro_courses: 
    print (i+j)

In [ ]:
# iterating through the lists using indecies

for i in range(len(dept)): 
  for j in range(len(intro_courses)): 
    print (dept[i]+dept[j])

Lists are a very common data structure, and are often generated as a result of other functions, for instance, the split(" ") command for a string, will split a string on space, and then return a list of the smaller substrings.

Strings are special types of lists. Strings are unmutable lists.

In [ ]:
my_string = "Wow these data structures make for exciting dinner conversation"
list_of_words = my_string.split(" ")
print(list_of_words)

**Accessing parts of a list: Indexing and Slicing revisited**

We can retrieve the value of a particular element of a list by writing in square brackets the location of the element. In python, like most programming languages, list indices start at 0, that is, to get the first element in a list, request the element at index 0.

In [ ]:
another_list = ["a", "b", "c", "d", "e", "f"]
print(another_list[1])


Negative indices can be used to traverse the list from the right.

In [ ]:
print(another_list[-2])

If you remember the case with strings and accessing the individual characters, the concept is exactly the same. In fact, strings are treated in Python as lists of characters.

This also means that the slicing operator works for accessing parts of the list as well:

In [ ]:
# Retrieves the elements at positions 2, 3, and 4.
# Remember these are the 3rd, 4th, and 5th elements of the list
print(another_list[2:5])

In [ ]:
# Retrieved the last 3 elements of the list
print(another_list[-3:])

**Exercise**

You are given a list of names as one big, multiline string. Each line contains one name.

In [ ]:
# Governers of the US States: Alabama through Hawaii
names_string = """Kay Ivey
Mike Dunleavy
Doug Ducey
Asa Hutchinson
Gavin Newsom
Jared Polis
Ned Lamont
John Carney
Ron DeSantis
Brian Kemp
David Ige"""

In [ ]:
list_n = names_string.split("\n")
len(list_n)

* Use the split command, appropriately configured, to separate names into a list of names.
* Extract the 3rd name from the list
* Extract the second from the last name, using negative indexing
* Retrieve the 6th to 8th names from the list (inclusive, we want a list of 3 names, 6th, 7th, and 8th)
* Retrieve the last 3 names.

In [ ]:
# here is my solution

**More on Lists and Strings**

*Equality comparison*

In [ ]:
str1 = "hello"

In [ ]:
print(str1 == "hello")

In [ ]:
print(str1 == "Hello")

Notice that **capitalization matters** when comparsing strings in Python. If we want to make the comparison case-insensitive we typically first convert both sides of the equality to the same case:

In [ ]:
print(str1.lower() == "Hello".lower())

The opposite operator for equality is the inequality operator: !=. For example:

In [ ]:
email1 = "efilatova@citytech.cuny.edu"
email2 = " billgates@microsoft.com"
print("Are the emails different?", email1 != email2)

**Ordering Strings**

String also allow for inequality comparisons. When we compare strings, the string that is "smaller" is the one that is coming first in the dictionary. Let's see an example:

In [ ]:
name1 = "Abraham"
name2 = "Bill"

# Abraham is lexicographically before Bill
print(name1 < name2)

In [ ]:
name1 = "Giannis"
name2 = "Bill"

# Giannis is lexicographically after Bill
print(name1 < name2)

In [ ]:
# Space, followed by numbers, followed by uppercase, followed by lowercase
sorted(["Bill", "  ZZ TOP!!! ", "HAHA", "lol", "LOL!", "ZZZZZ", "zzzzz", "123", "345"])

**Finding text within string variables**

*in* operator

* The in operator, needle in haystack: reports if the string needle appears in the string haystack

For example, string "New York" appears within "City University of New York", so the following operator returns True:

In [ ]:
"New York" in "City University of New York"

But, unlike reality, "City University of New York" is not in "New York" :-)

In [ ]:
"City University of New York" in "New York"

**find function**

* The find function, haystack.find(needle): searches haystack for needle, prints the position of the first occurrence, indexed from 0; returns -1 if not found.

For example:

In [ ]:
word = "Python is the word. And on and on and on and on..."
position = word.find("on")  # The 'on' appears at the end of 'Python'
print(position)

In [ ]:
print("The first time that we see the string \"on\" is at position", word.find("on"))

**count function**

str_1.count(str_2): counts the number of occurrences of one string in another.

In [ ]:
word = "Python is the word. And on and on and on and on..."
lookfor = "on"
count = word.count(lookfor)
print("We see the string '", lookfor, "' that many times: ", count)

In [ ]:
word = "Python is the word. And on and on and on and on..."
lookfor = "Python"
count = word.count(lookfor)
print("We see the string '", lookfor, "' that many times: ", count)

In [ ]:
word = "Python is the word. And on and on and on and on..."
lookfor = "PYTHON"
count = word.count(lookfor)
print("We see the string '", lookfor, "' that many times: ", count)

**Exercise**

Consider the news article from [CBSnews] [link text](https://www.cbsnews.com/news/biden-covid-19-schools-open-trump-administration/), which is given below, and stored in the string variable article.

* Count how many times the word Biden appears in the article. 
* Count how many times the word Trump appears in the article.
* Now sum up the occurences of Biden and Trump and display the percentage of coverage for each of the two strings. (For example, if Biden appears 2 times and Trump 3 times, then Biden is 40% and Trump is 60%.)

In [ ]:
article = """
Joe Biden condemned President Trump's response to the coronavirus pandemic on 
Wednesday, saying that if Mr. Trump and his administration had "done their jobs," 
more schools would be able to reopen to in-person learning this fall.

"If President Trump and his administration had done their jobs early on in 
this crisis, American schools would be open. And they'd be open safely," 
Biden said in a speech in Wilmington, Delaware. "Donald Trump and [Education 
Secretary Betsy] DeVos have not stepped up."

Biden accused Mr. Trump of "starving schools of the needed funding, 
funding they need now." He slammed the president and Republicans for being 
unwilling to consider a Democratic proposal passed in the House in May that 
would have provided additional financial help for schools.

"Mr. President, where are you? Where are you? Why aren't you 
working on this?" Biden said, making a personal entreaty to the president. 
He urged Mr. Trump to "get off Twitter" and invite congressional leaders 
to the Oval Office.

"You always talk about your ability to negotiate. 
Negotiate a deal â€” a deal for somebody other than yourself," Biden said.

Biden said there should be "universal guidance" for 
reopening schools and daycare centers, and added that the federal 
government should provide assistance to parents whose children are 
forced to undergo remote learning.

"The idea that you're able to get the economy back on track 
without getting COVID under control, it's completely counterintuitive," 
Biden said. "There's going to be no need in my view to be able to shut down the whole economy."

He also said he would pressure governors and local officials to impose a 
mask mandate, saying there's a "question under the Constitution" about 
whether a president can institute a national mandate. Biden has previously 
said he supports making wearing a mask a national requirement for three months.

"Why do you wear a mask? To protect your neighbor? To keep someone else 
from getting sick and maybe dying. I call that patriotic. This is the 
United States of America. Every generation has made sacrifices to help 
others in moments of crisis," Biden said.

Biden also took questions from reporters, his first time doing 
so since he formally accepted the Democratic nomination for president last month.

Biden's campaign also announced on Wednesday that he would be 
traveling to Kenosha, Wisconsin on Thursday. On Tuesday, Mr. Trump 
visited the city, which has been roiled by protests since the police 
shooting of a Black man and the deaths of two people by a suspected vigilante
shooter at a subsequent demonstration. Biden said that local leaders and 
members of Congress had asked him to come to Kenosha.

"There have been overwhelming requests that I do come," he told reporters. 
"What we want to do is we've got to heal, we've got to put things together, 
bring people together. My purpose in going is to do just that, to be a positive influence."

He also said he would be meeting with local community and business 
leaders and law enforcement.

The Democratic presidential nominee drew a contrast between himself 
and Mr. Trump, whom he has accused of fanning the flames of dissension. 
Earlier this week, the president declined to denounce suspected vigilante 
shooter Kyle Rittenhouse, the 17-year-old who has been charged with 
killing two people during protests in Wisconsin.

"I wouldn't incite violence. I would condemn it when it occurred," 
Biden said, adding that he supported law enforcement and believes 
that the majority of law enforcement officers are good people. 
"What I'd be doing is I'd be bringing people together in the White 
House right now," he said.

Mr. Trump did not meet with the family of Jacob Blake, the seven 
times in the back by a police officer. His family has been vocal in 
denouncing violent protests since Jacob Blake was shot on August 23. 
The 29-year-old father of six remains hospitalized and is paralyzed 
from his injuries, his family lawyers have said. 

It is unclear whether Biden will meet with the Blake family while in Kenosha.
"""

In [ ]:
# here is my solution

**Finding items in lists**

Common functions

* x in list: checks if x appears in the list
* list.index(x): looks through the list to find the specified element, returning it's position if it's found, else throws an error
* list.count(x): counts the number of occurrences of the input element

In [ ]:
names = ["Jane", "John", "Chris", "Josh", "Mary", "Anna", "John"]

In [ ]:
"Chris" in names

In [ ]:
"Peter" in names

In [ ]:
# Index
name = "Chris"
print("Location of", name, "in the list:", names.index(name))

In [ ]:
# Count
print(names)
print("# of John  in the list", names.count("John"))
print("# of Jane in the list", names.count("Jane"))
print("# of Peter  in the list", names.count("Peter"))

**Exercise**

* Find the name "Josh" in the list. In what position does the name appear?
* Try to find a name that does not exist in the list. What do you get?

Now let's practice the if-else command:

* Define a variable search with the name that you want to search for.
* Check if the name appears in the list
** If yes, then return the index number for its first apperance, and the number of times that you see the name in the list
** If not, print that the name does not appear in the list

In [ ]:
names = ["Jane", "John", "Chris", "Josh", "Mary", "Anna", "John"]

In [ ]:
# here is my solution

Besides lists, Python has two additional data structures that can store multiple objects. These data structures are *dictionaries* and *tuples*.

**Tuples**

Tuples are defined in Python by enclosing elements in parenthesis ( ). 

A tuple is similar to a list and consists of a number of values separated by commas. For instance:

In [ ]:
t = (12345, 54321, 54321, "hello!")
print(t)

The usual slicing and indexing operators still apply:

In [ ]:
print(t[3])

And similarly, we can use the count and index functions.

In [ ]:
t.index("hello!")

In [ ]:
list_v = [0, 1, 2, 3, 4]
list_v[0] =100
print(list_v)

In [ ]:
str_v = "01234"
str_v[0] = "9"
print(str_v)

However, a tuple but is *immutable*. This means that we cannot modify its contents. So the other operators that modify a list do not apply to a tuple.

Elements of a list can be modified, but elements in a tuple can only be accessed, not modified. The name tuple does not mean that only two values can be stored in this data structure.

In [ ]:
l_var = [3,4,5]  # a list
print ("Initial list:", l_var)
l_var[0]= 8
print("New list:", l_var)

In [ ]:
t_var = (3,4,5)  # a tuple
print ("Initial tuple:", t_var)

t_var[0]= 8
print ("New tuple:", t_var)

In [ ]:
new_t = ("John", 44)
print(new_t)

*ProTip: Single Value Tuple*

To create a tuple that just contains one numerical value, the number must be followed by a comma. Without a comma, the variable is defined as a number.

In [ ]:
num = (5)
type(num)

When a comma is included after the number, the variable is defined as a tuple.

In [ ]:
t_var = (5,)
type(t_var)

**Exercise**

In [ ]:
# Given multiline strings: names_gov with the names of governers 
# of the US States: Alabama through Hawaii;
# and names_state, create a list that consists out of
# the tuples with two elements: state's name and state's governor's name
#
# Assume that the order of the governers corresponds to the order
# of the states and the number of governers is the same as the number of states.
#
names_gov = """Kay Ivey
Mike Dunleavy
Doug Ducey
Asa Hutchinson
Gavin Newsom
Jared Polis
Ned Lamont
John Carney
Ron DeSantis
Brian Kemp
David Ige"""

names_state = """Alabama 
Alaska
Arizona
Arkansas 
California
Colorado
Connecticut
Delaware
Florida
Georgia
Hawaii"""

In [ ]:
# Let us confirm that the lists have the
# same number of elements

list_govs = names_gov.split("\n")
list_states = names_state.split("\n")
print (len(list_govs),len(list_states))
print (list_states)

In [ ]:
for i in list_states:
  print(i)

In [ ]:
for i in range(len(list_states)):
  print(list_states[i])

In [ ]:
# What governer - state pairs do we have? 

for i in range(len(list_states)):
  print (list_govs[i], "--", list_states[i])

In [ ]:
# Create a list of tuples

governer_name_list = []

# Populate the list of tuples

for i in range(len(list_states)):
  governer_name_list.append (   (list_govs[i],list_states[i])    )

# Output the list of tuples elements
# What is the difference between the two for loops 
# in this cell? 

for i in governer_name_list:
  print ("Election Year", ":", i)

In [ ]:
governer_name_list

In [ ]:
# Let us define the variables once again
# and try to re-run the above code

names_gov = """Kay Ivey
Mike Dunleavy
Doug Ducey
Asa Hutchinson
Gavin Newsom
Jared Polis
Ned Lamont
John Carney
Ron DeSantis
Brian Kemp
David Ige"""

names_state = """Alabama 
Alaska
Arizona
Arkansas 
California
Colorado
Connecticut
Delaware
Florida
Georgia
Hawaii
"""

In [ ]:
# Let us confirm that the lists have the
# same number of elements

list_govs = names_gov.split("\n")
list_states = names_state.split("\n")
print (len(list_govs),len(list_states))

In [ ]:
# What governer - state pairs do we have? 

for i in range(len(list_states)):
  print (list_govs[i], "--", list_states[i])

In [ ]:
for j in range(5):
  print (j)