<a href="https://colab.research.google.com/github/ProfessorPatrickSlatraigh/CST2312/blob/main/Pandas_29_Nov_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pandas**

Pandas is an open-source Python library that provides powerful, flexible and high-performance tools to process data. It was developed in 2008 by Wes McKinney.

Some of Pandas features include:

*   High-performance DataFrame objects with effective indexing.
*   Tools for loading data into memory with multiple file formats.
*   High performance for operations such as data merges and joins.
*   Manipulation of time series data.
*   Easy to manipulate row and column data.
*   SQL-like operations.
*   Vectorized operations.
*   Label-based slicing, indexing, and subsetting of large data sets.

**Pandas topics covered in this notebook.**

1.   How to manipulate Tabular data.
2.   Aggregation data on multiple dimensions.
3.   SQL-like data join, group, and sort.
4.   Powerful data filtering.
5.   I/O of multiple file formats.
6.   Extensive type support, such as int, float, string, and datetime.
7.   Advanced usage of pandas, such as memory usage reduction, sped up file loading and sped up operations.

The standard Python installation does not include the Pandas library.

You can install Pandas using pip on a local machine:

```
pip install pandas
```

*Pandas is available on Colab without the need to pip install it.*

In Colab you can just import pandas.  We typically **import pandas as pd** to save typing later.

In [2]:
import pandas as pd

Later, we will need to **import numpy** as np.

We can import **numpy as np** now, if we prefer text

In [3]:
import numpy as np

*We will come back to the subject of **numpy** in a future class.  Let's focus on **Pandas** first as it will prove useful in your final lab project and many data science projects.  **Numpy** is very powerful also.  We will come back to that.*

## Pandas Data Structures

### Series in Pandas

A Series is a one-dimensional array consisting of elements of multiple data types such as int, float, string, and object.

A series is just like an N-dimensional NumPy array (ndarray) with an index. You can explicitly specify an index for a Series object, which can be either int or string type. When the specified index is not provided, Series automatically starts at zero and creates an index for the data with a step size of one.

A Series can be created using any of the following:

*   **Dictionary** or **list**
*   **Numpy ndarray**
*   **Scalar** value


**Dictionaries** are data structures more generally known as associative arrays which are used to store data values in key:value pairs. A dictionary is a collection which is ordered, changeable and does not allow duplicates.

**Lists** are used to store multiple items in a single variable in Python.  A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements.

An **ndarray** is a (usually fixed-size) multidimensional container of items of the same type and size. The number of dimensions and items in an array is defined by its shape , which is a tuple of N non-negative integers that specify the sizes of each dimension.

**Scalars** are single values representing one unit of data, such as an integer or bool , as opposed to data structures like a list or tuple , which are composed of scalars.

### Dataframes in Pandas

DataFrame is a two-dimensional data structure with columns of different types. You can think of it like an MS Excel or SQL table, or a dictionary of series type objects.

Pandas provides many APIs to manipulate the data frame objects using slices, indexing, aggregation, and statistical operations.

DataFrame can be created from:

*   **Dictionary** of lists and **dictionary** of Series.

*   **CSV**, **TSV**, or **MS Excel**.

A **CSV** is a comma-separated values file which allows data to be saved in a tabular format. **TSV** is similar to CSV, but the separator is tab instead of a comma.

*   A **Numpy ndarray** -- se the definition in the section on Series above.

**Creating a Series**

*(one-dimensional array)*

**Create a Series from a list without an index**

Create a Series (**series1**) from the Python List (**list1**) below. 

By default the index starts at zero.  We use an arbitrary counter (**i**) to reference index numbers for printing.

In [ ]:
# creating a pandas series and printing a range of values in the series

list1 = range(1, 10)

series1 = pd.Series(list1)
print("The pandas series series1 is: " )
print(series1)

print("\n------------------\n")

i=3  # index value to start the while loop
print("Beginning with the element at index {}, the values through the end of series1 are: ".format(i))
while i < len(series1):
    print("For index {} -> the value in series1 is {}".format(i, series1[i]))
    i += 1

In the output of **print(series1)**, we can see two columns. The first column is the index number and the second column is the corresponding data value.

We acess a specific value of the series using its index, as in the while loop above where we are accessing the **i**th value of the series.

**Creating a Series from a list with a specified index**

In the last example, we created a series without a specified index. Here is a Series where the index is not int64, but rather, a string type. 

A value of the series can be accessed by a string index just like we did with an integer index. The only exception is that now we write the string value in brackets, [], when accessing an element.

In [ ]:
list2 = range(1, 6)
# list2 is [1, 2, 3, 4, 5]

index2 = ["aa", "bb", "ccc", "dddd", "eeeeee"]
series2 = pd.Series(list2, index2)

print("The pandas series series2 is: " )
print(series2)

print("\n------------------\n")

i = "ccc"    # this is moot unless we comment out the for loop header

for i in index2 :
    print("the index {} -> value in series2 is {}".format(i, series2[i]))

A DataFrame object is created where two parameters are passed. The first one is a list of values from lines 1 to 5 (**list2**). The second is an index list (**index2**).

In the output of print(**series2**) we can see two columns. The first column is the index and the second column is the corresponding data value.

We access a specific value of the series using its index.  In the example above we access the value of index **ccc**.

**Create a Series from a Python dict**


In the last section, we accessed the value **series2[“ccc”]** very much like the Python dict type. We can also create a series directly from a dict.

In [ ]:
dict3 = {'bb': 1, 'a': 0, 'ccc': 2}
series3 = pd.Series(dict3)

print("The pandas series series3 is: " )
print(series3)

print("\n------------------\n")

i = "ccc"  # this is moot unless we comment out the for loop header

for i in dict3 :
    print("the index {} -> value in series 3 is {}".format(i, series3[i]))

A Series is created from **dict3**, which is a normal Python dict object.

In the output of print(**series3**) we can see two columns. The first column is the index, and the second column is the corresponding data value.

You can access a specific value of the series using its index, just as we access the value of index **ccc**.

**Create a Series From a Numpy ndarray and a Scalar Value**

Creating a Series from a Numpy ndarray is very similar to creating a Series from a Python list.

*First, let's import numpy as np*

In [ ]:
import numpy as np

In [ ]:
list4 = np.arange(1, 10)

print(type(list4))

print("\n----------------------------\n")

series4 = pd.Series(list4)
print("The pandas series series4 is: " )
print(series4)

print("\n----------------------------\n")

i = 3   

print("the index {} -> value is {}".format(i, series4[i]))

**Create a Series from a scalar value**


A Series can be also created from a scalar value. If indices are not provided, then the series only contains a value. If indices are provided, the number of values of the series is the same as the length of the index range.

In [ ]:
series5 = pd.Series(5)

print("The pandas series series5 is: " )
print(series5)

print("\n----------------------------\n")

series6 = pd.Series(5, index=range(1,4))

print("The pandas series series6 is: " )
print(series6)

A Series with only one element is created from a scalar value in series5. Meanwhile, if you pass a list of indexes like series6, you would get a Series with the same length as the list of indexes.



---

### **Manipulating Series Objects**

We can use slicing and vectorization operations to manipulate Series objects.

**Integer Index**

With the [] operation, we can access the specified value by its location, which is an integer index. Just like accessing an element in a native Python list.

**Slice object**

**start:stop:step** is an object that contains a portion of a sequence.

*   If only stop is provided, it generates a portion of a sequence from index 0 to stop, where stop is excluded.

*   If only start is provided, it generates a portion of the sequence after the index start until the last element.

*   If both start and stop are provided, it generates a portion of the sequence after the index start until the stop where the stop is excluded.

*   If start, stop, and step are provided, it generates a portion of the sequence after the index start until stop with an increment of index step.

**List of indexes**

Sometimes, we want to get multiple elements from a Series with multiple indexes; however, there is no pattern between them. You can pass a list of indexes to a Series object with the [] operation to get those elements.

In [ ]:
print("The pandas series series7 is: " )
series7 = pd.Series(range(1, 20))
print(series7)

print("\n-----------------\n")

# integer index
print("The second value of series7 is {}".format(series7[1]))

print("\n-----------------\n")

# tuple index
print("The second and sixth value of series7 is {}".format(series7[[1, 5]].values))

print("\n-----------------\n")

# to the end elements
print("All elements of series7 from the sixth index onwards are {}".format(series7[5:].values))

print("\n-----------------\n")

# [start:stop:step]
print("All elements of series7 from index=1 to the index=10"
      "with step=2 onwards are {}".format(series7[1:10:2].values))

print("\n-----------------\n")

The first example above shows how to access the fifth element from a Series object by passing **5** to the [] operation.

The second example above shows how to get two elements from a Series object one time. Just pass a list like **[1, 5**] to the [] operation.

The third example above shows how to use a slice object. **5:** means all elements from the index 5.

The last example above shows another form of a slice object. **1:10:2** means that after index 1 you go to 10 with an increment of index 2.

**Advanced Series slicing**

The series object in pandas also supports some advanced indexing. It can be used if you want to pick up elements from a series without knowing their exact position or value. You need to know what kind of element you want and what numerical criteria it should meet. In this case, a Boolean index can be used with a series object.

As the snippet below shows, we can get all elements that are larger than the median of this data set.

In [ ]:
print("The pandas series series8 is: " )
series8 = pd.Series(range(1, 20))
print(series8)
print("\n-----------------\n")

# get all even number
s1 = series8[series8 % 2 == 0]
print("All even numbers in the series are {}".format(s1.values))
print("\n-----------------\n")

s2 = series8[series8 > 8]
print("All numbers which are larger than 8 in the series are {}".format(s2.values))
print("\n-----------------\n")

s3 = series8[series8 > series8.mean()]
print("All numbers which are larger than the mean of the series are {}".format(s3.values))
print("\n-----------------\n")

In the example above, **[series8 % 2== 0]** means we only get even numbers from the series.

In the example above, **[series8 > 8]** means we only get numbers larger than eight from the series.

In the example above, **[series8 > series8.mean()]** means we only get numbers larger than the mean of the series.

**Series Vectorization operations**

Pandas supports most of the Numpy functions. You can manipulate the series just like a Numpy ndarray. This is a very important feature because Vectorization is a more efficient operation, and in most cases, it performs much faster than pure for loops.

In [ ]:
print("The pandas series series9 is: " )
series9 = pd.Series(range(1, 8))
print(series9)

print("\n-----------------\n")

vectored1 = series9 * 2
print("Multiplying all elements by 2.\nThe original series is {}.\n"
      "The new series is {}".format(series9.values, vectored1.values))

print("\n-----------------\n")

vectored2 = series9 + series9 
print("Adding two series objects.\nThe original series is {}.\n"
      "The new series is {}".format(series9.values, vectored2.values))

print("\n-----------------\n")

vectored3 = np.sin(series9)
print("Applying sin() to all elements.\nThe original series is {}.\n"
      "The new series is {}".format(series9.values, vectored3.values))

The example shows how to do normal math operations on a Series object. As you can see, you can add two Series objects directly without a for loop.

It also shows how to apply a **sin** (**Nump**y function) operation to the entire series object.



---

### **Creating a DataFrame From Arrays and Lists**

*   Creating a Pandas DataFrame from a Numpy ndarray

*   Creating a Pandas DataFrame from a dictionary of lists

**Creating a Pandas DataFrame from a Numpy ndarray**

A Pandas DataFrame is similar to a 2D **Numpy** array which simpifies creating one from a **Numpy** **ndarray**.

Remember that the input **Numpy ndarray** array must be a two-dimensional (2D) array or you will get a ValueError.

If we pass a raw **Numpy ndarray** to **Pandas**, the index and column names start at 0 by default. We can also assign different column names to the data which will be discussed later.

In [ ]:
# create a 2x3 Numpy ndarray of random float values
nda1 = np.random.normal(size=(2,3))
print("The original Numpy array")
print(nda1)

print("\n---------------------\n")

# create a Pandas DataFrame from the ndarry da1
df1 = pd.DataFrame(nda1)
print("The DataFrame ")
print(df1)

In the example above, the 2x3 Numpy ndarray (**nda1**) of random values is passed to Pandas to create a DataFrame (**df1**) with the same content.

**Creating a Pandas DataFrame from a dictionary of lists**

We have already created a Pandas Series from a dictionary. We can also create a DataFrame object from a dictionary of lists. The difference is that in a series, the key is the index whereas, in a DataFrame, object, the key is the column name.

To specify an index for each column value, only the rows with the same index value will be joined; otherwise, a new row is created, and its columns are filled by NaN if the type is int or float.

We can specify an index for each column value by nesting a dictionary in another dictionary.

The example code below shows both single and multi-level indexing in the DataFrame.

![python-dict_to_pandas-df.png]()

In [ ]:

# example 1: init a dataframe by dict without index
dict2 = {"a": [1, 2, 3, 4], "b": [2, 4, 6, 8]}
print("The dict2 dictionary ")
print(dict2)



df2 = pd.DataFrame(dict2)
print("The df2 DataFrame ")
print(df2)

print("\n---------------------\n")

print("The values of column a in df2 are {}".format(df2["a"].values))

print("\n---------------------\n")

# example 2: init a dataframe by dict with different index
dict3 = {"a": {"a1":1, "a2":2, "c":3}, "b":{"b1":2, "b2":4, "c":9}}
df3 = pd.DataFrame(dict3)
print("The df3 DataFrame ")
print(df3)


In the **df2** example, a Python dict is created then is passed to pd.DataFrame to create a DataFrame object.

In the **df3** example, a nested Python dictionary is created, then is passed to pd.DataFrame to create a DataFrame object.

**Creating a DataFrame From a Series**


*   Create a DataFrame from a dictionary of series

*   Create DataFrame using from_dict

**Create a DataFrame from a dictionary of series**

A DataFrame can be created from a list of series or a dictionary of series.

If two series objects have different indexes, they wouldn’t be joined by an index, as the second example below shows.

In [ ]:

# example 1: series without index
series1 = {"a": pd.Series(range(1, 3)), "b": pd.Series(range(2, 4))}
print("Series1 ")
print(series1)

print("\n--------------------\n")

df1 = pd.DataFrame(series1)
print("dataframe df1 created from dict of series1 Series")
print(df1)

print("\n--------------------\n")

# example 2: series with index

series2 = {
    "a": pd.Series(range(1, 3), index=["a", "b"]),
    "b": pd.Series(range(2, 4), index=["b", "c"])
}

print("Series2 ")
print(series2)


print("\n--------------------\n")

df2 = pd.DataFrame(series2)
print("dataframe df2 created from dict of series2 Series with index")
print(df2)

**NaN** - stands for not a number, is a numeric data type used to represent any value that is undefined or unpresentable.  

In many cases, **NaN** can be treated as missing data.

A Python dict series1 is created as a Series object that is then passed to pd.DataFrame to create df1, a DataFrame object.

The second example above also creates a Python dict that is a Series object with an index.

**Create a DataFrame using from_dict**

DataFrame provides many constructors to create a new DataFrame.  We have created a DataFrame using the default constructor from dict.

DataFrame also has a **from_dict()** function, which takes a dict of dicts or a dict of array-like sequences and returns a DataFrame.

The **from_dict()** function provides the ability to use an orient parameter to re-orient the default value columns. Using the value index we can make the dict keys row labels.

In [ ]:

dict4 = {"a": [1, 2, 3, 4], "b": [2, 4, 6, 8]}
print("Dictionary dict4 ")
print(dict4)

print("\n--------------------\n")

df4 = pd.DataFrame.from_dict(dict4)
print("dataframe df4 created using from_dict(dict4) ")
print(df4)

print("\n--------------------\n")

df5 = pd.DataFrame.from_dict(dict4, orient="index")
print("dataframe df5 created using from_dict(dict4) and realigning the orientation")
print(df5)



---

### **Creating a DataFrame from a file**

*   reading a CSV file into a Pandas DataFrame